[2021-09-23 22:01] spalmer8 opened #1482 ""Select Sources and Outputs" Nothing in drop down for "Audio Output Destination""
## Description
Using the example "Select Sources and Outputs" nothing is in the drop down for "Audio Output Destination" in Firefox and Safari.

## Steps to reproduce
Open each browser (Safari, Firefox, Chrome) one at a time  to
https://webrtc.github.io/samples/src/content/devices/input-output/
and look at the "Audio Output Destination" drop down list.

## Expected results
Drop down to be populate

[2021-09-24 21:49] AndrewMeadows opened #1483 "empty frames with insertable-streams/audio-processing example"
# Please read first!
Please use [discuss-webrtc](https://groups.google.com/forum/#!forum/discuss-webrtc) for general technical discussions and questions.

- [x] I have provided steps to reproduce
- [x] I have provided browser name and version
- [x] I have provided a link to the sample here or a modified version thereof

**Note: If the checkboxes above are not checked (which you do after the issue

[2021-09-24 21:59] AndrewMeadows commented on #1480
I thought maybe this issue was talking about the bug I was experiencing with the **insertable-streams/audio-processing** example however @jamieduk did not supply enough information for me to confirm.  So I created [issue-1483](https://github.com/webrtc/samples/issues/1483) to track my problem.

[2021-09-27 09:49] smitaparna commented on #1370
Still getting 404 error in console. Harold Thétiot is that changes have pushed ?

[2021-09-29 07:23] AniketSK commented on #991
@vria @dheera @MaciejWWojcik @iamcsharper have you'll worked around this or found that it has gone away?

[2021-09-29 08:25] unicornsoftwareinc commented on #1412
Not working for me on macOS with version 94.0.4606.61 (Official Build) (x86_64)

Also, audio is not playing for me at all on both Chrome and Firefox.

[2021-09-29 10:23] iamcsharper commented on #991
It turned out to be my local mobile operator who blocked the requests, fixed with a TURN server. Be aware that not every browser/device/operator supports webrtc, it still is an experimental API.

[2021-09-29 13:04] guest271314 commented on #1412
The `<video>` begins in mute state. You should be able to unmute at the controls.

When hardware accelleration is enabled the video appears as described in https://bugs.chromium.org/p/chromium/issues/detail?id=1156408#c59, and https://bugs.chromium.org/p/chromium/issues/detail?id=1156408#c63.

[2021-09-29 13:06] #1483 closed, assigned to dogben

[2021-09-30 23:57] unicornsoftwareinc commented on #1412
@guest271314, The audio for the streamed player (player on the right) doesn't work if I unmute. Please see the attached screenshot.

<img width="1388" alt="Screen Shot 2021-09-30 at 7 54 09 PM" src="https://user-images.githubusercontent.com/33875309/135545730-315e277f-a353-4cfa-a37c-0342a6642ad7.png">

Also, in my own app when I was trying to get captureStream() to work, I had the same issue. The

[2021-10-01 00:28] guest271314 commented on #1412
I am not sure how your app uses `captureStream()`. The code at https://plnkr.co/edit/1HsvQh08tYb24810?preview uses `captureStream()` and records the received remote `MediaStreamTrack`s in answer.html, where at `console` a Blob URL of the recording including audio is printed.

[2021-10-01 01:35] naveennazimudeen opened #1485 "Audio only & record samples do not work on Chrome browser on iOS"
# Please read first!
Please use [discuss-webrtc](https://groups.google.com/forum/#!forum/discuss-webrtc) for general technical discussions and questions.

- [X] I have provided steps to reproduce
- [X] I have provided browser name and version
- [X] I have provided a link to the sample here or a modified version thereof

**Note: If the checkboxes above are not checked (which you do after the issue

[2021-10-01 17:45] dheera commented on #991
Since nobody responded I used websockets for data instead of the data channel in the application I was developing at the time. But I can retry and see if I can get it working.

[2021-10-02 07:35] AniketSK commented on #991
It seems that a fix in m93 dealt with this problem.

On Fri, Oct 1, 2021 at 11:15 PM Dheera Venkatraman ***@***.***>
wrote:

[2021-10-11 06:55] thusinh1969 commented on #1227
Firefox works for me, not Chrome :( ...

[2021-10-15 03:11] amerfathullah opened #1487 "getUserMedia() returns error in iOS 15"
# Please read first!
Please use [discuss-webrtc](https://groups.google.com/forum/#!forum/discuss-webrtc) for general technical discussions and questions.

- [x] I have provided steps to reproduce
- [x] I have provided browser name and version
- [x] I have provided a link to the sample here or a modified version thereof

**Note: If the checkboxes above are not checked (which you do after the issue

[2021-10-19 14:22] #1467 closed, assigned to youennf

[2021-10-20 00:35] AndrewMeadows opened #1488 "Unable to use insertable-streams on inbound WebRTC audio stream"
- [X ] I have provided steps to reproduce
- [X ] I have provided browser name and version
- [X ] I have provided a link to the sample here or a modified version thereof

## Browser affected

Google Chrome 94.0.4606.54 (64-bit), Ubuntu Linux 20.04

## Description
Unable to use **insertable-streams** on inbound WebRTC audio stream.  Well... actually it is possible however it requires a workaround us

[2021-10-20 09:24] fippo commented on #1488
@dogben any idea what might cause this?

[2021-10-24 07:35] Llorx commented on #1243
How do you hear the audio if you set the volume to 0?

[2021-10-28 19:35] AndrewMeadows commented on #1488
I created an issue for this bug against Chrome here: https://bugs.chromium.org/p/chromium/issues/detail?id=1264539

[2021-10-30 13:23] rayj00 opened #1490 "stylesheet?"
Where is the stylesheet mentioed in the html file?

[2021-11-01 12:18] olkotz commented on #1431
Hello @izzyzizou, i have the same problem with my Mac, you ware able to solve this problem?

Thank you so Much!!!

[2021-11-15 10:09] regnaio commented on #1227
Seeing the same issue on Chrome.. Works great in Firefox

[2021-11-15 10:12] regnaio commented on #1232
Google Chrome has the error:

The server stun:stun.l.google.com:19302 returned an error with code=701

Firefox works great though

https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/

[2021-11-15 10:38] alvestrand commented on #1232
Stun code 701 is SERVER NOT REACHABLE.
If you have logs from the server showing that a packet reached it and a reply was returned, this is most likely a firewall problem, and needs to be solved on your local network.

This bug is closed because it is not a bug in the samples. Please don't pile on.

[2021-11-15 10:59] alvestrand commented on #1227
Error code 701 is likely a network configuration error, and is unlikely to be a bug in the samples.
Please don't comment on closed bugs; open a new one if you think it's a bug in samples; otherwise, go to the browser's bug tracker.

[2021-11-24 21:07] samjco opened #1494 "Storing recorded video locally to a folder."
Very Nice Example here:
https://webrtc.github.io/samples/src/content/getusermedia/record/

When I click the Download button it works as it should allowing me to save to my drive.

I was wondering if I wanted to save it to a local folder on my server come that be done when the Download call in the js script shown?
https://github.com/webrtc/samples/blob/gh-pages/src/content/getusermedia/record/js/ma

[2021-11-30 12:06] mqasim423 commented on #1490
Maybe it will helpful for you.
The main CSS file located in  src/css
and in src/content/peerconnection directory
each folder has its own CSS file

[2021-11-30 12:46] mqasim423 opened #1495 "it should be, Offer from pc2."
# Please read first!
Please use [discuss-webrtc](https://groups.google.com/forum/#!forum/discuss-webrtc) for general technical discussions and questions.

- [X ] I have provided steps to reproduce
- [X ] I have provided browser name and version
- [X ] I have provided a link to the sample here or a modified version thereof

**Note: If the checkboxes above are not checked (which you do after the iss

[2021-12-01 07:38] joinwen commented on #1392
capture virtual camera stream by web, I also have the problem

[2021-12-01 21:04] mlnoga opened #1498 "Select audio and video source fails silently on Chrome/Android for external USB device"
# Please read first!
Please use [discuss-webrtc](https://groups.google.com/forum/#!forum/discuss-webrtc) for general technical discussions and questions.

- [x ] I have provided steps to reproduce
- [x ] I have provided browser name and version
- [ x] I have provided a link to the sample here or a modified version thereof

**Note: If the checkboxes above are not checked (which you do after the iss

[2021-12-02 18:06] in-fke opened #1499 "Trickle ICE should catch Exceptions in start function for better error handling"
- [x] I have provided steps to reproduce
- [x] I have provided browser name and version
- [x] I have provided a link to the sample here or a modified version thereof

## Browser affected

Windows Chrome Version 96.0.4664.45 (Offizieller Build) (64-Bit)

## Description

Entering an invalid (?) TURN Url will lead to silent JS exception (not properly logged in browser console).

## Steps to reproduce

[2021-12-12 14:37] stiv-yakovenko opened #1501 "Trickle ICE seems to report wrong error"
Try Trickle ICE (https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/) with stun:stun.l.google.com:19302:

![image](https://user-images.githubusercontent.com/4163254/145716673-9c16ca45-73c5-4d96-a944-85c4a6c2400b.png)
I get:
[code]
I get same error with my own correctly working TURN server and other people reporting the same. May it be a bug in Trickle ICE?

[2021-12-18 12:34] chetanmaniya opened #1504 "VideoCall not working"
# Please read first!
Please use [discuss-webrtc](https://groups.google.com/forum/#!forum/discuss-webrtc) for general technical discussions and questions.

- [ ] I have provided steps to reproduce
- [ ] I have provided browser name and version
- [x] I have provided a link to the sample here or a modified version thereof

**Note: If the checkboxes above are not checked (which you do after the issue

[2021-12-20 08:51] fippo commented on #1504
apprtc was turned off, see https://groups.google.com/g/discuss-webrtc/c/H7XuZfgkGH0/m/Q0BKTWZICgAJ

[2021-12-21 09:06] hthetiot commented on #1504
As part of couple of WebRTC open source projects that I maintain, I do receive donations via GitHub Sponsor, I'm willing to invest part of this donations into an apprtc hosting (EC2 instance with Turn)  and a DNS domain (apprtc.dev) to assit the WebRTC community to transition away from old apprtc. Let me know what you think @fippo

[2021-12-24 04:50] sondcdev commented on #1501
Same, Can anyone suggest me an alternative to test whether my STUN/TURN server work? Thanks

[2021-12-30 10:29] fippo commented on #1504
@hthetiot I don't work or speak for Google but it is rather unlikely that lack of resources were the problem given it was running on appengine.

Externalizing apprtc is not going to help since its value in the last five years was that it was accepted as *their* reference app and there was no discussion or confusion about whether the code is correct or not.

[2021-12-31 10:04] hunter858 opened #1505 "NO voice on M1 macbook"
# Please read first!
Please use [discuss-webrtc](https://groups.google.com/forum/#!forum/discuss-webrtc) for general technical discussions and questions.

- [ ] I have provided steps to reproduce
- [ ] I have provided browser name and version
- [ ] I have provided a link to the sample here or a modified version thereof

**Note: If the checkboxes above are not checked (which you do after the issue

[2022-01-03 09:37] alvestrand commented on #1504
Not a samples issue, so closing - further discussion should happen on the apprtc repo - https://github.com/webrtc/apprtc

[2022-01-03 09:37] #1504 closed, assigned to nobody

[2022-01-13 12:45] Ali-Raza-Developer commented on #1141
bro is you solve it.I face the same issue right now

[2022-01-18 17:28] AlexRetortJS commented on #1431
I also have this problem 😢  it seems to be node_modules/chromedriver that is causing the issue on my Mac. Has anyone been able to fix this?

[2022-01-20 07:06] Joeychen80627 commented on #1431
same problem...

[2022-01-22 23:27] MikeBusuttil opened #1509 "Code sample using depreciated createScriptProcessor function"
- [x] I have provided steps to reproduce
- [x] I have provided browser name and version
- [x] I have provided a link to the sample here or a modified version thereof

## Browser affected

Internet Explorer (all versions)

## Description

The [Audio Stream Volume](https://github.com/webrtc/samples/blob/gh-pages/src/content/getusermedia/volume/js/soundmeter.js) sample uses the depreciated `BaseAudio

[2022-01-23 18:50] JamesDrummond opened #1510 "Sample for canvas-video video not working."
- [x] I have provided steps to reproduce
- [x] I have provided browser name and version

**Note: If the checkboxes above are not checked (which you do after the issue is posted), the issue will be closed.**

## Browser affected

**Browser name including version (e.g. Chrome 97.0.4692.99)**

## Description
Sample for canvas-video video not working. I got it working by changing the following.
![imag

[2022-01-25 15:44] peterzanetti commented on #1243
Here is another valid scenario: I am trying to do transcription (voice-to-text) during a WebRTC call. Works fine except for the fact that there is no AEC outside of the call itself. Despite using getUserMedia() with audio constraints for echoCancellation and noiseSuppression, it has no effect on the transcription, so the remote party's voice coming through the speakers is picked up and transcribed

[2022-01-26 06:51] pingqiaotoufu commented on #1338
I have the same problem on android. I use the [React Native WebRTC](https://github.com/react-native-webrtc/react-native-webrtc.git)with the M89 lib.
In my code:
`async function load_media_device(){
   await mediaDevices.enumerateDevices().then(devices =>
    devices.forEach(device => {
      console.log(device.kind + ": " + device.label +
      " id = " + device.deviceId)
      let el = null

[2022-01-26 11:44] meesrutten commented on #1510
bump!

[2022-01-28 18:56] skiiiks opened #1512 "WebRTC getUserMedia does not work with audio just in in-app iOS browser (>=15.1, previous versions worked)"
- [x] I have provided steps to reproduce
- [x] I have provided browser name and version
- [x] I have provided a link to the sample here or a modified version thereof

## Browser affected

Mozilla/5.0 (iPhone; CPU iPhone OS 15_1_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148 [LinkedInApp]

## Description

Let's take this example: https://webrtc.github.io/samples/src/content

[2022-01-30 17:10] alvestrand commented on #1512
Do you know if any app that uses GetUserMedia with audio works in the LinkedIn app?

It would be consistent with the symptoms reported if the LinkedIn app does not have microphone permission.

[2022-01-30 17:36] skiiiks commented on #1512
Maybe LinkedIn app has been "updated", I don't know.

But I can tell FOR SURE, that with iOS 14.5, 14.7, 14.8, and even 15.0.1, it was working.
I had a tech working, but since iOS 15.1 stopped to work this feature.

I don't think it's something about LinkedIn app itself, but the WebView component of iOS later versions

[2022-01-30 21:26] alvestrand commented on #1512
Seems to be either an IOS error or a LinkedIn error (not getting microphone permission).
Closing bug, as there seems like nothing we can do on the samples side; feel free to refer to this issue when reporting the issue to Apple and/or LinkedIn.

[2022-01-30 21:26] #1512 closed, assigned to nobody

[2022-01-30 21:26] alvestrand commented on #1512
tagging @youennf for interest.

[2022-01-31 08:15] youennf commented on #1512
I just tried LinkedIn app in latest iOS 15.4 beta and it works for me.
I would hope it would work as well before then.
@skiiiks, can you check whether microphone access is allowed in System settings for LinkedIn?
If that is the case, you can file a bug in bugs.webkit.org, or send me privately a sysdiagnose (youenn@apple.com) to look at the issue.

[2022-01-31 08:16] youennf commented on #1512
I just tried LinkedIn app in latest iOS 15.4 beta and it works for me.
I would hope it would work as well before then.
@skiiiks, can you check whether microphone access is allowed in System settings for LinkedIn?
If that is the case, you can file a bug in bugs.webkit.org, or send me privately a sysdiagnose (youenn@apple.com) to look at the issue.

[2022-02-02 05:18] has-n commented on #1243
@chrbsg sorry for necroing an old thread but wanted to pick your brain. Do you think the WASM method would work for AEC instead of resampling?

[2022-02-02 05:19] has-n commented on #1243
@chrbsg sorry for necroing an old thread but wanted to pick your brain. Do you think the WASM method would work for AEC instead of resampling?

[2022-02-02 10:55] chrbsg commented on #1243
@has-n Do you mean implementing AEC in WASM? I'm not convinced it would do anything more than the existing desktop Chrome AEC. Your code has no access to audio produced by other tabs, so the microphone will still pick it up and send it to the other side (which was the original problem that this issue was created for - playing YouTube in another tab, and expecting the audio to be cancelled after be

[2022-02-09 15:44] maikthomas opened #1514 "Safari w/ Headphones capture failure in sample due to AudioContext not releasing resources"
- [x] I have provided steps to reproduce
- [x] I have provided browser name and version
- [x] I have provided a link to the sample here or a modified version thereof

## Browser affected

Safari Version 15.0 (16612.1.29.41.4, 16612) on Mac

## Description
When running the Audio stream volume example: https://webrtc.github.io/samples/src/content/getusermedia/volume/
On Safari with Bluetooth headpho

[2022-02-17 10:46] stunninglaw commented on #1431
Guys, if you go in package.json you can edit the version of Chrome you want to install. I had an old version in the previous file, changed it manually and now it works.
change `"chromedriver": "^80.0.0"`,  to `"chromedriver": "^98.0.0" `
Hope it helps.

[2022-02-17 11:50] #1431 closed, assigned to nobody

[2022-02-19 16:08] hdev72 opened #1519 "webrtc disable my voice for one of peers not all"
hello dear friends
im working on one to many connection in webrtc and now i want disable my audio and video for one of peers not all
how is it possible? if i disable my audioTrack it will mute me for all peers but i want to disable my voice for some of peers not all
if i send to peers to disable me they can hack and reject my request so i should do it in my side not other peers sides
is there any

[2022-02-19 19:50] hdev72 commented on #1519
resolved with this:
peerConnection.getReceivers().get(i).track().setEnabled(enable/disable);
peerConnection.getSenders().get(i).track().setEnabled(enable/disable);

[2022-02-19 19:50] #1519 closed, assigned to nobody

[2022-02-22 16:44] Level60Warlock opened #1520 "Full featured WebRTC application sample not available"
# Please read first!
Please use [discuss-webrtc](https://groups.google.com/forum/#!forum/discuss-webrtc) for general technical discussions and questions.

- [x] I have provided steps to reproduce
- [x] I have provided browser name and version
- [x] I have provided a link to the sample here or a modified version thereof

**Note: If the checkboxes above are not checked (which you do after the issue

[2022-02-22 18:45] alvestrand commented on #1520
This service has been shut down. Instructions for running your own instance are at https://github.com/webrtc/apprtc

[2022-02-22 18:45] #1520 closed, assigned to nobody

[2022-02-22 22:42] Level60Warlock commented on #1520
@alvestrand  - That's great... but the samples page should be updated to reflect this, no?
https://github.com/webrtc/samples/blob/gh-pages/index.html

[2022-02-22 22:47] alvestrand commented on #1520
Right you are. Fixed.

[2022-02-22 22:47] alvestrand commented on #1520
And thanks for pointing it out after I missed it!

[2022-02-23 13:02] fippo commented on #1514
fixed!

[2022-02-23 13:02] #1514 closed, assigned to nobody

[2022-02-23 13:25] #1057 closed, assigned to alvestrand

[2022-02-23 13:26] fippo commented on #1155
i think we are back to a relatively normal state now

[2022-02-23 13:26] #1155 closed, assigned to nobody

[2022-02-24 10:10] fippo commented on #1147
it is gone (well, almost)

[2022-02-24 10:10] #1147 closed, assigned to nobody

[2022-02-24 10:10] #1170 closed, assigned to nobody

[2022-02-24 10:12] #1257 closed, assigned to nobody

[2022-02-24 10:12] #1292 closed, assigned to nobody

[2022-02-25 03:14] RemedialGenius opened #1525 "https://drive.google.com/file/d/1AF_bGLXOEuW7oEikde1M35du8T7HyrCl/view?usp=drivesdk"
Intelligence

[2022-02-25 03:16] RemedialGenius commented on #1525
Watch thid

[2022-02-25 03:19] RemedialGenius commented on #1525
https://drive.google.com/file/d/1AF_bGLXOEuW7oEikde1M35du8T7HyrCl/view?usp=drives do

[2022-02-25 07:41] #1525 closed, assigned to nobody

[2022-02-25 07:42] alvestrand commented on #1525
Please don't post irrelevant material.

[2022-02-27 22:34] alvestrand commented on #1446
What is it that works only when both devices are on the same network?

[2022-03-01 02:33] duqich commented on #1339
$ npm install http-server -g
$ npm run start

[2022-03-15 05:58] mghadam commented on #1227
It works for me in Chrome when I check the " Acquire microphone/camera permissions" option and allow Trickle ICE to use Microphone/Camera. Without this option it returns 701 error.

[2022-03-15 06:01] alvestrand commented on #1227
@mghadam this is typical of errors where IP connectivity works but MDNS name resolution does not.
If you need to pursue this further, please open a new bug and describe your network setup.

[2022-03-20 08:18] fippo commented on #1501
as pointed out by the note which says
[code]
this is expected behavior

[2022-03-20 08:18] #1501 closed, assigned to nobody

[2022-03-20 08:22] fippo commented on #1156
this was fixed in #1175

[2022-03-20 08:22] #1156 closed, assigned to nobody

[2022-03-20 08:23] fippo commented on #1129
this is expected, IE never supported these APIs.

[2022-03-20 08:23] #1129 closed, assigned to nobody

[2022-03-20 08:23] #1118 closed, assigned to nobody

[2022-03-20 08:25] fippo commented on #1159
the old code handles this better so this is obsolete

[2022-03-20 08:25] #1159 closed, assigned to nobody

[2022-03-20 08:26] #1210 closed, assigned to nobody

[2022-03-20 08:27] fippo commented on #1160
obsolete since the old code behaves that way

[2022-03-20 08:27] #1160 closed, assigned to nobody

[2022-03-20 08:28] fippo commented on #1171
old code behaves a bit better here

[2022-03-20 08:28] #1171 closed, assigned to nobody

[2022-03-20 08:29] fippo commented on #1168
closing per the comment above.

[2022-03-20 08:29] #1168 closed, assigned to nobody

[2022-03-20 08:30] fippo commented on #1200
should no longer happen with the old code that came back

[2022-03-20 08:30] #1200 closed, assigned to nobody

[2022-03-20 08:30] fippo commented on #1196
nighwatch is now gone and npm test should work better again

[2022-03-20 08:30] #1196 closed, assigned to nobody

[2022-03-20 08:31] fippo commented on #1460
see https://webrtchacks.com/capture-handle/ for a discussion of the hall-of-mirrors effect and some suggestions to avoid it

[2022-03-20 08:31] #1460 closed, assigned to nobody

[2022-03-20 08:32] fippo commented on #1289
there is no such file in this repository.

[2022-03-20 08:32] #1289 closed, assigned to nobody

[2022-03-20 08:33] fippo commented on #1190
This is an expected consequence of unified-plan.

[2022-03-20 08:33] #1190 closed, assigned to nobody

[2022-03-20 08:33] fippo commented on #1271
there is a sample now: https://webrtc.github.io/samples/src/content/peerconnection/perfect-negotiation/

[2022-03-20 08:33] #1271 closed, assigned to nobody

[2022-03-20 08:34] #1280 closed, assigned to nobody

[2022-03-20 08:37] fippo commented on #1476
this is not an issue with the samples. If it remains file a chrome bug.

[2022-03-20 08:37] #1476 closed, assigned to nobody

[2022-03-20 08:37] fippo commented on #1364
closing as the template was ignored.

[2022-03-20 08:37] #1364 closed, assigned to nobody

[2022-03-20 08:39] #1349 closed, assigned to nobody

[2022-03-20 08:39] fippo commented on #1392
closing as this is not an issue with the samples

[2022-03-20 08:39] #1392 closed, assigned to nobody

[2022-03-20 08:40] fippo commented on #1264
nightwatch is gone

[2022-03-20 08:40] #1264 closed, assigned to nobody

[2022-03-20 08:42] fippo commented on #1240
works here as well as on the ci runners

[2022-03-20 08:42] #1240 closed, assigned to nobody

[2022-03-20 08:42] fippo commented on #1221
not clear what the issue is

[2022-03-20 08:42] #1221 closed, assigned to nobody

[2022-03-20 08:43] #1237 closed, assigned to nobody

[2022-03-20 08:43] fippo commented on #1228
not clear how this is an issue with the samples

[2022-03-20 08:43] #1228 closed, assigned to nobody

[2022-03-20 08:44] fippo commented on #1220
not clear how this is an issue with the samples

[2022-03-20 08:44] #1220 closed, assigned to nobody

[2022-03-20 08:45] fippo commented on #1236
this is not an issue with the javascript samples

[2022-03-20 08:45] #1236 closed, assigned to nobody

[2022-03-20 08:46] fippo commented on #1173
track.stop works but note that you must call it on *all* tracks you acquire via getusermedia.

[2022-03-20 08:46] #1173 closed, assigned to nobody

[2022-03-20 08:46] fippo commented on #1231
unclear what sample this refers to

[2022-03-20 08:46] #1231 closed, assigned to nobody

[2022-03-20 08:50] fippo commented on #1209
`stuns` is not supported in Chrome so the javascript of the page does not accept it

[2022-03-20 08:50] #1209 closed, assigned to nobody

[2022-03-20 08:52] fippo commented on #1353
duping into #1509

[2022-03-20 08:52] #1353 closed, assigned to nobody

[2022-03-20 08:53] fippo commented on #1332
Feel free to provide more explanation.

[2022-03-20 08:53] #1332 closed, assigned to nobody

[2022-03-20 08:53] #1341 closed, assigned to nobody

[2022-03-20 08:54] #1340 closed, assigned to nobody

[2022-03-20 08:58] fippo commented on #1409
please use the chrome bug for discussion (and no, this is still not fixed for video)

[2022-03-20 08:58] #1409 closed, assigned to nobody

[2022-03-20 09:01] fippo commented on #1482
the required API isn't there in those browsers so this is expected

[2022-03-20 09:03] fippo commented on #1297
feel free to provide a PR. I don't think any nonstandard css is used for links

[2022-03-20 09:03] #1297 closed, assigned to nobody

[2022-03-20 09:04] #1298 closed, assigned to nobody

[2022-03-20 09:04] #1448 closed, assigned to nobody

[2022-03-20 12:52] alvestrand commented on #1482
we could consider this a request for a clearer error message.

On Sun, Mar 20, 2022 at 10:01 AM Philipp Hancke ***@***.***>
wrote:

[2022-03-20 13:07] fippo commented on #1216
the discussion here has probably been overtaken by events such as the dcsctp library

[2022-03-20 13:07] #1216 closed, assigned to nobody

[2022-03-20 13:08] #1459 closed, assigned to nobody

[2022-03-20 13:09] #1480 closed, assigned to nobody

[2022-03-20 13:12] fippo commented on #1422
wrong repository, if this still persists file an issue over at https://bugs.chromium.org/p/webrtc/issues/list

[2022-03-20 13:12] #1422 closed, assigned to nobody

[2022-03-21 07:42] henbos commented on #1166
https://webrtc.github.io/samples/src/content/peerconnection/negotiate-timing/ uses multiple transceivers, you can select how many to negotiate. However it is not a very friendly demo, because the only purpose of it was to measure negotiation speed and whether or not glitches happen, it doesn't do anything with those transceivers, so it's not really illustrating receiving multiple streams etc.

[2022-03-21 07:43] henbos commented on #1166
I think it would be worth making a test page for this, but I don't have time to do it any time soon.

[2022-03-25 08:06] hktalent opened #1530 "。"
x

[2022-03-25 08:08] #1530 closed, assigned to nobody

[2022-03-29 13:50] alvestrand commented on #1446
Closing due to no followup from poster.

[2022-03-29 13:50] #1446 closed, assigned to nobody

[2022-03-29 13:51] alvestrand commented on #1432
with the switch to dcsctp, bufferedamountlow should be unbuggy now.
If not, file a bug in bugs.webrtc.org

[2022-03-29 13:51] #1432 closed, assigned to nobody

[2022-04-01 11:29] jim-king-2000 opened #1532 "Need a reverse sample of "upgrade a call and turn video on""
## Description
The sample [upgrade a call and turn video on](https://webrtc.github.io/samples/src/content/peerconnection/upgrade/) is very intuitive. However, we need a reverse sample which could "degrade a call and turn video off".

[2022-04-05 07:18] fippo commented on #1495
the offer is from the pc1 object so this is correct. However, the logging is too verbose and one of those logs should be removed

[2022-04-06 07:20] mcdade commented on #1487
I have seen the same issue on iPhone SE2 running 14.8.1.

[2022-04-07 11:26] #1495 closed, assigned to nobody

[2022-04-07 15:21] #1397 closed, assigned to nobody

[2022-04-07 15:24] #1358 closed, assigned to nobody

[2022-04-07 15:35] #1490 closed, assigned to nobody

[2022-04-07 15:37] fippo commented on #1123
at least the basic sample works so there is nothing actionable here anymore

[2022-04-07 15:37] #1123 closed, assigned to nobody

[2022-04-07 15:38] fippo commented on #1202
no longer relevant (and apprtc is gone)

[2022-04-07 15:38] #1202 closed, assigned to nobody

[2022-04-07 15:40] #1285 closed, assigned to nobody

[2022-04-07 15:42] fippo commented on #1436
@dogben do you still want to do this? The cropping sample uses a worker so we have an example of how it should be done

[2022-04-07 15:42] fippo commented on #1499
actually fixed as part of #1535

[2022-04-07 15:42] #1499 closed, assigned to nobody

[2022-04-08 07:14] dogben commented on #1436
I think it would be a good idea, since the final spec that reached consensus (https://www.w3.org/TR/mediacapture-transform/) has the MediaStreamTrackProcessor and VideoTrackGenerator exposed only on DedicatedWorker. Making the sample fully spec-compliant seems desirable.

@alvestrand

[2022-04-08 07:24] fippo commented on #1167
autoplay detection has been added to this in the meantime

[2022-04-08 07:24] #1167 closed, assigned to nobody

[2022-04-08 07:29] fippo commented on #1174
closing as it is not related to the samples but should have been discussed on [discuss-webrtc](https://groups.google.com/g/discuss-webrtc)

[2022-04-08 07:29] #1174 closed, assigned to nobody

[2022-04-08 07:30] fippo commented on #1187
duplicate of #1123

[2022-04-08 07:30] #1187 closed, assigned to nobody

[2022-04-08 07:34] #1254 closed, assigned to nobody

[2022-04-08 07:34] #1245 closed, assigned to nobody

[2022-04-08 11:03] fippo commented on #1184
not an issue with the samples

[2022-04-08 11:03] #1184 closed, assigned to nobody

[2022-04-08 11:03] #1219 closed, assigned to nobody

[2022-04-08 11:05] fippo commented on #1488
closing since the chrome bug is a better place to get this fixed (but seems to lack traction :-()

[2022-04-08 11:05] #1488 closed, assigned to nobody

[2022-04-08 11:06] #1294 closed, assigned to nobody

[2022-04-13 16:28] #1505 closed, assigned to nobody

[2022-04-14 11:08] fippo commented on #1302
looks like this was fixed by the cros bugfix, please holler if that is not the case

[2022-04-14 11:08] #1302 closed, assigned to nobody

[2022-04-16 14:54] fippo commented on #1443
since you removed the template it is not clear what sample this is an issue with even, closing.

[2022-04-16 14:54] #1443 closed, assigned to nobody

[2022-04-20 04:40] rafalsk commented on #1243
(..) noise cancellation for web-rtc streams used to work fine for us, but that is no more in recent versions of Chromium.

[2022-04-23 11:55] #1218 closed, assigned to nobody

[2022-04-23 11:56] #1337 closed, assigned to nobody

[2022-04-23 12:01] #1179 closed, assigned to nobody

[2022-04-23 12:02] fippo commented on #1172
the getDisplayMedia sample no longer uses a peerconnection so this has been overtaken by events

[2022-04-23 12:02] #1172 closed, assigned to nobody

[2022-04-23 12:52] #1389 closed, assigned to nobody

[2022-04-23 12:53] #1239 closed, assigned to nobody

[2022-04-23 13:11] #1339 closed, assigned to nobody

[2022-04-23 13:14] fippo commented on #1204
nightwatch is gone. `npm start` starts a http server.

[2022-04-23 13:14] #1204 closed, assigned to nobody

[2022-04-23 14:36] fippo commented on #1198
looks like stackoverflow yielded an answer

[2022-04-23 14:36] #1198 closed, assigned to nobody

[2022-04-23 14:40] jimmywarting commented on #1198
yup, indeed :)

[2022-04-24 08:59] #1311 closed, assigned to nobody

[2022-04-25 06:01] alvestrand commented on #1218
This is a Safari bug, I believe. Echo cancellation is supposed to be supported as a constraint.
Note: if Safari doesn't show echoCancellation in getCapabilities, Safari is at least consistent.

[2022-04-25 06:04] #1178 closed, assigned to nobody

[2022-04-25 06:13] fippo commented on #1251
at least for the samples this has been addressed by the "Note: errors from onicecandidateerror above are not neccessarily fatal. For example an IPv6 DNS lookup may fail but relay candidates can still be gathered via IPv4" note.

[2022-04-25 06:13] #1251 closed, assigned to nobody

[2022-04-25 07:31] fippo commented on #1222
not an issue with the samples. Please file a chrome bug if this is still an issue

[2022-04-25 07:31] #1222 closed, assigned to nobody

[2022-04-25 07:38] #1510 closed, assigned to nobody

[2022-04-25 07:43] fippo commented on #1370
already reported in #1165. It is amazing to see so many comments on something that is trivial to fix.

[2022-04-25 07:43] #1370 closed, assigned to nobody

[2022-04-25 07:50] fippo commented on #1163
The browser UI can't be overridden or controlled by the web page (for good reasons!)

[2022-04-25 07:50] #1163 closed, assigned to nobody

[2022-04-25 07:58] fippo commented on #1457
ping. I think we've made some progress on Android ICE bugs.

[2022-04-25 08:00] #1165 closed, assigned to nobody

[2022-04-25 08:04] fippo opened #1551 "Sample for iframe + permissions"
https://developer.chrome.com/docs/privacy-sandbox/permissions-policy/
has some nice things which would be good to show

Also covers #1162

[2022-04-25 08:05] fippo commented on #1189
file a chrome bug if this still happens

[2022-04-25 08:05] #1189 closed, assigned to nobody

[2022-04-25 08:06] fippo commented on #1350
we're in a much better state now and have an escalation path in case of vandalism

[2022-04-25 08:06] #1350 closed, assigned to nobody

[2022-04-25 08:10] fippo commented on #1213
the [bandwidth sample](https://webrtc.github.io/samples/src/content/peerconnection/bandwidth/) covers this

[2022-04-25 08:10] #1213 closed, assigned to nobody

[2022-04-25 08:26] fippo commented on #1121
unlikely to happen. We should get rid of dtmf! ;-)

[2022-04-25 08:26] #1121 closed, assigned to nobody

[2022-04-25 08:58] fippo commented on #1235
The sample only supports a single m-line. If you need both audio and video you'll have to modify it (preferably for the more modern getSenders approach)

[2022-04-25 08:58] #1235 closed, assigned to nobody

[2022-04-25 11:41] remainfox opened #1552 "can not gather reflex candidate and relay candidate in chrome"
`chrome version`: 99.0.4844.84
`stun server`: stun:stun.l.google.com:19302
`websocket server`: send right offer sdp
`problem`: i can not gather reflex candidate and relay candidate, but stun server is test ok

**code as follow:**

[code]

**offer sdp from websocket server**:
[code]

**web local sdp**
[code]

[2022-04-25 12:28] fippo commented on #1552
Please use the discuss-webrtc list (or possibly the janus group) for asking general questions as was suggested in the deleted issue template.

[2022-04-25 12:28] #1552 closed, assigned to nobody

[2022-04-26 06:51] fippo commented on #1248
file a chrome bug if this persists

[2022-04-26 06:51] #1248 closed, assigned to nobody

[2022-04-26 06:53] fippo commented on #1485
can't reproduce - this error typically suggests the user denied access.

[2022-04-26 06:53] #1485 closed, assigned to nobody

[2022-04-26 08:50] murugancmi commented on #1251
@fippo we are facing srflx issue from STUN, ICE Gathering fail on chrome 100.0.4896.127 (MAc)

![Screenshot 2022-04-26 at 2 19 44 PM](https://user-images.githubusercontent.com/25261553/165261422-7ffef933-d6ee-4c1e-9446-008d7332ff1f.png)

[2022-04-27 06:29] fippo commented on #1319
assigning to henbos who sometimes finds the magic edit button

[2022-05-07 16:53] ychen884 commented on #529
Please help me! I met a quite similar issue to @martinoshin.

@martinoshin Could you tell me how you eventually solved this?
I am using a simple webRTC application on my server-client testbed.

Here is what the testbed topology looks like:
Server: NIC to external network with public ip 128.x.x.x, and another NIC connected only to the client with ip 192.168.100.1
Client: NIC to external network wit

[2022-05-08 21:33] alvestrand commented on #529
This is a question, and so it belongs on discuss-webrtc@googlegroups.com - please join that mailing list!

If you want to make sure you use only the 192.168.100 addresses, you must discard all other candidates, and also filter the SDP exchanged between the endpoints to remove the references to such addresses.

If you don't see the addresses as candidates, you may be out of luck.

[2022-05-25 12:24] prakhar-shukla-in commented on #1227
Turn needs realm for its authentication process.

I got the issue after fiddling with wireshark for a day.

For some reason firefox appends an empty realm if it can't find one but chrome and edge don't append any default realm. Since chrome and edge are not appending any realm your TURN server will not be able to authenticate. If you capture packets using wireshark you'll see that its flooded with

[2022-05-27 11:56] murugancmi opened #1556 "Trickle ICE Failed"
- [x] I understand that issues created here are _only_ relevant to the samples in this repo - not browser or SDK bugs
- [x] I have provided steps to reproduce
- [x] I have provided browser name and version
- [x] I have provided a link to the sample here or a modified version thereof

**Note: If the checkboxes above are not checked (which you do after the issue is posted), the issue will be closed.

[2022-05-27 12:21] rajneeshksoni commented on #1556
Can you check first running the [getUserMedia sample](https://webrtc.github.io/samples/src/content/getusermedia/gum/)
allow camera and then run the trickle ice sample i think it should work.

i think it is related to [this](https://bloggeek.me/psa-mdns-and-local-ice-candidates-are-coming/).

[2022-05-28 10:59] murugancmi commented on #1556
No still the same issue please have a look

![Screenshot 2022-05-28 at 4 28 25 PM](https://user-images.githubusercontent.com/25261553/170822546-a4482ec5-deae-4381-94e0-fe937e3a6db8.png)

[2022-06-09 16:22] phsultan commented on #1243
This Chrome flag seems to address the issue of extending the scope of audio sources for AEC:
chrome://flags/#chrome-wide-echo-cancellation

Testing a similar use case as yours @peterzanetti, a WebRTC call with the audio from participants being processed by the Chrome's WebSpeech API (where I assume AEC is activated). Without the flag enabled, audio from remote participants is fed back to the local

[2022-06-10 15:43] peterzanetti commented on #1243
That's very interesting, I'm going to test this. Strange that this flag even exists, and isn't enabled by default. I can't imagine the value of it being disabled.

[2022-06-16 12:04] mahadevan-muthirakumaran opened #1559 "How to activate front and back camera in android and ios using Webrtc"
Hi ,
   I am new for webrtc world. Myself created one new video call application using webrtc. By changing the camera front and back (FLIP option).

MediaConfig mediaConfig = new MediaConfig();
ICall mCall=UnityCallFactory.Instance.Create(NetConfig);
mCall.CallEvent += Call_CallEvent;
mMediaConfig.VideoDeviceName = "1";
mMediaConfig.Video = true;
mCall.Configure(mMediaConfig);

Above code is initi

[2022-06-16 20:33] peterzanetti commented on #1243
Tested this today and unfortunately did not work for me.

[2022-06-23 03:48] fippo commented on #1559
You'll have to find another place for support wrt Unity, as pointed out in the template that you deleted, issues in this repository should be about the JS/web samples it contains

[2022-06-23 03:48] #1559 closed, assigned to nobody

[2022-06-30 01:25] k-funk commented on #1482
Also seemed like a bug to me. In chrome, on ios 15.5, there's no audio output sources. The audio also goes silent after refreshing the page .

[2022-07-01 10:41] fippo commented on #1556
are you using any "privacy" extensions which might tamper with how WebRTC behaves? Not gathering any candidates is quite unusual

[2022-07-04 08:35] #1532 closed, assigned to nobody

[2022-07-18 22:48] evanmcarlson opened #1565 "Camera feed is not drawn via WeChat WebView"
- [x] I understand that issues created here are _only_ relevant to the samples in this repo - not browser or SDK bugs
- [x] I have provided steps to reproduce
- [x] I have provided browser name and version
- [x] I have provided a link to the sample here or a modified version thereof

## Browser affected
WeChat WebView on iOS 13+ (Version 8.0.25)

## Description
None of the getUserMedia demos are w

[2022-07-19 19:37] evanmcarlson commented on #1565
We've found that calling `play` on the video in `handleSuccess` resolves the issue.

<img width="635" alt="image" src="https://user-images.githubusercontent.com/35385537/179834018-d89b73fa-9bd3-4cdb-a4e8-693fc4ed8b49.png">

[2022-07-21 00:35] evanmcarlson commented on #1565
[official demo](https://webrtc.github.io/samples/src/content/getusermedia/gum/) (not working via WeChat) / [custom demo](https://shrek.imdevsh.com/demo/webrtc/basic/) (working via WeChat)

[2022-07-22 08:47] santo4ul opened #1567 "Question: Recording remote (incoming) audio in a peer connection"
- [x] I understand that issues created here are _only_ relevant to the samples in this repo - not browser or SDK bugs
- [x] I have provided steps to reproduce
- [x] I have provided browser name and version
- [x] I have provided a link to the sample here or a modified version thereof

Browser Version: Chrome Version 102.0.5005.61 (Official Build) (64-bit)

Hi,

Thanks for putting together such a ni

[2022-07-28 19:34] chaselambda commented on #1243
fwiw using chrome://flags/#chrome-wide-echo-cancellation does work for me. I'm on MacOS. Seems this thread is related to it: https://bugs.chromium.org/p/chromium/issues/detail?id=1215049

[2022-07-28 19:55] chaselambda commented on #1243
This is perhaps a naive question but how does one test echo cancellation working at all? That is, without having two computers. Even in the case that browsers support.

There's a great [Firefox blog post](https://blog.mozilla.org/webrtc/fiddle-of-the-week-audio-constraints/) that links to [this fiddle](https://jsfiddle.net/jib1/n7bmkjnf/). In Firefox, the echo cancellation modification is signific

[2022-07-28 20:21] peterzanetti commented on #1243
I tested it in my video conferencing app using 2 computers using Chrome in different locations. Aside from video and audio, there is transcription being done with web speech API.

The simple way to test whether this flag "works" or not is to make sure the audio devices (input and output) are separate devices (not a headset or a hardware device with its own echo cancellation)...like a webcam's mic

[2022-07-28 23:53] chaselambda commented on #1243
Yeah I was specifically curious how to test it without having two computers.

But indeed, with two computers I found a random app to use: https://p2p.mirotalk.com. The source is not webpack'd or anything, so it's easy to go into the source and change `echoCancellation` to false (using [Chrome local overrides](https://stackoverflow.com/a/48843321/1394731))

[2022-07-29 02:00] kuchaguangjie opened #1568 "Cannot find module travis-multirunner@4.6.0"
After clone the code, and run `pnpm i`, get error:
[code]
Then I try to install `travis-multirunner` via:

And, get error:
[code]

Did the project use some very old npm dependency ?
Any idea how to fix that?

[2022-08-01 06:09] alvestrand commented on #1568
I have not tried to build samples with pnpm. Have you tried building it with npm?

[2022-08-01 13:14] hthetiot commented on #1568
Using `npm` 8.13.2 works for me, this only occurs using `pnpm` that is not the official package manager for NodeJS and it works with `yarn` anyway.

You could at least add "using pnpm" in the issue title, but to be fair, this is not this project fault and I dont think you should bother the maintainer for that if that works using more mainstream NodeJs package manager.

[2022-08-02 10:52] alvestrand commented on #1567
For usage advice, it is better to send a message to discuss-webrtc@googlegroups.com (after joining).

For recording incoming media, take a look at the MediaRecorder API. I'm not sure what formats it supports, but that's probably the simplest approach.
If you want access to the samples while they are coming in, either WebAudio or the Breakout Box API (MediaStreamTrackProcessor) can be used.

Closin

[2022-08-02 10:52] #1567 closed, assigned to nobody

[2022-08-03 09:45] sungongwei commented on #1243
work for me

[2022-08-03 09:47] sungongwei commented on #1243
work for me

[2022-08-03 17:22] peterzanetti commented on #1243
Is there anything special you had to do to get it working? I don't understand why it doesn't work for me.

[2022-08-08 18:36] fippo commented on #1568
not an issue we can solve

[2022-08-08 18:36] #1568 closed, assigned to nobody

[2022-08-08 18:37] fippo commented on #1565
That sounds like WeChat WebView has a broken implementation of autoplay for MediaStreams.
Not something we can solve

[2022-08-08 18:37] #1565 closed, assigned to nobody

[2022-08-08 18:39] fippo commented on #1487
please file a webkit issue if this persists

[2022-08-08 18:39] #1487 closed, assigned to nobody

[2022-08-12 10:54] maikthomas opened #1569 "FrameTransform Interface does not match TransformStream transformer Interface"
# Please read first!
Please use [discuss-webrtc](https://groups.google.com/forum/#!forum/discuss-webrtc) for general technical discussions and questions.
If you have found an issue/bug with the native `libwebrtc` SDK or a browser's behaviour around WebRTC please create an issue in the relevant bug tracker. You can find more information on how to submit a bug and do so in the right place [here](htt

[2022-08-12 16:32] dogben commented on #1569
Yes, that would make sense.

In that case createProcessedMediaStreamTrack (and createProcessedMediaStream) could accept the same type. It would change the timing of the init/start and flush/destroy calls, so a few other places in the code need to change as well. As currently written, the FrameTransform objects are reused when the source or sink changes without calling init or destroy; with the Tra

[2022-08-18 05:36] wangxiaoxiao288 opened #1570 "using datachannel to transmit data,It's free?"
In WEBRTC, do I have to pay for using datachannel to transmit data? It's free?

[2022-08-18 13:29] alvestrand commented on #1570
WEBRTC is a library. You run it on your own computers, using your own Internet. You pay for that.
It is open source, so you don't pay anything for using the code.

[2022-08-18 13:29] #1570 closed, assigned to nobody

[2022-08-19 18:34] Astagor commented on #1498
I have the same issue, Chrome 104.0.5112.97, Android 12. I have tested with https://webrtc.github.io/samples/src/content/devices/input-output/ and in Chrome audio inputs are listed as outputs and outputs as inputs. So I get as input:

- Standard
- Speakerphone
- Headset earpiece

As output I get:

- Standard

On the same phone in FireFox it works OK. Of course, I cannot choose output as FF does no

[2022-08-25 15:04] unholyHub opened #1571 "Cheap Android Phone Camera to Green image"
# Please read first!
Please use [discuss-webrtc](https://groups.google.com/forum/#!forum/discuss-webrtc) for general technical discussions and questions.
If you have found an issue/bug with the native `libwebrtc` SDK or a browser's behaviour around WebRTC please create an issue in the relevant bug tracker. You can find more information on how to submit a bug and do so in the right place [here](htt

[2022-08-25 15:10] alvestrand commented on #1571
Please provide the precise browser version and the exact make of phone.

Note: The image is not rotated, it's flipped around the horizontal axis and squished.

[2022-09-08 09:05] ianido commented on #1243
@peterzanetti did you find a way to cancel incoming audio? I am doing a conversational transcription and I am having the same issue, the flag chrome://flags/#chrome-wide-echo-cancellation  works if my audio is running in another chrome tab, but I need to use an ipad, no idea how to disable this in an ipad.

[2022-09-08 17:59] peterzanetti commented on #1243
No, I've yet to see that this flag actually have any impact on my described use case.

[2022-09-12 07:42] PleaseHelpBe commented on #1498
You do?! When is that issue by the way? While attempting to keep watching everything I am doing through my phone?

[2022-09-12 09:36] Astagor commented on #1498
I do nothing special, I open the webrtc sample page and the inputs and outputs are switched.

[2022-09-12 16:40] fippo commented on #1331
this is a browser issue, not a issue with the samples

[2022-09-12 16:40] #1331 closed, assigned to nobody

[2022-09-23 09:34] vitaly-castLabs opened #1574 "End-to-end encryption sample crashes in Safari"
## Browser affected

Both regular Safari 16.0 and Safari Technology Preview, Release 154 (Safari 16.0, WebKit 17615.1.6.2) on macOS 12.6, MacBookAir (M1, 2020).
From npm logs (when I run it locally): "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.0 Safari/605.1.15"

## Description
https://webrtc.github.io/samples/src/content/insertable-streams/

[2022-09-26 08:11] alvestrand commented on #1574
@youennf should this be reclassified as a Safari bug?

[2022-09-27 08:58] unholyHub commented on #1571
Chrome 104.0.5112.97
Android 8.1.0; Ulefone S7 Build/O11019

[2022-09-30 03:36] giftofyours commented on #1412
This same issue appears to be back again in Chrome 106.0.5249.62 (Official Build) (32-bit)
Works when Hardware Acceleration is turned off. Does not work when Hardware Acceleration is turned on (default).

https://github.com/webrtc/samples/issues/1412#issue-793691659

Has anyone encountered a similar issue?

[2022-09-30 04:03] guest271314 commented on #1412
The WebRTC page plays videos when hardware acceleration is turn on or turned off on Chromium 108.0.5331.0 (Developer Build) (64-bit).

[2022-09-30 04:52] giftofyours commented on #1412
Thanks! Hope the issue will be resolved once 108 is deployed to Official Build (public release).

It now seems a little risky to use canvas.captureStream in production when it breaks in Chrome like when it did in 88+. (was working fine in 104 and 105 before it stopped working in 106)

[2022-09-30 07:08] alvestrand commented on #1412
This demo seems to have an autoplay issue at the moment; pressing "play" in the righthand video will show the content.

[2022-09-30 07:23] giftofyours commented on #1412
Pressing Play Works when Hardware Acceleration is turned off.
However, when Hardware Acceleration is turned on, pressing Play does not work. It remains black.

Tested on Version 106.0.5249.62 (Official Build) (32-bit)

It appears to be a Chrome bug.

[2022-09-30 08:05] alvestrand commented on #1412
The Chromium bug seems to be https://bugs.chromium.org/p/chromium/issues/detail?id=1156408 and the bugs that are listed as blockers.

This tracker isn't for tracking Chrome bugs, so if I'm able to fix the autoplay issue, I'll close this item.

[2022-09-30 08:28] saghul commented on #1574
Looks like a Safari bug indeed. It works for me on Safari TP 153:

<img width="1939" alt="Screenshot 2022-09-30 at 10 26 48" src="https://user-images.githubusercontent.com/317464/193227187-3ec9017a-5b0c-4553-bf0c-73a928ec4eb6.png">

[2022-09-30 08:33] giftofyours commented on #1412
Noted. Thanks for the information!

[2022-09-30 09:01] youennf commented on #1574
Yes, @vitaly-castLabs, can you file a bug in bugs.webkit.org?
I'll file one otherwise.

[2022-09-30 09:20] vitaly-castLabs commented on #1574
@youennf Done: https://bugs.webkit.org/show_bug.cgi?id=245870

[2022-09-30 09:26] fippo commented on #1412
@alvestrand adding the detection from https://github.com/webrtc/samples/pull/1513 (and the followup) might help with autoplay

[2022-09-30 10:10] vitaly-castLabs commented on #1574
@saghul it works for me on my old MBP (macOS 10.15.7, Safari 15.6.1) too, it's just unbelievably slow (I guess this is the issue: https://bugs.webkit.org/show_bug.cgi?id=229190) when encryption is on

[2022-09-30 10:47] youennf commented on #1574
Thanks for the reminder on bug 229190, I'll fix it.

[2022-09-30 19:29] fippo commented on #1574
acted upon in the respective bugtracker 👍

[2022-09-30 19:29] #1574 closed, assigned to nobody

[2022-10-07 07:14] fippo commented on #1166
Unlikely to happen in a reasonable timeframe

[2022-10-07 07:14] fippo commented on #1141
Unlikely to happen in a reasonable timeframe

[2022-10-07 07:14] #1141 closed, assigned to nobody

[2022-10-07 07:15] fippo commented on #1158
Unlikely to happen in a reasonable timeframe

[2022-10-07 07:15] #1158 closed, assigned to nobody

[2022-10-07 07:15] fippo commented on #1161
Unlikely to happen in a reasonable timeframe

[2022-10-07 07:15] #1161 closed, assigned to ErikHellman

[2022-10-07 07:15] fippo commented on #1162
Unlikely to happen in a reasonable timeframe

[2022-10-07 07:15] #1162 closed, assigned to nobody

[2022-10-07 07:17] henbos commented on #1166
While I don't hear anyone volunteering, I did create a [jsfiddle demo](https://jsfiddle.net/henbos/q03vLmhn/) which could probably fairly easily be turned into a samples page

[2022-10-07 07:17] fippo commented on #1176
M72 is pretty old and this hasn't been a big problem since

[2022-10-07 07:17] #1176 closed, assigned to nobody

[2022-10-07 07:18] henbos commented on #1166
Let's keep it open a while longer, that fiddle is an easy grab if anyone wants to contribute to samples

[2022-10-13 10:43] zdh3303 opened #1578 "Helpppp！Callback does not be called when I call SetLocalDescription"
using webrtc native api  C++, system: window 10

## Description
I call SetLocalDescription in the OnSuccess(webrtc::SessionDescriptionInterface* desc) after CreateAnswer, but the callback does not be called

## Steps to reproduce
receive the peer offer ,SetRemoteDescription ,createanswer,call SetLocalDescription in the OnSuccess(webrtc::SessionDescriptionInterface* desc) after CreateAnswer,

## Ex

[2022-10-14 10:36] fippo commented on #1578
As the template you deleted says, this repository is about JS samples, not C++

[2022-10-14 10:36] #1578 closed, assigned to nobody

[2022-10-17 19:59] educbraga commented on #1482
Similar problem here. When using Safari 16.0 and Chrome 106.0.5249.119 there's one audio input source with a generic name and no option for output sources.

[2022-11-08 17:59] fippo commented on #1571
https://bugs.chromium.org/p/chromium/issues/detail?id=1380703 looks similar, i think we had another chrome bug about this?

[2022-11-09 12:53] fippo commented on #1571
Does chrome://media-internals on that device also show "Camera API2 Limited" being used which seems to be the culprit in the bug reported for Chrome

[2022-11-09 15:43] unholyHub commented on #1571
UPDATE:

Yes, it was a bug.
After successfully updating Google Chrome, the problem had been resolved.

I don't have the device on me right now. Also I need to downgrade Chrome to confirm.
If it's necessary I can do that.

[2022-11-11 06:28] gmpassos commented on #933
https://github.com/apple, come on!

[2022-11-11 06:28] gmpassos commented on #933
@apple, come on!

[2022-11-20 16:53] fippo commented on #1315
Not an issue with the samples and there have been some improvements since, closing

[2022-11-20 16:53] #1315 closed, assigned to nobody

[2022-11-21 21:04] fippo commented on #1412
chrome bug seems fixed so closing. Please holler if wrong.

[2022-11-21 21:04] #1412 closed, assigned to nobody

[2022-11-22 13:19] #1325 closed, assigned to nobody

[2022-11-24 16:22] CorentinJ opened #1585 "Regular audio cuts in all RTCPeerConnection samples"
# Please read first!
Please use [discuss-webrtc](https://groups.google.com/forum/#!forum/discuss-webrtc) for general technical discussions and questions.
If you have found an issue/bug with the native `libwebrtc` SDK or a browser's behaviour around WebRTC please create an issue in the relevant bug tracker. You can find more information on how to submit a bug and do so in the right place [here](htt

[2022-11-27 20:18] guest271314 opened #1586 "Substitute "Send" for "Transfer": RTCDataChannel send() does not support transferring data"
## Browser affected

Chromium 110.

## Description

`send()` of `RTCDataChannel` does not _transfer_  data within the meaning of Transferable object https://html.spec.whatwg.org/multipage/structured-data.html#transferable-objects.

For disambiguity substitute "Send"/"send" for "Transfer"/"transfer" in
- https://webrtc.github.io/samples/src/content/datachannel/filetransfer/
- https://webrtc.github.

[2022-11-28 13:09] fippo commented on #1586
https://www.rfc-editor.org/rfc/rfc959 uses "send data" so this seems fine.

For the steps to reproduce I would recommend raising an issue in the W3C org.

[2022-11-28 13:09] #1586 closed, assigned to nobody

[2022-11-28 13:13] fippo commented on #1585
I think you're hitting AEC and "double talk". https://groups.google.com/g/discuss-webrtc/c/ddS08EgXfSU/m/Sq9OIsVXCwAJ has some hints

[2022-11-29 01:31] guest271314 commented on #1586
Not sure what your resolution is re "this seems fine". You don't intend to make the suggested changes?

Some developers actually mean _transfer_, i.e., Transferable objects https://html.spec.whatwg.org/multipage/structured-data.html#transferable-objects means something specific in on Web platform when they have a specific requirement https://github.com/GoogleChrome/chrome-extensions-samples/issues

[2022-11-29 10:05] fippo commented on #1586
Developers don't expect a file transfer protocol to delete at the source.

This repository is the wrong venue for the argument you are trying to have.

[2022-11-29 10:48] alvestrand commented on #1586
The use of "transfer" to mean copying without deletion at source in the title of RFC 959 predates W3C use of the term "transfer" to mean "transfer a copy and destroy the source" by at least 30 years.

The RTCDataChannel "send" operation was modeled on WebSockets. It also predates the "Transferable objects" spec by a considerable number of years.

[2022-11-29 14:49] guest271314 commented on #1586
In some cases they do. Thanks for your feedback.

Thanks for your feedback.

I'm wondering if it is possible to extend (i.e., WebRTC extensions https://github.com/w3c/webrtc-extensions/) `send()` to have a transferable option; or at least open a discussion about that option?