[2016-01-12 23:55] cvranjani commented on #714
Device: Stumpy
OS: Chrome
Version : M49 dev ( 49.0.2618.0 / 7821.0.0 dev)

As mentioned in the initial bug report, https://webrtc.github.io/samples/src/content/getusermedia/record/  shows corrupted video on playback.
![record_playback_video_corrupted](https://cloud.githubusercontent.com/assets/15255941/12280659/9f8902ae-b944-11e5-9f9d-d6239fc80932.JPG)

There are errors in javascript logs

"This a

[2016-01-13 00:02] cvranjani commented on #714
Sorry for small typo error in the recent comment. It should be "There are no errors in the javscript logs"

[2016-01-15 20:02] srnarayanan opened #738 "Uncaught TypeError thrown in peerconnection/munge-sdp page"
Precondition: Have the machine connected to a slower Wifi connection (maybe "..Guest")

Steps to reproduce:
1. Open the peerconnection/munge-sdp/ page https://webrtc.github.io/samples/src/content/peerconnection/munge-sdp/
2. Click on "Get Media" and wait for the video to appear in Local
3. Click on "Create peer connection", "Create Offer", "Set Offer", and then "Create answer"
4. Confirm that we s

[2016-01-15 20:19] fippo commented on #738
:+1: -- actually easier to repro:
- get media
- create peerconnection
- create offer
- hang up

The problem is that the receiveChannel is created in ondatachannel. Which happens after the connection is established which on a slow wifi takes more time to happen. Should be fixed in #739

[2016-01-18 08:40] #738 closed, assigned to nobody

[2016-01-21 00:45] cvranjani commented on #714
Device: Pixel
OS: Chrome
Chrome version :  49.0.2623.0 /7834.0.0 dev

Observed badly pixelated video on playback on device Pixel with M49 version 49.0.2623.0 /7834.0.0 dev.
![img_8083](https://cloud.githubusercontent.com/assets/15255941/12468009/ea07673e-bf94-11e5-8478-50a1557b667f.JPG)

[2016-01-21 18:22] samdutton commented on #714
@miguelao fyi

[2016-01-25 19:38] srnarayanan commented on #714
Saw the 'pixelated video on playback' issue in Linux 14.04 Chrome 49.0.2623.23

Screenshot - https://screenshot.googleplex.com/WdFCHaxx0xN.png

[2016-01-29 15:52] KaptenJansson commented on #734
Yes it looks like it's trying to send after the dataChannel is closed. Most like https://github.com/webrtc/samples/blob/gh-pages/src/content/datachannel/datatransfer/js/main.js#L126 firing after the dataChannel is closed, I think we should add a check so that the dataChannel exists/is in the right state before sending data.

[2016-01-29 15:55] KaptenJansson opened #743 "Investigate why iceRestart test fails sometimes"
It looks like the event at https://github.com/webrtc/samples/blob/gh-pages/src/content/peerconnection/restart-ice/js/test.js#L82 is not firing.

Failed build on Chrome beta:
https://travis-ci.org/webrtc/samples/jobs/105573499#L1087

cc @fippo

[2016-01-29 16:39] fippo commented on #743
https://bugs.chromium.org/p/webrtc/issues/detail?id=3021 -- even though that is pretty stable now in my experience. Going to completed is not a hard requirement for doing an ice restart so we can change the test.

cc @taylor-b

[2016-02-01 09:09] KaptenJansson commented on #743
I see. Good to know.

[2016-02-02 23:07] srnarayanan opened #745 "Intermittent "Uncaught TypeError" thrown in peerconnection/webaudio-input page"
Steps to reproduce:
1. Go to https://webrtc.github.io/samples/src/content/peerconnection/webaudio-input/ page
2. Click "Start", and observe the JS console

Actual results:
The following JS error is seen in the console
(Screenshot attached)

Uncaught TypeError: Failed to set the 'buffer' property on 'AudioBufferSourceMode': The provided value is not of type 'AudioBuffer'

Notes:
1. Saw this issue i

[2016-02-03 09:57] KaptenJansson commented on #745
Seems to be some race condtion when the page is not loaded from cache.

[2016-02-03 09:57] KaptenJansson commented on #743
#746 should fix this.

[2016-02-03 09:59] KaptenJansson commented on #733
I think it makes sense to just add a check to the event and see if the PC still exists.

[2016-02-03 10:08] KaptenJansson opened #747 "Datatransfer does not finish when triggered a 2nd time after changing value"
Steps to repro:
1. Browse to https://webrtc.github.io/samples/src/content/datachannel/datatransfer/
2. Click generate and send data
3. When finished, change the value to 44 (or any other number) and click generate and send date

Result:
Stuck on sending with the progress bar on 100%, last few events seen are:

[code]

Seems only to happen if the data size is changed between runs.

[2016-02-03 10:08] KaptenJansson commented on #747
Chrome version 48.0.2564.82 (64-bit) on Kubuntu 14.04

[2016-02-03 10:12] KaptenJansson commented on #710
Aha then we should be able to catch this.

[2016-02-03 10:16] KaptenJansson commented on #695
Confirmed that it always selects the default camera.
Log

[code]

Most likely due to trying to grab videoSource.id rather than videoSource.deviceId here https://github.com/webrtc/samples/blob/gh-pages/src/content/peerconnection/munge-sdp/js/main.js#L76.

Should update to use enumerateDevices + deviceId property.

[2016-02-03 10:18] KaptenJansson commented on #720
I've not been able to reproduce this (did find #747 though). Is this only happening on CrOS?

[2016-02-03 18:36] cvranjani commented on #720
This issue was observed on CrOS  for few days around the time when bug was initially filed (12/22/2015). Not sure what fixed this issue but I am unable to reproduce it now on M49 build 49.0. 2623.35 /7834.19.0 dev

[2016-02-03 18:36] #720 closed, assigned to nobody

[2016-02-03 18:40] cvranjani commented on #747
Observed this issue on CroS with M49 build 49.0. 2623.35 /7834.19.0 dev (only when value is greater than 27MB). Please see the screenshots where it was working for value 27MB
![data_value_28mb](https://cloud.githubusercontent.com/assets/15255941/12792813/69743524-ca62-11e5-97a1-4ae090af81cc.JPG)
![data_value_27mb](https://cloud.githubusercontent.com/assets/15255941/12792819/6c5c6b80-ca62-11e5-9fd9

[2016-02-04 16:10] #743 closed, assigned to nobody

[2016-02-04 18:39] srnarayanan opened #748 "Cannot select file after cancelling a previous selection in datachannel/filetransfer page"
Steps to reproduce:
1. Open https://webrtc.github.io/samples/src/content/datachannel/filetransfer/ page
2. Do a couple of file transfers (one empty 0 bytes file, and another non-zero file), and check for successful transfer/message
3. Now, click on "Choose file" button and in the finder dialog, click "Cancel"

Expected results:
No JS errors, and the user should be able to choose another file

Actu

[2016-02-04 18:42] srnarayanan commented on #748
Closing this as duplicate of https://github.com/webrtc/samples/issues/706

[2016-02-04 18:42] #748 closed, assigned to nobody

[2016-02-09 20:37] dschwarz2011 commented on #150
What was the resolution here? It's still failing these tests for me. However, I am running a paping using port 443 and port 80 to test.webrtc.org and it replies fine. Is this just a glitch ?

[2016-02-11 09:40] guidou opened #751 "Web Audio Input sample page invokes createOffer and createAnswer without providing error callbacks"
Not providing error callbacks to createOffer and createAnswer is deprecated in Chrome M49 and removed in Chrome M50.

See the following lines:
 https://github.com/webrtc/samples/blob/gh-pages/src/content/peerconnection/webaudio-input/js/main.js#L123
https://github.com/webrtc/samples/blob/gh-pages/src/content/peerconnection/webaudio-input/js/main.js#L82

[2016-02-11 14:29] Hongbo-Miao commented on #751
Hi @guidou, my program actually has callback. But using Chrome 48.0.2564.109 (64-bit) still cannot run well. Last version runs well.

[code]

[code]

[2016-02-11 15:03] hongbo-miao commented on #751
Hi, @guidou, I come from [here](https://code.google.com/p/chromium/issues/detail?can=2&q=&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Cr%20Status%20Owner%20Summary%20OS%20Modified&groupby=&sort=&id=586007). My program actually has callback. But using Chrome 50.0.2645.4 dev (64-bit) still cannot run well. Last old dev version runs well.

This is part of my codes:

[code]

[code]

What do you mean

[2016-02-11 15:35] guidou commented on #751
Your problem is definitely not related to crbug.com/586007 since you are
providing error callbacks. crbug.com/586007 applies only to Chrome 50, and
you say you are having problems with 48.
Not having any other details, I cannot help you with your problem. However,
someone at https://groups.google.com/forum/#!forum/discuss-webrtc might be
able to help you if you provide more details there.

On Thu,

[2016-02-11 16:09] hongbo-miao commented on #751
@guidou sorry, I typed wrong, not 48.
My program runs well on other **dev version** like 50.0.2644. I tested, only this 50.0.2645.4 dev version has problem. So I am thinking this 50.0.2645.4 dev Chrome may have other bugs. But thanks anyway!

[2016-02-12 15:51] KaptenJansson opened #752 "Make sure the DTMF sample removes all non desired codecs and all other references to it in the SDP"
Check https://code.google.com/p/chromium/issues/detail?id=585181 for context.

[2016-02-15 07:50] KaptenJansson commented on #150
The issue was moved to the correct tracker,  https://github.com/webrtc/testrtc/issues/25. It has not been resolved yet.

[2016-02-18 08:19] KaptenJansson opened #756 "Add issue and PR templates"
https://github.com/samccone/issue-and-pr-templates

[2016-02-19 00:59] hongbo-miao opened #757 "Face tracking demo video is not shown in Chrome 50.0.2645.4 dev (64-bit)"
[Face tracking](https://webrtc.github.io/samples/src/content/getusermedia/face/) demo video is not shown in Chrome 50.0.2645.4 dev (64-bit). The app actually already gets video, because you can see the rectangle of the detection of your face. But the video just does not show.
The demo works well in old version Chrome.

I am not sure this is because of Chrome bug or the demo has bug. Because other

[2016-02-19 08:18] KaptenJansson commented on #757
It works for me on 50.0.2652.0 but not all that well, not sure if it's
always been like that though.

On Fri, Feb 19, 2016 at 1:59 AM Hongbo Miao notifications@github.com
wrote:

[2016-02-22 11:12] samdutton commented on #757
I get this error in Chrome 48 and 50 on Mac:

_Uncaught IndexSizeError: Failed to execute 'getImageData' on
'CanvasRenderingContext2D': The source width is 0.ccv.grayscale @
ccv.js:98poll @ (index):88_
Looks like ccv.js hasn't been updated in a long time — github.com/liuliu/ccv
.

We may have to remove this demo. Face detection is fun and useful, but it's
not really WebRTC!

On 19 February 2016 at

[2016-02-23 09:48] #756 closed, assigned to nobody

[2016-02-24 09:13] KaptenJansson commented on #757
Agreed.

[2016-02-24 10:56] samdutton commented on #757
@juberti any objection if we remove the face tracking demo?

[2016-02-24 13:44] martinoshin commented on #529
Help me!
I can not resolve different network for peer-to-peer connection (media) in WebRtc app.

After receiving onicecandidate completed event, I choice wanted "candidate" and the other candidate remove in SDP.
origianl candidate is
   candidate:1049242189 1 udp 2122129151 109.10.10.47 60063 typ host generation 0   --> wanted candicate
   candidate:815576321 1 udp 2122194687 192.168.30.133 60065

[2016-02-27 10:49] abhilashpullelil opened #760 "Transfer file to my peer connection"
**Any**

**How can I share my uploaded file to my peer connection? In the demo, you just send and receive on same browser.**

[2016-02-29 07:26] KaptenJansson commented on #529
I do not quite follow, you write that you want to use 109.10.10.47 and in the offer it is used,  what is the problem? ;)

[2016-02-29 22:37] javess-zz opened #761 "Selecting output device based on OS device ID"
I have an application that will pass a OS level device id as a GET parameter to a local running page. Is there any way to tie back that device id to any of the devices yielded by enumerateDevices?

Imagine I wanted to set the dropdown https://webrtc.github.io/samples/src/content/devices/multi/ to default to whatever device I passed in.

Sorry in advance if this is not the right place for this ques

[2016-03-01 07:39] martinoshin commented on #529
Hello,

Thanks for your reply.

I have two IP address on my computer. 109.10.10.47 and 192.168.30.133.

I modified SDP in Offer Message by wanted Candidate (a=candidate:1049242189
1 udp 2122129151 109.10.10.47 60063 typ host generation 0).
I hope that source IP of RTP set to 109.10.10.47.
and then send Offer message to Server.

After connecting, I captured the RTP packet by Wireshark on client.
Al

[2016-03-01 08:00] KaptenJansson commented on #761
Hi,

No, the deviceID from enumerate devices is a generated one. It's by design. What you can do however is if you can figure the device name, you can check the device label (it should have the same name as the device in the OS) and use the device id for said device. Do note that getUserMedia permissions must be given in order for the device label to be populated.

[2016-03-01 10:20] KaptenJansson commented on #529
I see, WebRTC/Chrome will use the default route out of your machine. PTAL at this extension https://chrome.google.com/webstore/detail/webrtc-network-limiter/npeicpdbkakmehahjeeohfdhnlpdklia?hl=en which allows you configure this somewhat.

[2016-03-02 03:28] martinoshin commented on #529
Thank for your advise.

I will check and test using WebRTC Network Limiter

Best Regards,
Martino

2016-03-01 19:20 GMT+09:00 Christoffer Jansson notifications@github.com:

[2016-03-09 07:05] fippo commented on #592
the way I have in mind currently is to run test Edge by starting node on travis and then execute selenium as a remote webdriver. There are still some pieces missing (like hooking up the Edge webdriver with a selenium hub) and some are not yet public but it seems that we don't need to change our overall approach of using travis.

[2016-03-09 08:38] pitrackster opened #762 "Firefox 45 can not play recorded video"
**Browsers and versions affected**
Firefox 45

**Description**
After recording it is not possible to play the recorded blob in Firefox 45

**Steps to reproduce**
Record a video
Try to play it

**Expected results**
The video player shows the recorded video

**Actual results**
The video player display an error "The video can not be played because the file is corrupted"

In the dev console I have thi

[2016-03-09 08:40] pitrackster commented on #762
Seems that there is a real problem with Firefox 45 and videos though... I even can't play Youtube videos !

[2016-03-09 08:56] fippo commented on #762
can you file a bug in bugzilla please? Go to https://bugzilla.mozilla.org/enter_bug.cgi?product=Core, set the component to "WebRTC: audio/video" and ideally attach the corrupt file.
Might end up as a duplicate but better to file it than to miss something that is easy to fix.

[2016-03-09 09:22] pitrackster commented on #762
done :

https://bugzilla.mozilla.org/show_bug.cgi?id=1254914

[2016-03-09 09:31] fippo commented on #762
paging @mreavy, thanks!

[2016-03-09 12:37] pitrackster commented on #762
Ok this is solved !
It was because I ran an old FFmpeg version likely
buggy.

[2016-03-09 12:37] #762 closed, assigned to nobody

[2016-03-09 13:13] mreavy commented on #762
Glad you and Jean-Yves (jya)  were able to figure it out.

[2016-03-09 22:23] srnarayanan opened #763 "Uncaught TypeError thrown during a 2 way apprtc call"
**Browsers and versions affected**
2 way apprtc call between Win 10, and CrOS device Kip
M50 Dev 50.0.2661.18 in Win 10, and M50 dev build 50.0.2661.20 / 7978.10.0 dev in Kip

**Description**
Uncaught TypeError: Cannot read property 'receiveSignalingMessage' of null thrown during/just after a 2-way apprtc call

**Steps to reproduce**
1. Establish a 2 way apprtc call between 2 devices (in this inst

[2016-03-09 22:41] srnarayanan opened #764 "Can still enter <5 chars apprtc room names in browser url"
**Browsers and versions affected**
M49 Stable, M50 Dev

**Description**
In the direct browser apprtc URL, if the "room name" in https://appr.tc/r/<<room_name>> is < 5 characters, I can still establish a 2 way apprtc call successfully

**Steps to reproduce**
1. In either the stable/dev version of Chrome, go to https://appr.tc/r/ and type a name with lesser than 5 characters (for ex: https://appr.tc

[2016-03-21 12:57] #751 closed, assigned to nobody

[2016-03-25 02:56] cilphex commented on #760
I'm wondering the same thing. The demos are not helpful.

[2016-03-25 19:09] samdutton commented on #760
This demo shows how to create a peer connection and use Data Channels to
share files.

It's not intended to show the whole process of setting up a call between
two separate browser endpoints. Doing that would make the demo more complex
— since much of the code would be about setting up the call — and would, of
course, mean the demo couldn't be run within a single page.

If you want to learn the pr

[2016-03-31 09:59] #761 closed, assigned to nobody

[2016-03-31 10:01] KaptenJansson commented on #764
Thanks for reporting, this is indeed an issue but not a major one. Will fix one day ;).

[2016-03-31 10:46] KaptenJansson commented on #763
Thanks for reporting!
The log looks odd, the peerconnection is created after hanging up? Will take a look.

[2016-03-31 10:46] #760 closed, assigned to nobody

[2016-03-31 17:51] cilphex commented on #760
The demo can be run in a single page. Leaving out the signaling step makes all these demos so confusing, because it's not clear how they find each other, and which code belongs to what side.

I understand that covering that is outside the scope of what you're trying to achieve here, but having it would add so much clarity.

You can use Firebase for a signaling server very easily, and probably for

[2016-04-01 03:34] samdutton commented on #760
Hi @cilphex — thanks for the suggestion. I take your point that, without signalling, it's tricky to understand how these demos can be applied to a real application.

@KaptenJansson @juberti It might be good to have a 'barebones' version of [github.com/apprtc](https://github.com/apprtc), maybe (as @cilphex suggests) using Firebase for signaling. I'm working on updating the WebRTC codelab — that mig

[2016-04-01 05:18] KaptenJansson commented on #760
Yes that makes sense to me, like a single plage signalling demo. Contributions are welcome ;)

[2016-04-01 05:58] fippo commented on #760
@jan-ivar has a funky examples of signaling that uses localStorage. That could be used to mock a signaling service without creating a depedency on something proprietary

[2016-04-05 01:29] jan-ivar commented on #760
https://jsfiddle.net/jib1/2v1Lnpmx/

[2016-04-07 07:38] TikiTDO opened #770 "Possible improvements to datachannel/basic sample"
I was recently interested in getting more familiar with DataChannels, so I decided to hit up the samples. Unfortunately the datachannel/basic sample was quite haphazard, making it difficult to see how things related to each other.

I did a quick refactor as a learning exercise, [located here](https://gist.github.com/TikiTDO/ccc2189813a11a8cc0472d977f28aaab) and I think the results are a bit cleare

[2016-04-07 08:37] samdutton commented on #770
Thanks for making the effort to do this! I'll take a look.
On 7 Apr 2016 8:38 a.m., "TikiTDO" notifications@github.com wrote:

[2016-04-11 21:03] cvranjani opened #771 "Webaudio input peerconnection call recording time is starting incorrectly"
Chrome version: 49.0.2623.112 / 7834.70.0 stable
Device: Celes

**Steps to reproduce**
1. Browse to https://webrtc.github.io/samples/src/content/peerconnection/webaudio-input/
2. Open the javascript console (alt+cmd+j or ctr+shift+j) and watch for any errors
3. Press Start
4. Start speaking, verify that you can hear yourself
5. Press Stop after few seconds (For example, stop after 4 seconds= 0:04)

[2016-04-12 20:31] #752 closed, assigned to nobody

[2016-04-14 19:14] Globik commented on #770
But how to implement this basic with a signaler server? No need turn, stun and like? Only null?

[2016-04-15 08:50] TikiTDO commented on #770
If you want to configure the stun servers then you can configure them in place of the nulls. Providing nulls skips that step.

[2016-04-21 10:39] benbro opened #774 "Link to source in the bandwidth example is wrong"
https://github.com/webrtc/samples/blob/gh-pages/src/content/peerconnection/bandwidth/index.html#L64
Should be:
https://github.com/webrtc/samples/tree/gh-pages/src/content/peerconnection/bandwidth

[2016-04-21 11:17] #774 closed, assigned to nobody

[2016-04-27 07:24] arturparkhisenko opened #777 "FF46 getUserMedia error: SourceUnavailableError PermissionDeniedError may mean invalid constraints"
**Browsers and versions affected**
Firefox 46, 47a

**Description**
getUserMedia error: SourceUnavailableError PermissionDeniedError may mean invalid constraints.
I really ALLOWED cam and mic, i checked it!

**Steps to reproduce**
Open https://webrtc.github.io/samples/src/content/peerconnection/constraints/ in Firefox 46, 47a

**Expected results**
Should show constraints

**Actual results**
Not wo

[2016-04-27 14:17] KaptenJansson commented on #777
Could be the recent adapter.js update. Will check.

[2016-05-03 12:23] KaptenJansson opened #780 "Investigate why Firefox Beta and nightly fails (46) on travis"
https://travis-ci.org/webrtc/samples/jobs/126834520

Now nightly and beta has the same error.

Cannot repro locally on Ubuntu 14.04.

@jan-ivar @fippo pointed out it might be an X11 crash, like [this](https://crash-stats.mozilla.com/report/index/5c8ce18a-0532-44f4-89cd-6aacb2160503)? WDYT?

[2016-05-06 20:30] jan-ivar commented on #780
@KaptenJansson @fippo not sure where we see signs of crashing? The travis output doesn't look too different from what I get with both [Chrome](https://pastebin.mozilla.org/8869896) and [Firefox](https://pastebin.mozilla.org/8869897) when I try to test things locally (which isn't working for me at all as you can see). In contrast, testing adapter.js works just fine for me.

[2016-05-09 08:21] KaptenJansson opened #786 "Aspect ratio is different between video and canvas element"
**Browsers and versions affected**
M51

**Description**

**Steps to reproduce**
Browse to https://webrtc.github.io/samples/src/content/capture/canvas-video/

**Expected results**
The dimensions of the WebGL object should be the same in both video elements.

**Actual results**
https://drive.google.com/file/d/0B71pLQBYIPv-akNFTU1JRkRkbDQ/view?usp=sharing

[2016-05-09 09:22] samdutton commented on #786
Yes... Noticed that :/.

In #787 added object-fit: cover to the canvas and video elements, which seems to do the trick. Checked in Canary and Firefox.

[2016-05-09 09:39] samdutton opened #788 "For all samples, update any out-of-date API or method usage"
**Browsers and versions affected**
All.

**Description**
Check all the samples for out-of-date API and method usage — for example, using callbacks where promises are now available. Pull requests with fixes can reference this issue.

[2016-05-09 10:47] #786 closed, assigned to samdutton

[2016-05-09 19:09] fippo commented on #788
I think #789 does it all :-)

[2016-05-10 06:48] KaptenJansson opened #792 "Investigate DTMF test flakiness"
https://github.com/webrtc/samples/blob/gh-pages/src/content/peerconnection/dtmf/js/test.js

[2016-05-10 07:23] #690 closed, assigned to nobody

[2016-05-16 13:35] danjenkins opened #794 "All demos should redirect to HTTPS"
**Browsers and versions affected**
Chrome

**Description**
Some demos don't redirect you to HTTPS, and as we know - getUserMedia requires it - make it so all the pages redirect to HTTPS versions

**Steps to reproduce**
Go to http://webrtc.github.io/samples/src/content/devices/input-output/

**Expected results**
Video to be shown

**Actual results**
No video and no asking permission - because of no

[2016-05-16 13:47] KaptenJansson commented on #794
I do not think any demo redirects, just the landing page https://webrtc.github.io/samples/.

It does make sense to redirect but at the same time it's nice be able to use these pages for testing HTTP permissions handling, @samdutton I'll leave the decision up to you.

[2016-05-16 13:48] KaptenJansson commented on #788
Closing this since #789 has been merged. If any old/deprecated API's remain, file separate issues.

[2016-05-16 13:48] #788 closed, assigned to nobody

[2016-05-16 18:38] samdutton commented on #794
I'm in two minds about this. I just set simpl.info to be HTTPS only (that was easy enough from CloudFlare).

I've been inclined not to force HTTPS — as @KaptenJansson says, to enable developers to see how WebRTC APIs work when you try to use them from HTTP.

However #1: I'm beginning to think we should go HTTPS only, since that should now be the norm for every website.

However #2: ideally we shou

[2016-05-17 07:28] fippo commented on #794
we have a common.js which defines trace() that used to live in adapter. AFAIK it is included everywhere so just execute your snippet there?

[2016-05-17 09:31] danjenkins commented on #794
So the more I think about it, the more I'm coming around to not doing it,
to show off error messages due to not having permission... We'd just have
to make those error messages more prominent. The scenario that prompted
this was a user thinking the demo didn't work when I sent him to it - only
when he sent me a screenshot did I realise he wasn't on HTTPS.

On Tue, 17 May 2016 08:29 Philipp Hancke,

[2016-05-17 10:55] KaptenJansson commented on #794
In this case you could make sure to send https:// links only?

[2016-05-17 16:19] samdutton commented on #794
Another option: console.error(). At least then a developer will see
something.

On 17 May 2016 at 03:55, Christoffer Jansson notifications@github.com
wrote:

[2016-05-18 15:37] danjenkins commented on #794
Sam, I think it needs more than a console.error - it needs an alert or
something...

Christoffer, I did send a HTTPS link - that's why I didn't understand why
it wasn't working until the screenshot - so I wouldn't say that's the
answer either

On Tue, 17 May 2016 09:20 Sam Dutton, notifications@github.com wrote:

[2016-05-20 08:32] KaptenJansson opened #795 "pc1 demo does not work on Mac, call is not setup properly"
**Browsers and versions affected**
M50 and M52 Mac, works fine on linux.

**Description**
https://webrtc.github.io/samples/src/content/peerconnection/pc1/

**Steps to reproduce**
Browse to https://webrtc.github.io/samples/src/content/peerconnection/pc1/
Click start and call

**Expected results**
Call setup properly and remote video rendered.

**Actual results**
Looks like ICE is not setup properly

[2016-05-20 08:33] KaptenJansson commented on #795
It seems to be general issue on my Mac, no demos work. Something is up with my network interfaces causing chrome not to generate candidates properly.

[2016-05-20 09:00] fippo commented on #795
absolutely no candidates? I've heard some vague reports of that recently.

[2016-05-20 21:05] samdutton commented on #795
Woah... FWIW WFM  50.0.2661.102 (64-bit) on Mac.

[2016-05-21 01:48] TikiTDO commented on #770
I was revisiting my WebRTC code, and decided to make some improvements to the example above. Now it documents optional parameters, and references the relevant places in the spec.

[2016-05-27 07:40] KaptenJansson opened #798 "Add info about the side effect of playing a local gum stream on a media element"
Based on: https://bugs.chromium.org/p/chromium/issues/detail?id=614563#c2.

Maybe there are more pages than https://webrtc.github.io/samples/src/content/getusermedia/audio/?

@samdutton WDYT?

[2016-06-08 19:59] fippo commented on #794
https://github.com/blog/2186-https-for-github-pages might solve this. @samdutton can you give it a try?

[2016-06-09 11:01] samdutton commented on #794
Yeah — I saw that :).

I guess the question is whether we _want_ mandatory HTTPS. Now that GitHub has made the official change, I'm inclined to say yes.

So — if no objections, I'll enable mandatory HTTPS enforcement for webrtc.github.io/samples.

@juberti OK with you?

[2016-06-09 11:05] KaptenJansson commented on #794
Fine by me since you can still use the test pages on http://test.webrtc.org/manual/ for HTTP (the landing page enforces HTTPS but the individual test pages do not).

@tednakamura FYI

[2016-06-10 23:18] cvranjani opened #805 "Unable to start a new AppRTC call with letter 'i' in roomname after ending the current AppRTC call"
Version: 52.0.2743.32 / 8350.21.0 beta
Chrome device : Any

What steps will reproduce the problem?
1) Join an apprtc loopback call with any roomname from chrome device
https://appr.tc/?debug=loopback
2) Leave the call
3) In the left side of the apprtc window, observe the message "You have left the call" followed by "REJOIN" and "NEW ROOM" buttons
4) Now click on "NEW ROOM" button
5) When prompted

[2016-06-10 23:19] cvranjani commented on #805
@KaptenJansson, @tednakamura

[2016-06-13 07:18] KaptenJansson commented on #805
Thanks for filing. We need to reset the "state" so that the keyboard event listeners are not active on the new room page.

[2016-06-13 14:54] KaptenJansson commented on #794
@samdutton let us know you when you have enabled this.

[2016-06-13 14:57] danjenkins commented on #794
Yeah, I would say if Github are going to be forcing all new pages to be HTTPS we should just bite the bullet here

[2016-06-14 08:48] arturparkhisenko commented on #777
@KaptenJansson tested today with Firefox 46 & 47, all is fine! Thanks)
ps. only one warning in console: `onaddstream is deprecated! Use peerConnection.ontrack instead.`

[2016-06-14 08:48] #777 closed, assigned to KaptenJansson

[2016-06-20 12:34] KaptenJansson commented on #805
This should have been filed in the apprtc project: https://github.com/webrtc/apprtc.

[2016-06-23 11:13] #805 closed, assigned to nobody

[2016-06-25 08:03] donpark commented on #795
With Chrome version 51.0.2704.106 (64-bit) on OS X El Capitan, I'm seeing following symptoms:
1. candidates are generated
2. remote stream is received but not displayed
3. ICE state ends in 'failed' after timeout.

console log is attached.

[pc1.log.zip](https://github.com/webrtc/samples/files/332943/pc1.log.zip)

Note that other RTCPeerConnection demos also fail. Same demos work fine on Firefox.

[2016-06-26 00:42] donpark commented on #795
More data points.
1. demos work with TURN server.
2. demos work with STUN on Firefox but fails on Chrome.
3. apprtc.appspot.com demo works on both browsers.

So it seems Chrome's STUN related code may have an issue when both peers are on same page.
This is a demo-condition only issue so I recommend clearly documenting possible issue in the demo pages.

[2016-06-26 06:24] fippo commented on #795
@donpark I would say it is the ip leak prevention but you got candidates. Do you have a full chrome://webrtc-internals dump? (which is easier to read than the console)

[2016-06-26 22:35] donpark commented on #795
here you go. dump from failed pc1 demo.

[webrtc_internals_dump.txt.zip](https://github.com/webrtc/samples/files/333869/webrtc_internals_dump.txt.zip)

just realized this doesn't really indicate STUN worked. Is there a simple way to tell which ICE candidate was used to connect successfully?

[2016-08-03 16:41] srnarayanan opened #811 "Text overlap when device is in portrait orientation"
**Browsers and versions affected**
M53 53.0.2785.44, M54 54.0.2816.4
Android Build Number: NPD35C
Device: Android N Nexus 5X

**Description**
Text overlap when device is in portrait orientation

**Steps to reproduce**
1. Open https://webrtc.github.io/samples/src/content/peerconnection/constraints/ in Clank
2. Adjust camera constraints values so we get a 1080x1080px video dimensions
3. Click 'GetMe

[2016-08-03 21:10] srnarayanan opened #812 "Uncaught ReferenceError: trace is not defined thrown in the captureStream() page"
**Browsers and versions affected**
Chrome M53 53.0.2785.45, M54 54.0.2817.0
Mac 10.11.6, Android N Nexus 5X

**Description**
Uncaught ReferenceError: trace is not defined thrown in the captureStream() page

**Steps to reproduce**
1. Open https://webrtc.github.io/samples/src/content/capture/video-video/ in Chrome
2. Inspect the JS console for any JS errors

**Expected results**
No JS errors should

[2016-08-03 21:14] fippo commented on #812
missing include of common.js, good catch!

[2016-08-04 08:59] samdutton commented on #812
Good catch! Fixed in #813.

[2016-08-04 15:13] #812 closed, assigned to samdutton

[2016-08-05 14:56] xdumaine opened #814 "getStats Promise API broken in Canary"
**Browsers and versions affected**

Chrome Version 54.0.2815.0 canary (64-bit)

**Description**

Due to [an unadvertised chrome change](https://bugs.chromium.org/p/chromium/issues/detail?id=627816#c8), the promise based API for getStats no longer works with adapter.js.

**Steps to reproduce**
1. Try to invoke getStats with no selector (or null selector), and no success handler

[code]

**Expected

[2016-08-05 15:01] xdumaine commented on #814
Welp, I guess this was an unintended. regression. Just got a canary update and it's working again

[2016-08-05 15:01] #814 closed, assigned to nobody

[2016-08-08 08:05] KaptenJansson commented on #814
Yes, https://bugs.chromium.org/p/chromium/issues/detail?id=632457

[2016-08-24 00:13] srnarayanan opened #823 "Local canvas element appears shrunk in portrait mode"
**Browsers and versions affected**
Clank M54 Dev, M53 Beta on any device

**Description**
Local canvas element appears shrunk in portrait mode in Clank

**Steps to reproduce**
1. Hold the device in portrait mode
2. Open https://webrtc.github.io/samples/src/content/getusermedia/filter/ in Clank
3. With the default (none) filter / any filter, click 'Take snapshot'
4. Notice the captured snapshot bel

[2016-08-30 16:08] juanjosv opened #824 "Unable to compile webrtc server in ubuntu 14.04"
I downloaded the last version from repository in my server Ubuntu 14.04.2 LTS, following the instructions from https://webrtc.org/native-code/development/ to create a test server.
I did the command: <i>gclient sync</i> without  problems, but the next step  <i>gn gen out/Default </i>, launches the error <i>gn.py: Could not find gn executable at: webrtc-checkout/buildtools/linux64/gn</i>
The system

[2016-08-31 11:47] KaptenJansson commented on #824
This repo is for web samples, not the native webrtc code. Issues can be filed at bugs.webrtc.org but first take a look at the mailing list https://groups.google.com/forum/#!forum/discuss-webrtc and see if there is any info about the issues you are facing first. You can also post questions there.

I'll try to help this time though.

Have you done `git pull` then `gclient sync` and finally `gn gen o

[2016-08-31 11:47] #824 closed, assigned to nobody

[2016-08-31 11:49] juanjosv commented on #824
Thanks KatpenJansson, i'll do what you write and see in that forums.

[2016-09-01 14:02] alvestrand commented on #794
Do it. The first purpose of the samples is to be demos, not test pages for user errors - and at this stage, trying to run getUserMedia() on a http: page is an user error.

[2016-09-01 14:36] danjenkins commented on #794
Yup, @samdutton @juberti ?

[2016-09-01 14:46] samdutton commented on #794
@alvestrand
@KaptenJansson
@juberti

Convinced — done.

HTTPS is now enforced for all [webrtc.github.io/samples](https://webrtc.github.io/samples) pages.

I'll do a tweet to let people know.

Let me know if you experience any problems.

[2016-09-01 14:59] danjenkins commented on #794
Awesome @samdutton !

[2016-09-01 15:27] samdutton commented on #794
Tough job ;).

![image](https://cloud.githubusercontent.com/assets/205226/18173256/d8bd2504-7060-11e6-9000-6838993afee7.png)

[2016-09-01 15:59] #794 closed, assigned to samdutton

[2016-09-07 01:22] dandv opened #825 "Switch samples to use navigator.mediaDevices.getUserMedia() instead of navigator.gUM()?"
Samples like [this one](https://github.com/webrtc/samples/blob/gh-pages/src/content/getusermedia/gum/js/main.js) use [navigator.getUserMedia](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/getUserMedia), which is marked as deprecated by MDN.

[2016-09-07 08:00] KaptenJansson commented on #825
https://github.com/webrtc/samples/blob/gh-pages/src/content/getusermedia/gum/js/main.js#L50 uses navigator.mediaDevices.getUserMedia. Did you link to the wrong one?

[2016-09-07 08:13] dandv commented on #825
The usage is actually in the error string,

<strike>Other than that, there's `navigator.mediaDevices.getUserMedia` instead of `MediaDevices.getUserMedia`. Probably not a problem.</strike>

[2016-09-07 08:22] KaptenJansson commented on #825
Did not realize it lived under window. Is there spec for that?

[2016-09-07 08:23] KaptenJansson commented on #825
MDN https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia lists it under navigator still. But it does live under window as well.

@alvestrand do you know?

[2016-09-07 08:49] dandv commented on #825
Nevermind my previous comment, `navigator.mediaDevices` is correct. Checked in Firefox 48 and Chrome 53 too.

`window.MediaDevices` doesn't have a `getUserMedia()` method. Looks like a constructor, but I'm not sure what it does.

[2016-09-08 11:29] KaptenJansson commented on #825
Confusing is what it is......;)

[2016-09-08 11:53] alvestrand commented on #825
MediaDevices (the type) has a getUserMedia (the function), and Navigator (the type, when it's extended with NavigatorUserMedia) has a mediaDevices attribute of type MediaDevices.  Window is a Navigator, and a global object, which means (I think) that it exposes constructors for all types not marked with [NoInterfaceObject], including MediaDevices. Why someone shold want to construct a MediaDevices

[2016-09-08 12:13] alvestrand opened #826 "Add error logging to FileReader in file transfer sample"
**Browsers and versions affected**
Possibly Android. See https://crbugs.com/644878

**Description**
When something bad happens to a FileReader in the the "filetransfer" demo, no error will be reported;
the application seems to hang.

**Steps to reproduce**
See crbug above.

**Expected results**
File transfer should either complete or give an error message.

**Actual results**
File transfer does no

[2016-09-09 09:45] wpp opened #827 "Outdated captureStream demo"
**Browsers and versions affected**

Chrome Version 53.0.2785.101 (64-bit)

**Description**

The [captureStream demo](https://webrtc.github.io/samples/src/content/capture/video-video/) logs `captureStream() not supported` in Chrome 53, despite the page noting:

**Steps to reproduce**

Visit https://webrtc.github.io/samples/src/content/capture/video-video/ with Chrome 53.

**Expected results**

Eith

[2016-09-12 07:28] KaptenJansson commented on #827
@samdutton PTAL

[2016-09-16 07:53] dontcallmedom commented on #825
to clarify @alvestrand 's description:
- window is the global object in browsers, defined in the `Window`interface
- it has a `navigator` attribute, of type `Navigator`
- that interface gets the `NavigatorUserMedia` as a mixed-in, which provides it with `mediaDevices` attribute, of type `MediaDevices`, which itself provides the Promise-based `getUserMedia` method

Any interface not marked with `[N

[2016-09-22 22:15] srnarayanan opened #830 ""Uncaught TypeError: Cannot read property 'close' of null" seen in /trickle-ice/ page"
**Browsers and versions affected**
M55 Canary 55.0.2868.0 in Win 10

**Description**
"Uncaught TypeError: Cannot read property 'close' of null" thrown in /trickle-ice/ page

**Steps to reproduce**
1. Open https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/ in Chrome
2. Keeping the ICE server as the default STUN, change the ICE options as
    - uncheck 'Gather IPv6 candidates'

[2016-09-23 07:15] KaptenJansson commented on #830
Could you attach a screenshot of the error expanded? I need to see which line and what calls etc.

[2016-09-23 13:38] fippo commented on #830
you can click "gather candidates" while the peerconnection is still open. Because onicecandidate still triggers on closed peerconnections (we have seen that before here, was there ever a bug filed?)

This might lead to situations where gathering takes a long time (until timeout, 10s), the user clicks again  and we get onicecandidate w/null twice.

[2016-09-23 16:58] srnarayanan commented on #830
Screenshot

<img width="960" alt="untitled" src="https://cloud.githubusercontent.com/assets/14947786/18794425/4e4d13c8-8174-11e6-867d-735a33cfc07d.png">

[2016-09-23 17:36] cvranjani commented on #830
This issue is also observed on Chrome OS with M54 54.0.2840.36 / 8743.38.0 beta

[2016-10-03 00:32] chris001 opened #833 "No result on trickle-ice ICE Candidate Gathering"
**Browsers and versions affected**
Firefox 50.0b3

**Description**
Trickle-ICE demo is failing on latest beta of firefox, 50 beta.

**Steps to reproduce**
Go on ICE Candidate Gathering page.
https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/
Click button at bottom of screen to get Trickle ICE results.
No results returned even after 30 seconds.

**Expected results**
Results to

[2016-10-03 07:42] fippo commented on #833
You don't get host candidates? Does this happen with a fresh profile?

cc @nils-ohlmeier

[2016-10-03 18:03] nils-ohlmeier commented on #833
@chris001 does this also happen with the current Firefox release 49, or this a new problem with 50 for you?
Could you please open 'about:webrtc' after such a failed attempt and save the log and send to me, post it here or somewhere so I can look at it?

[2016-10-04 22:48] chris001 commented on #833
@nils-ohlmeier
I have only Firefox 50.0b4 currently installed.  First time user of Trickle-ICE demo page, so I haven't tried it while Firefox 49 was installed (a month ago?).  I could install Firefox 49 if you need a test from there.
Here is the about:webrtc Connection Log, note I pressed the "Gather Candidates" button 3 times, about 10 seconds apart each time:

[code]

[2016-10-04 22:57] nils-ohlmeier commented on #833
That log is awfully silent/empty.
@chris001 which OS are you on?

[2016-10-05 09:19] chris001 commented on #833
This was Firefox 50.0b4 32 bit, on Windows 10 Pro 64 bit.  Could it possibly be the Avast antivirus webshield interfering with the network traffic.   Update: It's not that, tried disabling the firewall, same, no results.

[2016-10-05 10:07] fippo commented on #830
@KaptenJansson wdyt about disabling "gather candidates" until closing the peerconnection?

[2016-10-05 14:00] KaptenJansson commented on #830
Yeah I think that makes sense.

[2016-10-06 21:19] srnarayanan commented on #706
Saw this issue today in M55 in Linux

Screenshot

![screenshot from 2016-10-06 12 56 56](https://cloud.githubusercontent.com/assets/14947786/19171101/f00910f8-8bcf-11e6-8dd5-5b3aea6556e9.png)

[2016-10-07 08:36] samdutton commented on #706
Thanks for the heads-up. We'll take a look.

[2016-10-07 09:01] ghost opened #835 "No "Audio output destinations" are listed when using this in Firefox"
Firefox 49.0.1 (running on Windows 10 OS).

Use demo page: https://webrtc.github.io/samples/src/content/devices/input-output/

Open the demo page in Firefox, no "Audio output destinations" are listed.
Open the demo page in Chrome and audio output destinations are listed (3 in my case).

[2016-10-07 09:16] KaptenJansson commented on #835
*Enable experimental support in Chrome 45.0.2441.x or later by selecting Enable experimental Web Platform features in chrome://flags or by using command line flag "--enable-blink-features=EnumerateDevices,AudioOutputDevices". Use the setSinkID() method on the video element and provide a audio or video element and a sinkId (deviceId for where deviceInfo.kind === 'audiooutput') as arguments. Also th

[2016-10-07 09:17] KaptenJansson commented on #835
Firefox does not have this implemented. File or search for a feature request at https://bugzilla.mozilla.org/.

[2016-10-07 09:17] #835 closed, assigned to nobody

[2016-10-07 09:17] ghost commented on #835
Apparently it's a known bug in Firefox...
[https://bugzilla.mozilla.org/show_bug.cgi?id=1152401](url)

[2016-10-07 12:46] Pehrsons commented on #835
It's not so much a bug as it is a feature request of output selection: https://bugzilla.mozilla.org/show_bug.cgi?id=1264375

[2016-10-10 20:26] chris001 commented on #833
Update: Tested on Microsoft Edge, same windows 10 x64 PC, the Trickle-Ice demo is working fine.
1. Which browsers are you using for testing?
2. What are your results on FireFox 50, and Edge 25 ??

[2016-10-11 19:13] nils-ohlmeier commented on #833
Thanks for the updates @chris001
The log file I would like to get from you currently can't be taken on our official Windows release builds. So I just wanted to let you know that I'm working on some code in this bug report here https://bugzilla.mozilla.org/show_bug.cgi?id=1309129 which should allow you to create a log file, from which then I can hopefully find out why Firefox on your Windows machin

[2016-10-19 23:03] cvranjani opened #837 "Local address does not change on ICE restart for first time (on some chrome devices)"
Chrome version : 55.0.2883.20 / 8872.16.0 dev
Chrome Device: Swanky

**Steps to reproduce**

Precondition: Have the JS console open
1. Go to https://webrtc.github.io/samples/src/content/peerconnection/restart-ice/
2. Confirm that both the local (PC1) and remote windows (PC2) do not show any video, and the message below says "Not connected"
3. Click "Start" and wait till local video PC1 (in left wi

[2016-10-19 23:03] cvranjani commented on #837
@KaptenJansson

[2016-10-27 18:51] nils-ohlmeier commented on #833
@chris001 if you can still reproduce the problem could you please download this new Firefox build https://archive.mozilla.org/pub/firefox/try-builds/drno@ohlmeier.org-a10f5bb1361ffb82d3d7e318bd0778f053ffacfa/try-win32/firefox-52.0a1.en-US.win32.zip and check if that fixes the issue for you?

[2016-10-27 18:52] nils-ohlmeier commented on #833
If you want or need different binaries here are other platforms and 64bit binaries etc of the same build https://archive.mozilla.org/pub/firefox/try-builds/drno@ohlmeier.org-a10f5bb1361ffb82d3d7e318bd0778f053ffacfa/

[2016-10-28 13:19] chris001 commented on #833
[code]

Thanks to you @nils-ohlmeier , Firefox Nightly 52.0a1 (Win32) provides several ICE candidates.
Just wondering, did you improve anything in the Firefox code for it to run ICE differently?

[2016-11-01 15:28] IvRRimum opened #838 "Webrtc stream local video file"
How would one stream a local media file(video file) to peers?

For audio there is webAudio, but what about the video?

Thanks!

[2016-11-01 15:47] samdutton commented on #838
Take a look at the peer connection examples here — and appr.tc.

On 1 November 2016 at 15:28, Ivrrimum notifications@github.com wrote:

[2016-11-01 15:51] IvRRimum commented on #838
@samdutton

Thanks for your response,

apprtc is basic p2p video call. I need to stream local media **file**. Like i select mp4 file and then other person sees the file(the video and audio) in real time.

[2016-11-01 15:54] IvRRimum commented on #838
And the file is from the user's computer. Like he selects the file from File input and then it starts to stream to all peers.

[2016-11-01 16:05] samdutton commented on #838
Take a look at the captureStream() examples, e.g.
webrtc.github.io/samples/src/content/capture/video-pc.

On 1 November 2016 at 15:54, Ivrrimum notifications@github.com wrote:

[2016-11-01 16:12] IvRRimum commented on #838
@samdutton The browser compatibility is too bad. Is there any other way? Maybe chunking the video file and then sending the chunks trough peerconnection?

[2016-11-01 16:15] samdutton commented on #838
You could try one of Muaz Khan's methods: webrtc-experiment.com
https://www.webrtc-experiment.com.

On 1 November 2016 at 16:12, Ivrrimum notifications@github.com wrote:

[2016-11-01 17:10] IvRRimum commented on #838
@samdutton Went trough all of his examples/demos. None do what i need tho ;/

Of course there is possibility by just sending the video via datachannel(or RTCmultichanneling) to other peers and then send coordinates(12:34/53:21) and then play it. But the users would have to wait then. ;/

[2016-11-01 20:08] samdutton commented on #838
You've got pretty good coverage with captureStream(): Firefox, and Chrome
on desktop, Android and Webview — pretty much the same as
RTCPeerConnection. Why not use that?

On 1 November 2016 at 17:10, Ivrrimum notifications@github.com wrote:

[2016-11-01 20:19] fippo commented on #838
@IvRRimum media source extensions might be worth a look too. Not webrtc-related even though webrtc data channels can be used a a transport

[2016-11-01 20:31] samdutton commented on #838
@fippo Good suggestion — though you don't get much more browser coverage :/.

[2016-11-07 16:56] IvRRimum opened #839 "streamCapture black box - masivly confusing"
So i want to test your example: https://github.com/webrtc/samples/tree/gh-pages/src/content/capture/video-video

On your live demo version it works perfectly: https://webrtc.github.io/samples/src/content/capture/video-video/

But when i clone the repo( or even copy/paste the code on my remote server ). The right video shows up as black box.

Code is 1:1. The only difference i found that your examp

[2016-11-07 17:06] fippo commented on #839
getUserMedia requires HTTPS in Chrome. See for example http://www.tokbox.com/blog/the-impact-of-googles-new-chrome-security-policy-on-webrtc/ -- I would not be surprised if the same was true for captureStream.

[2016-11-07 17:09] IvRRimum commented on #839
I am using firefox and i am not using getUserMedia. Please read the issue.

[2016-11-07 17:11] IvRRimum commented on #839
Nvm, it works on my local apache with firefox.

[2016-11-07 17:11] IvRRimum commented on #839
But still... I can't run it with my angular2 app(starting using

)

[2016-11-07 17:17] IvRRimum commented on #839
Update: The black box only shows when video src is not from local storage ://

[2016-11-07 17:34] IvRRimum commented on #839
Update: It works if you select file from localstorage(via input type file). So it's pretty nice.

[2016-11-07 17:34] IvRRimum commented on #839
I will close this, but others bevare, you can't do it from remote videos.

[2016-11-07 17:34] #839 closed, assigned to nobody

[2016-11-08 15:24] IvRRimum commented on #838
@samdutton @fippo video.captureStream doesnt seem to work with chrome 54(Linux mint). Does it work for others?

[2016-11-08 16:09] IvRRimum commented on #827
Any update on this?

[2016-11-08 16:14] IvRRimum commented on #827
Has chrome removed support for captureStream in chrome 54?

[2016-11-08 19:14] samdutton commented on #838
Might still need flag in that 54.

On 8 November 2016 at 07:24, Ivrrimum notifications@github.com wrote:

[2016-11-08 19:28] fippo commented on #838
M56 with chrome://flags/#enable-experimental-web-platform-features kind of works for me. Kind of... poked [the bug](https://bugs.chromium.org/p/chromium/issues/detail?id=569976)

[2016-11-09 20:34] samdutton commented on #827
Thanks for reminding me to sort this out.

I've added a note about enabling Experimental Web Platform Features in chrome://flags.

[2016-11-10 11:48] wpp commented on #827
Hi!

Good to know! Unfortunately there is still an issue even after enabling the flag. The demo only seems to work as intended when I drag the player slider on the left.

[2016-11-10 13:55] samdutton commented on #838
Closing this, since it's not about an issue with the samples code.

For discussion and questions about WebRTC development, try [discuss-webrtc](https://groups.google.com/forum/#!forum/discuss-webrtc) or [StackOverflow](https://stackoverflow.com).

[2016-11-10 13:55] #838 closed, assigned to nobody

[2016-11-10 15:05] samdutton commented on #710
Finally getting back on this!

Added a fix in #842.

The `MediaRecorder` is created when  **Start Recording** is pressed — but if there is no `MediaStream` (because `getUserMedia()` didn't work) the `MediaRecorder` instantiation will fail, resulting in the confusing message.

The change in #842 means the **Start Recording** button is disabled, and only becomes enabled once the `getUserMedia()` cal

[2016-11-11 11:10] #706 closed, assigned to samdutton

[2016-11-12 14:07] alvestrand commented on #709
Works for me in Version 54.0.2840.100 (64-bit) on Ubuntu. Closing unitl someone reproduces.

[2016-11-12 14:07] #709 closed, assigned to nobody

[2016-11-14 17:30] IvRRimum opened #844 "Webrtc question: Is it possible to stream multiple audioTracks within the same MediaStream"
I just had idea. Has anyone tried this? Is Volume control isolated between the tracks?

For example using multiple mp3 files and then stream them with different time offsets and volumes at the same time.

[2016-11-24 12:00] KaptenJansson commented on #844
AFAIK the streams are mixed together, not sure if it can handle individual volume per track. @guidou do you know?

[2016-11-24 12:16] IvRRimum commented on #844
They are not mixed. If you have a stream with 2 or more audiotrakcs, it will stream only the first one to peers.

[2016-11-28 03:01] huangbenhao opened #846 "I could not get the clear video with rear camera"
**Browsers and versions affected**
wechat

**Description**
I run the demo of the "Select camera, microphone and speaker",but when I change the rear camera,the video became not clear,but the front camera is very nice,I read the webRTC API and I found the default fitness distance is 0,but it not use for me to set the ideal to change it.So,can you give me a demo to use the rear camera default and the

[2016-11-28 08:56] KaptenJansson commented on #846
See https://bugs.chromium.org/p/chromium/issues/detail?id=343894 for details. Also you can ask further questions in that bug.

[2016-11-28 08:56] #846 closed, assigned to nobody

[2016-11-28 09:36] huangbenhao commented on #846
thanks!

[2016-12-01 11:14] Jleinwand opened #848 "connection a session- how to init/connect for the first time?"
**Browsers and versions affected**
Chrome

**Description**
Initializing/connecting to a session fails.
Uncaught syntax error: invalid or unexpected token.

**Steps to reproduce**
Using OpenTalk tutorial recommendation, open learning-opentalk-web; web folder; run local server via Python in Terminal; launch local server in Chrome (the webcam starts); open developer console in Chrome; copy Opentok AP

[2016-12-01 13:39] ggarber commented on #848
This is not the best place for OpenTok questions.   You should try https://support.tokbox.com/hc/en-us or even StackOverflow.

The problem is probably the missing quotes around the apiKey and sessionId as @fippo pointed you in the mailing list.

I suggest you closing this issue because this is the place for discussions and issues only for the generic WebRTC sample applications.

Gustavo Garcia (To

[2016-12-02 07:41] KaptenJansson commented on #848
Thanks @ggarber.

[2016-12-02 07:41] #848 closed, assigned to nobody

[2016-12-07 09:53] insthync opened #850 "Android/WebRTC Question: It's possible to set stream from native android application to its Webview"
I want to know that I can set stream which is created from the Android application and then send it to its webview to set as media stream, I can do that or not, If I can so how to do it ?

Thank you

[2016-12-09 13:53] fippo opened #854 "webaudio-input: forceOpus probably broken"
https://github.com/webrtc/samples/blob/gh-pages/src/content/peerconnection/webaudio-input/js/main.js#L106
-- this tries to match RTP/SAVPF which has been gone from Chrome for quite a while.

And to make things worse, it tries to modify between createOffer and setLocalDescription which has been declared as illegal in the spec.

@KaptenJansson does apprtc have updated code for this?

[2016-12-12 12:52] KaptenJansson commented on #854
I could only find a [test](https://github.com/webrtc/apprtc/blob/master/src/web_app/js/sdputils_test.js#L19) for this in AppRTC. It should too be updated but it's a unit test that just tests the code using the said static array of strings rather than grabbing it from the browser.

[2016-12-21 08:20] alvestrand commented on #850
Please raise this question on the discuss-webrtc@google.com mailing list, since it's not a samples issue.

[2016-12-21 08:20] #850 closed, assigned to nobody

[2016-12-21 08:23] alvestrand commented on #837
Please raise a bug on bugs.webrtc.org, and give specifics on which devices show the behavior. It does not appear with Chrome 55 on Linux.

Very nice "how to reproduce" description!

[2016-12-21 08:23] #837 closed, assigned to nobody

[2016-12-21 14:45] fippo commented on #837
@alvestrand the test for that demo is actually flaky. The issue here is that we're doing an ice restart while being connected which might not be well-defined behaviour.

[2016-12-21 15:20] alvestrand commented on #837
If it isn't well defined it should be. Roaming from 4g onto WiFi depends on being able to do this (or permanent trickle).

Den 21. desember 2016 15:45:39 CET, skrev Philipp Hancke <notifications@github.com>:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-01-06 12:00] #830 closed, assigned to nobody

[2017-01-07 09:13] davedoesdev opened #860 "Media stream forwarding"
If I 'forward' a media stream from one peer connection to another, will any re-encoding occur or will it just copy the bytes?

[2017-01-09 12:55] KaptenJansson commented on #860
I believe it will re-encode, try clicking insert relay on the follow page several times:  https://webrtc.github.io/samples/src/content/peerconnection/multiple-relay/

[2017-01-09 12:59] KaptenJansson commented on #764
Closing as this is reported in the wrong repo and it's not a of high priority right now.

[2017-01-09 12:59] #764 closed, assigned to nobody

[2017-01-10 21:03] davedoesdev commented on #860
30% CPU (i5) for each one.

[2017-01-10 21:05] davedoesdev commented on #860
Also you can see the effects of the encoding as you add more relays.

@KaptenJansson thanks

[2017-01-10 21:05] #860 closed, assigned to nobody

[2017-01-12 14:27] fatimazbouj opened #861 "adding video call to the chat text"
i tried to add my video call to the chat text using the getUserMedia i need to know if i can use the same RTCPeerConnection or i need to create an other one although i tried to do this but it's still a problem in the iceCandidate because it's the same , this is my code , i want to know if it is the right way to do it beacuse that generate that error "  InvalidStateError: An attempt was made to use

[2017-01-13 08:02] KaptenJansson commented on #861
Hi,

Sorry I do not understand what you mean by "i tried to add my video call to the chat text using the getUserMedia "? Add video call to chat text using getUserMedia? What is chat text?

Also can you narrow down the issue in your code? It's not feasible to statically analyze your whole app in an issue like this. Please provide either a live demo via jsfiddle or similar service that demonstrates

[2017-01-13 10:36] fatimazbouj commented on #861
no sorry i want to say that i use the datachannel to create my chat text and i want  to add the call video by using the getUserMedia in the same time that's all my code above  .but when i try to send a message by pressing the button send that generate that error " InvalidStateError: An attempt was made to use an object that is not, or is no longer, usable " and block the chat . i think i did somet

[2017-01-16 10:35] KaptenJansson commented on #861
I see. You should first make sure your app works as is, e.g. without data channel.

Once you got that up and running then just go back and add data channel support, take a look at on of our [samples](https://github.com/webrtc/samples/blob/gh-pages/src/content/datachannel/basic/js/main.js). Just make sure to create the data channel before you setup the call, i.e. just after the peerconnection has b

[2017-01-17 10:56] fatimazbouj commented on #861
i forgot  creating the offer befor openning the datachannel ,that's because i don't organise my code ,the problem is resolved now !! i have added :
-audio call & video call (getUserMedia)
-chat text & files transfer (dataChannel)
with websocket and nodeJs as signaling server .
 thank you so much for your advices .

[2017-01-17 11:36] samdutton commented on #861
Good to hear your problem got resolved.

Thanks @KaptenJansson !

[2017-01-17 11:36] #861 closed, assigned to nobody

[2017-01-19 10:19] JaspalK opened #863 "Ice Restart Local And Remote Video Always Shows "Not connected""
Chrome version : 57.0.2970.0 / dev
Chrome Device: Ubuntu 14.04, Windows 10

Steps to reproduce:
Precondition: Have the JS console open

1. Go to https://webrtc.github.io/samples/src/content/peerconnection/restart-ice/
2. Confirm that both the local (PC1) and remote windows (PC2) do not show any video, and the message below says "Not connected"
3. Click "Start" and wait till local video PC1 (in lef

[2017-01-19 12:21] fippo commented on #863
Right. I suspect this is mostly because of the maplike change where we don't support Object.keys anymore. I'll make a PR over the weekend!

[2017-01-19 23:13] cvranjani commented on #863
This issue also exists on Chrome OS M57 57.0.2984.0 / 9199.0.0 dev

[2017-01-19 23:24] cvranjani opened #865 ""Gather candidates" button is disabled for 7-8 seconds in peerconnection/trickle-ice page"
**Browsers and versions affected**
Chrome : 57.0.2984.0 / 9199.0.0 dev
Chrome OS

**Steps to reproduce**
1. Browse to https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/
2. Open the javascript console (alt+cmd+j or ctr+shift+j) and watch for any errors
3. Click and observe the "Gather candidates" button

**Expected results**
You should see candidates of type "host" and type "s

[2017-01-19 23:24] cvranjani commented on #865
@KaptenJansson

[2017-01-20 08:10] fippo commented on #865
Depending on the network conditions you are in this might be perfectly normal. Typically this happens when you have a second interface that is not routable, the webrtc library is trying to gather a serverreflexive candidate and times out.

[2017-01-20 18:48] cvranjani commented on #865
"Gather candidates" button is disabled for 7-8 seconds even with Ethernet connection and I did not observe this delay before.

Please feel free to close this issue if this delay is expected.

[2017-01-20 19:03] fippo commented on #865
depending on when you last tested [this](https://github.com/webrtc/samples/pull/834) was merged ~2 weeks ago to fix #830 which has changed the behaviour of the page slightly

[2017-01-20 20:00] cvranjani commented on #865
Yes. I am seeing this change since a week or so (don't remember it exactly though). Thanks for pointing to   [this](https://github.com/webrtc/samples/pull/834) change. It might be the reason for "Gather candidates" button to be disabled for a little longer time

[2017-01-20 20:00] #865 closed, assigned to nobody

[2017-01-21 00:05] cvranjani opened #867 "404 error in peerconnection/pr-answer sample page"
**Browsers and versions affected**
Chrome : 57.0.2984.0 / 9202.0.0 dev
OS: Chrome and Linux

**Steps to reproduce**
0. Browse to https://webrtc.github.io/samples/src/content/peerconnection/pr-answer/
1. Open the javascript console (alt+cmd+j or ctr+shift+j) and watch for any errors
2. Check if the local video is seen in the left pane
3. Click "Accept"
4. Click "Hangup"

**Expected results**
- Loca

[2017-01-21 00:06] cvranjani commented on #867
@KaptenJansson

[2017-01-26 10:27] JaspalK commented on #863
The problem is only partially fixed.

PC2 always shows "Not connected" i.e no address for 'Remote' video

Steps to reproduce:

    Follow the steps in the the first post in this bug.

Expected results:

    Step 5: Note both the addresses of PC1 and PC2, as seen below the respective windows

Actual results:

   Step 5: Only an address for PC1 is shown.  PC2 always shows "Not connected"

[ice_resta

[2017-01-26 10:39] JaspalK commented on #863
The problem is only partially fixed.

PC2 always shows "Not connected" i.e no address for 'Remote' video

Steps to reproduce:

Follow the steps in the the first post in this bug.
Expected results:

Step 5: Note both the addresses of PC1 and PC2, as seen below the respective windows
Actual results:

Step 5: Only an address for PC1 is shown. PC2 always shows "Not connected"

[ice_restart-PC2-not-con

[2017-01-26 11:33] fippo commented on #863
@JaspalK: are you trying in canary with the experimental web platform flags on?
I get some flakiness here but it works just fine in stable and M53... @henbos wdyt?

[2017-01-26 11:58] JaspalK commented on #863
Fippo:  Opps forget to add that info.

No, I'm trying in Chrome Dev (on windows and linux), M 57 (57.0.2987.6) with the "Experimental Web Platform features" flag enabled (on)

[2017-01-26 11:59] JaspalK commented on #863
didn't mean to close

[2017-01-26 12:03] fippo commented on #863
Right. That means we might have an issue in the new getStats here.

[2017-01-26 15:14] henbos commented on #863
The code in this project is using the spec-compliant API for getStats but expecting the callback-based non-spec compliant Chrome-specific stats objects. As such, the stats it is looking for does not exist. Examples:

https://github.com/webrtc/samples/blob/d6e7e2501788848bbb20d16c7a586f3780d2bbfe/src/content/peerconnection/bandwidth/js/main.js#L224
https://github.com/webrtc/samples/blob/83f24e75187

[2017-01-26 15:45] henbos commented on #863
I spoke to soon, some of those links should work with spec-compliant stats. Here's a slightly closer look.

https://github.com/webrtc/samples/blob/83f24e75187bec346b9ef4ad5654930708308e12/src/content/peerconnection/constraints/js/main.js#L220
The bytesReceived belongs to a report of type inbound-rtp and is of type [RTCInboundRTPStreamStats](https://w3c.github.io/webrtc-stats/#inboundrtpstats-dict*

[2017-01-26 16:17] fippo commented on #863
@henbos can you copy that over to a new issue about updating all the samples to work with both styles?

I'll add the ip / port here, I think that is the root cause at least for this demo!

[2017-01-26 16:24] fippo commented on #863
@henbos: uh, this is bad for canary with web platform features enabled:
[code]
We're calling the new getStats with null here? And indeed:
[code]
returns an error. I'd expect this to work?

[2017-01-26 16:31] henbos commented on #863
Uh oh, there is active discussions about what to do with the selector argument and in the meantime only the parameterless version of getStats is behind the flag. There will likely be a getStats that takes a selector argument, but it is unclear if this will be the case or if it will be of type MediaStreamTrack or something else (such as RTPSender/RTPReceiver).

Perhaps adapter.js should in the case

[2017-01-26 16:36] alvestrand commented on #863
(null) and () should always behave the same - at least according to the gospel according to @jan-ivar, I think.

[2017-01-26 16:38] henbos opened #869 "Update getStats usage to support spec-compliant stats."
The latest adapter.js version invokes a spec-compliant version of RTCPeerConnection.getStats if it's available. It's available in M57 Canary behind experimental web platform features flag. We have several getStats calls that iterate the resulting report expecting old style stats, these need to be updated to support both old and new styles since we don't know which one will be used.

Examples:

htt

[2017-01-26 16:39] henbos commented on #863
I filed #869

[2017-01-26 16:42] henbos commented on #863
I guess both getStats are available through the new adapter, the new one (parameterless) and the old one (function as parameter 1) based on number of arguments used to call getStats. It needs to overwrite both for the (null) and () to work as expected. Discussion to be continued in https://github.com/webrtc/adapter/pull/418

[2017-01-31 02:21] jichae opened #871 "Pc2 is not visible in basic peer connection demo"
**Browsers and versions affected**
chrome M55 and android 5.0 samsung Glaxy alpha

**Description**
https://webrtc.github.io/samples/src/content/peerconnection/pc1/

**Steps to reproduce**
You need to initialize chrome in this application during execution.
In a mobile chrome browser to https://webrtc.github.io/samples/src/content/peerconnection/pc1/
Click start and call
If the call attempt is made

[2017-02-01 10:23] KaptenJansson commented on #871
I've also seen this intermittently on desktop, i.e. the pc2 is not available in the global scope, window.pc2. Not sure what's going on...

[2017-02-04 10:19] fippo opened #872 "filetransfer sample doesn't use bufferedAmountLow"
https://github.com/webrtc/samples/blob/gh-pages/src/content/datachannel/filetransfer/js/main.js
doesn't use the bufferedAmountLow callback. It should, like the datatransfer one does.

cc @taylor-b :-)

[2017-02-22 21:09] NTShop opened #877 "WebAudio Input Demo - Why Windows Only?"
In the WebAudio Output demo linked below it says _Please note that: Linux is currently not supported._

I'm wondering why is Linux not supported? Is it because of the JS coding or is it because some features of loading an audio and connecting it to a RTC stream (addStream) may not be supported? Or some other reason?

I ask because when I test it from Linux using Firefox 51.0.1 for one client and C

[2017-02-23 12:01] samdutton commented on #877
@cwilso: is Web Audio supported on Linux? Don't have a Linux box handy.

Hi @NTShop — does audio work for you with the [single-page peer connection demo](https://webrtc.github.io/samples/src/content/peerconnection/pc1/) and [appr.tc](https://appr.tc)?

Just to clarify — the demo also works on [other platforms](http://caniuse.com/#search=webrtc).

[2017-02-23 12:39] cwilso commented on #877
Web Audio does work on Linux (it tends to have higher latencies, but still works the same).

[2017-02-23 14:48] NTShop commented on #877
Yes Web Audio works. I'm using Ubuntu 16.04 and I have no problems with Web Audio and no latency on the local network.

[2017-02-23 22:42] cvranjani commented on #863
Observed this issue (Ice restart local and remote video shows "Not connected") on Chrome OS with M58 58.0.3015.0 / 9310.0.0 dev but not with M57 57.0.2987.75 / 9202.37.0 beta

[2017-02-24 16:28] samdutton commented on #877
@NTShop: does audio work for you with the [single-page peer connection demo](https://webrtc.github.io/samples/src/content/peerconnection/pc1/) and [appr.tc](https://appr.tc)?

[2017-03-01 10:30] JaspalK opened #878 "WebRTC samplesSelect sources & outputs shows incorrect camera id for 'Video Source'"
**Browsers and versions affected**
Google Chrome: 58.0.3018.3 / Dev
OS: Windows 10, MacOS 10.12.3

**Steps to reproduce**
1. Connect to two external cameras on Windows 10 eg Logitech c930e and Microsoft LifeCan HD-3000

2. In chrome settings, choose a camera and microphone:
	chrome://settings/content/camera   [ Logitech c930e ]
        chrome://settings/content/microphone [ Microphone (2 - Logitec

[2017-03-01 10:54] fippo commented on #878
step 3: during the initial call the default device you chose will be used -- getUserMedia is not called with any constraints (check on chrome://webrtc-internals in the getUserMedia tab)

The VideoSource dropdown is not updated to reflect choice of the default device (there could be some correlation using the track label in the getUserMedia result)

The easiest workaround here is probably to not st

[2017-03-01 14:45] JaspalK opened #879 "“gUM Record” on MacOS (10.12.3) gives green/pink artifacts for playback media"
**Browsers and versions affected**
Google Chrome: 58.0.3018.3 / Dev
OS: MacOS 10.12.3

**Steps to reproduce**

0. Browse to https://webrtc.github.io/samples/src/content/getusermedia/record/
1. Open the javascript console (alt+cmd+j or ctr+shift+j) and watch for any errors 
2. Enable "Enable experimental Web Platform features" flag in chrome://flags (will require browser re-launch)
3. Click on "Sta

[2017-03-06 06:51] KaptenJansson commented on #879
Great report, I do not think this is sample page issue though, most likely something with the video tag.

[2017-03-06 06:54] #867 closed, assigned to nobody

[2017-03-07 13:02] nopalhilmy opened #880 "[ask] How to ?"
Hi,
How to automatically set to rear camera ?

Thanks. )

[2017-03-08 11:55] KaptenJansson commented on #880
You need to perform a getUserMedia request with the facingMode constraint set to `environment`. Take a look here: https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia.

Not sure if Chrome properly supports this yet though but give it a try. Firefox does at least.

[2017-03-09 16:23] muellni opened #882 "TURN auth fails without credentialType attribute on trickle-ice example"
**Browsers and versions affected**
- Fails in Chromium 56.0.2924.87 (64-bit) on Linux
- Works in Firefox 52.0 (64-bit) on Linux

I experienced the same behaviour on Windows, but don't know the versions.

**Description**
If you set up a coturn server to use the [TURN REST API](https://github.com/coturn/coturn/wiki/turnserver#turn-rest-api), no relay candidate will be allocated in the [Trickle ICE e

[2017-03-09 16:26] fippo commented on #882
@taylor-b does chrome support token even?

[2017-03-09 16:29] muellni commented on #882
I tested it with the webrtc "library", which will announce relay candidates if you specify `"credentialType" : "token"`. Don't know if chrome itself supports this.

[2017-03-09 20:42] muellni commented on #882
While trying to test the `credentialType` attribute in the trickle-ice-example I can't reproduce this error anymore.

[2017-03-09 20:42] #882 closed, assigned to nobody

[2017-03-09 22:39] taylor-b commented on #882
@fippo No; we're still working on standardizing how OAuth credentials work actually, and it's called "oauth" in the latest version rather than "token": https://github.com/w3c/webrtc-pc/pull/1033

I'm confused about why Chrome would complain about the lack of a "credentialType" though. Currently it looks like it completely ignores the "credentialType" member: https://cs.chromium.org/chromium/src/th

[2017-03-10 08:41] muellni commented on #882
I made a screenshot of the error on Windows. Chrome on the left doesn't announce relay candidates, while firefox does.
![screenshot_from_2017-03-08_21-33-35](https://cloud.githubusercontent.com/assets/569476/23788177/ac538f9e-0575-11e7-9022-4bf008d1c982.png)

[2017-03-10 18:20] taylor-b commented on #882
@muellni What about my other question; does a "credentialType" of "password" work?

Also, if there are still circumstances where you can reproduce this, can you file a bug here: https://bugs.chromium.org/p/webrtc/issues/list

And preferably include a packet capture and/or chrome debug log, to figure out what went wrong?

[2017-03-15 09:05] muellni commented on #882
I can't reproduce this issue anymore. Just tested in Windows and I also got the relay candidates in Chrome. This is really odd, since it's still the same Coturn config, maybe some race condition.

Since "credentialType": "password" is the default and you can't specify this at the trickle-ice-example, it seems to work.

[2017-03-17 18:15] dgsplayer commented on #595
The option auto-select-desktop-capture-source='Entire screen' works very well
But how do I make it work in other languages?

[2017-03-28 10:33] JaspalK commented on #879
This bug is not found on 59.0.3043.0 / Dev /  MacOS 10.12.3. Thus it is closed.

[2017-03-28 10:33] #879 closed, assigned to nobody

[2017-03-30 16:55] cvranjani commented on #863
@KaptenJansson : Can you please confirm if this issue is fixed ? I still see this issue on Chrome OS with M58 58.0.3029.40 / 9334.24.0 beta

[2017-03-30 17:01] fippo commented on #863
nobody has tackled #869 yet :-/

[2017-04-03 07:15] KaptenJansson commented on #863
Yes, AppRTC and some sample pages need an overhaul to support the new stats....Will see if I can allocate some time this quarter.

[2017-04-09 11:17] MGA-Coder opened #886 "who can use it with video chat with Wowza"
who can use it with video chat with Wowza ?
like this
https://www.wowza.com/resources/3.6.0/examples/VideoChat/FlashRTMPPlayer/player.html

[2017-04-10 14:57] JaspalK opened #887 ""Use RTCDTMFSender" sample duration = 70 still sends tones"
**Browsers and versions affected**
Chrome Version: 59.0.3043.0 / Dev
OS: Windows 7, Mac 10.12.3, Linux Ubuntu 14.04

**Description**
It appears the CL https://chromium.googlesource.com/chromium/src/+log/b40b402c7c6bfef5538ca4b28f8acc36764b5f70..c772d4a73f3d96397c897266f12d95180e4467d0
has lowered the minimum duration to 40 milliseconds (from 70), hence (i'm guessing) the the "Use RTCDTMFSender" we

[2017-04-12 09:52] KaptenJansson commented on #886
Could you elaborate what this has to do with this repository?

[2017-04-15 14:09] rgordeev opened #890 "WebRTC extension doesn't work with current version of the Chrome browser"
**Browsers and versions affected**
Google Chrome 57.0.2987.133 (64-bit)

**Description**
After Chrome extension installed it doesn't work.
ScreenSharing Extension is disabled in Chrome extensions panel.

**Steps to reproduce**
Walk through all steps from this README
https://github.com/webrtc/samples/tree/gh-pages/src/content/extensions/desktopcapture

**Expected results**
Extension work properly

[2017-04-19 16:57] MGA-Coder commented on #886
can i use it with wowza live stream ?
with RTMP

[2017-04-21 11:50] JaspalK opened #891 "WebRTC troubleshooter page uses the wrong camera (Video source) during tests"
**Browsers and versions affected**
Google Chrome	59.0.3067.6  (infact all versions)

**Steps to reproduce**
1. Plug in 2 different USB webcams manufacturers (eg Microsoft and Logitech)
2. Open https://test.webrtc.org/
3. Click on the '3 horizontal bars' icon at the top
3a) For 'Audio source' choose a microphone
3b) For Video source' choose camera
5. Click on 'CONTINUE'
6. Clink on "START" to run t

[2017-04-21 12:00] JaspalK commented on #891
This bug will be closed since the bug is now correctly reported under 'webrtc/testrtc'

[2017-04-21 12:00] #891 closed, assigned to nobody

[2017-04-22 11:18] wpp commented on #827
Just a quick update after enabling the flag this demo works now. I'll close this issue, hope everyone is ok with that.

[2017-04-22 11:18] #827 closed, assigned to samdutton

[2017-04-25 06:55] MirkoBonadei commented on #886
Hi, I think this question is not related to this repository. Here we have a list of examples of how to use WebRTC. If you have specific questions on video streaming you should try to ask [here](https://groups.google.com/forum/#!forum/discuss-webrtc).

[2017-04-25 06:55] #886 closed, assigned to nobody

[2017-04-26 00:05] youennf opened #893 "Some PeerConnection WebRTC samples use deprecated APIs"
Some of the samples use addStream/onaddstream.
It might be good to move to addTrack/ontrack to strengthen adoption to track-based processing.

[2017-04-26 00:06] youennf commented on #893
See also https://github.com/w3c/webrtc-pc/issues/1125

[2017-04-26 03:47] fippo commented on #893
👍
addTrack is basically blocked on https://github.com/webrtc/adapter/pull/503 unless we want the conditional addTrack-or-addStream approach from #888 which would be better than nothing at least

[2017-04-26 05:34] youennf commented on #893
Seems good to wait for webrtc/adapter#503

[2017-04-28 14:54] JaspalK opened #894 "Data Channel (Generate and transfer data sample): JS Error "Uncaught DOMException: Failed to execute 'send' on 'RTCDataChannel': RTCDataChannel.readyState is not 'open'""
**Browsers and versions affected**
Chrome 60.0.3080.5 / Dev

**Steps to reproduce**
1. Browse to https://webrtc.github.io/samples/src/content/datachannel/datatransfer/
2. Open the javascript console (alt+cmd+j or ctr+shift+j) and watch for any errors
3. Uncheck "Ordered mode"
4. Click on "Generate and Send data" for the default size 128 MB

**Expected results**
Step 3:  No JS errors
           'Se

[2017-04-28 15:55] fippo commented on #894
hrm. This looks like the data channel is closed and then used to send more data.
The receiver does close on receivedSize === bytesToSend (which is somewhat unfortunate...)

If you can reproduce can you check the values of sendProgress.value and sendProgress.max?

[2017-05-02 07:48] JaspalK commented on #894
Sure @fippo I can provide those values when I next can reproduce the bug

[2017-05-14 12:09] Eusebius1920 opened #897 "Chrom(e/ium) 58: "ICE candidate gathering from STUN/TURN servers" fails"
**Browsers and versions affected**
chrome 58 (i will edit in the exact version shortly) 64bit
chromium 58.0.3029.96 64bit

**Description**
Running the "ICE candidate gathering from STUN/TURN servers" gives back no candidates.
Running it on the same machine in Firefox works.

**Steps to reproduce**
Run the "ICE candidate gathering from STUN/TURN servers" gives back no candidates.

**Expected result

[2017-05-14 12:13] Eusebius1920 commented on #897
Cromium 58 log attached:
[webrtc_internals_dump.txt](https://github.com/webrtc/samples/files/999317/webrtc_internals_dump.txt)

[2017-05-15 07:53] Eusebius1920 commented on #897
I solved this by disabling uBlock-extension. Seems that the chromium / chrome update came the same time where uBlock started blocking "leakage of local IP-address"

Sry I bothered you.

[2017-05-15 07:53] #897 closed, assigned to nobody

[2017-05-15 07:54] fippo commented on #897
better safe than sorry 👍

[2017-05-15 09:13] #880 closed, assigned to nobody

[2017-05-16 04:04] linqiangsheng opened #899 "Failed to set remote offer sdp in the second time I renegotiate."
**Browsers and versions affected**
chrome 58

**Description**
In the second time I renegotiate(resolution), than the console to report errors like that.

Failed to set remote offer sdp: Session error code: ERROR_CONTENT. Session error description: Failed to set remote video description streams.

**Steps to reproduce**

**Expected results**
how can i renegotiate(resolution) time and time again with

[2017-05-16 08:35] KaptenJansson commented on #899
Are you using a samples demo or your own code? If the latter please add a link to a working demo as jsfiddle or something similar.

[2017-05-16 08:36] KaptenJansson commented on #890
Have you updated the manifest for your URL? https://github.com/webrtc/samples/blob/gh-pages/src/content/extensions/desktopcapture/extension/manifest.json#L14

[2017-05-16 08:36] KaptenJansson commented on #877
Ping

[2017-05-16 08:37] KaptenJansson commented on #780
Closing this for now.

[2017-05-16 08:37] #780 closed, assigned to jan-ivar

[2017-05-16 17:02] fippo commented on #893
#901 and #902 should fix quite some of this :-)

[2017-05-17 07:42] #893 closed, assigned to nobody

[2017-05-19 03:27] linqiangsheng commented on #899
@KaptenJansson, I was using my own code. But I did use a samples demo to test this, and got the same error after my second time to resolution.
This is the url of that demo, https://rtcmulticonnection.herokuapp.com/demos/change-resolutions.html

[2017-05-19 13:43] JaspalK opened #903 "WebRTC Sample - Transfer a file does not work, no answer from remote connection seein JS log"
**Browsers and versions affected**
Chrome 60.0.3100.0 / Dev

OS: MacOS: 10.12.4, Windows 10

**Steps to reproduce**
1. Browse to https://webrtc.github.io/samples/src/content/datachannel/filetransfer/
2. Open the javascript console (alt+cmd+j or ctr+shift+j) and watch for any errors
3. Click the "Choose File" button
4. Select a file of any size

**Expected results**
Step 4: Verify that the Average

[2017-05-19 13:52] fippo commented on #903
anything on chrome://webrtc-internals? (remember to open it before running the test, M60 has a change in behaviour here)

[2017-05-19 15:09] JaspalK commented on #903
I noticed a similar issue when running the test case

https://webrtc.github.io/samples/src/content/datachannel/datatransfer/

[2017-05-22 09:24] JaspalK commented on #903
Ok, some more info.

I don't get the bug if I do one extra step (i.e step 0 below) first to open a new browser tab:

Steps to reproduce:

0. Open a new Chrome browser tab
1. Browse to https://webrtc.github.io/samples/src/content/datachannel/filetransfer/
2. Open the javascript console (alt+cmd+j or ctr+shift+j) and watch for any errors
3. Click the "Choose File" button
4. Select a file of any size

[2017-05-22 09:28] nishant0131 opened #904 "Displaying mirrored image on android mobile chrome."
**Browsers and versions affected**

**Description**

**Steps to reproduce**
https://webrtc.github.io/samples/src/content/getusermedia/filter/
Open above link on mobile chrome browser.

**Expected results**
Image should be aligned as streaming through webcam on mobile as well.

**Actual results**
Getting an mirrored image with inverted text.

[2017-05-22 09:58] JaspalK commented on #903
@fippo:
With regards to your question, webrtc-internals shows 'iceconnectionstateChange: checking' when running the sample page: https://webrtc.github.io/samples/src/content/datachannel/filetransfer/

I notice other webrc sample pages also give simialar problems (eg https://webrtc.github.io/samples/src/content/peerconnection/multiple/)

I.e you have to run the sample page in a new Chrome browser t

[2017-05-22 10:05] fippo commented on #903
no, this sounds like an issue with missing candidates that @taylor-b might know about

[2017-05-23 08:20] JaspalK commented on #903
FYI: I've also written a bug in crbug.com which has similar symptoms to this bug.  Some one is looking at into this bug.  The bug URL is: www.crbug.com/725038

[2017-05-23 08:43] fippo commented on #903
yes, that looks like the right person is looking at it. Lets close here?

[2017-05-23 12:58] JaspalK commented on #903
Ok, closing this bug since http://www.crbug.com/725038 is relevant now.

[2017-05-23 12:58] #903 closed, assigned to nobody

[2017-05-27 14:11] brunoalex opened #907 "Uncaught TypeError: Cannot read property 'enumerateDevices' of undefined only on android 5 or less"
**Browsers and versions affected**

android / phonegap app
**Description**

livecam image dont displays and i get
Uncaught TypeError: Cannot read property 'enumerateDevices' of undefined only on android 5 or less

**Steps to reproduce**
use this code 👍 /*
*  Copyright (c) 2015 The WebRTC project authors. All Rights Reserved.
*
*  Use of this source code is governed by a BSD-style license
*  that c

[2017-06-01 11:48] JaspalK commented on #894
@fippo:  I got the fault again:

sendProgress.value  = 133628000
sendProgress.max = 134218000

[2017-06-01 12:05] fippo commented on #894
that looks pretty far off, I expected it to be at most one chunk too much.

I think this is an issue with the strategy/protocol of the sample rather than Chrome though.

[2017-06-06 11:29] artmatsak commented on #899
Could it be this Chrome issue? https://bugs.chromium.org/p/webrtc/issues/detail?id=7567

[2017-06-19 06:33] Hazlank opened #913 "In the electron and edge ,the vedio stream is black,chrome and firebox has no problem.why?"
Hi
**Browsers and versions affected**
Microsoft Edge 40.15063.0.0
electron 1.6.10

**Description**
In edge or electron,when i open two new pages,the first one is work,the vedio stream at the last one is black,and i open the other browser like chrome and firefox ,it become black to ,if i trun off the first one ,and refresh the other page ,there can work and show the image,why?

[2017-06-19 07:10] fippo commented on #913
Typically cameras can only be used by a single process. The easiest fix might be to use multiple cameras.

[2017-06-19 11:55] Hazlank commented on #913
@fippo  thanks for reply，but why the chorme can run two pages？can the electron do like that？

[2017-06-19 16:20] jhonny-villarroel commented on #827
Sorry, for the question:

In the future will there be any version that supports "chrome://flags/#enable-experimental-web-platform-features" by default, instead of enable manually ?

Thanks so much in advance.

[2017-06-19 17:05] fippo commented on #827
@yellowdoge do you know (or know someone who knows)?

[2017-06-19 17:19] jhonny-villarroel commented on #827
@samdutton, any comment about that ?

In the future will there be any version that supports "chrome://flags/#enable-experimental-web-platform-features" by default, instead of enable manually ?

Because currently I am using Chrome Versión 59.0.3071.104 (Build oficial) (64 bits) and the Flag is not supported by default.

Thanks in advance

[2017-06-23 05:33] fippo commented on #827
there is an intent to ship on [blink-dev](https://groups.google.com/a/chromium.org/forum/?utm_medium=email&utm_source=footer#!msg/blink-dev/6Vai94SPoEQ/DLmSiLH3BAAJ) which means this could ship in 61.

go @yellowdoge ;-)

[2017-07-06 12:31] tarun-iitd commented on #616
Hi,

I tried to run above steps. but i m not able to run the media from .y4m file.
Can you please tell the steps to play media from file on chrome browser.

I used below command from chrome browser:
C:\Program Files (x86)\Google\Chrome\Application>chrome.exe --use-fake-device-fo
r-media-stream --use-file-for-fake-video-capture="D:\Tarun\AssignedTasks\RTMP-pl
ayUsingKurento\Scaling_Stress_Testing\f

[2017-07-06 13:36] tarun-iitd commented on #616
apprtc.debug.js:5317 2.392: Initializing; server= undefined.
apprtc.debug.js:5317 2.393: Initializing; room=undefined.
apprtc.debug.js:5317 22.464: Opening signaling channel.
apprtc.debug.js:5317 22.492: Error getting user media:
apprtc.debug.js:5317 22.496: getUserMedia error: Failed to get access to local media. Error name was NotAllowedError. Continuing without sending a stream.

when i oen app

[2017-07-07 04:08] tarun-iitd opened #914 "How to make possible to play local media file on chrome browser"
**Browsers and versions affected**

**Description**
i followed the steps described in below
https://github.com/webrtc/samples/issues/616

**Steps to reproduce**
I tried to run above steps. but i m not able to run the media from .y4m file.
Can you please tell the steps to play media from file on chrome browser.

I used below command from chrome browser:
C:\Program Files (x86)\Google\Chrome\Applicat

[2017-07-07 06:22] tarun-iitd commented on #616
it is working now. i need to close all chrome.exe first then need to run test case.
thanks

[2017-07-07 06:23] tarun-iitd commented on #914
it is working now. i need to close all chrome.exe first then need to run test case.
thanks

[2017-07-08 14:00] whimsicaldreamer opened #915 "Samples not working on edge browser"
**Browsers and versions affected**
Microsoft Edge 38.14393.1358.0

**Description**
None of the webRTC samples are working on Edge browser(mobile).
I keep getting error for `getUserMedia` as `getUserMedia error: SourceUnavailableError`

[2017-07-08 15:10] fippo commented on #915
works fine here, that error sounds like your webcam is either not attached or (for some reason) not supported. What model is is?

cc @shijuns

[2017-07-08 15:49] whimsicaldreamer commented on #915
@fippo I am using Microsoft Lumia 540 Dual SIM as my phone (EDGE 38.14393.1358.0)
The cam works just fine as I am being able to use skype perfectly fine and also take pictures clearly.

I even restarted my phone and tried but the same issue persists.

[2017-07-08 17:38] ShijunS commented on #915
Edge doesn't have support to WebRTC on mobile platform at this point.  The team's focus is still on desktop/tablet devices.  GetUserMedia is expected to work though.  I don't have 540 handy here, but the first couple getUserMedia samples seem to work fine on a 640 device.  The OS on the device is newer (version 15063), so you might want to upgrade the OS and give another try.

[2017-07-08 17:55] whimsicaldreamer commented on #915
@ShijunS I don't think I can upgrade anymore on my device as my device seems to have been listed officially unsupported for creators update. I am currently running OS version 1607 build 10.0.14393.1358 and would like to stay in this version.

**NOTE:** `Let apps use my camera` and `Let apps use my microphone` are turned on.
Any other workarounds? :(

cc @fippo

[2017-07-10 09:07] whimsicaldreamer commented on #915
I am not sure but just asking out of curiosity. Since I get that webRTC is not supported in my version of mobile Edge browser so would it help if I use modernizr and adapter.js hand in hand?

[2017-07-10 13:26] ShijunS commented on #915
There is no RTC support on mobile Edge browser, so it won't help with the JS libraries.

[2017-07-10 14:13] whimsicaldreamer commented on #915
So that means even with this shims I can't get it to work on Edge mobile browser unless the OS is updated.

[2017-07-10 15:00] ShijunS commented on #915
Correct.  At this point, we haven't scheduled the work yet to add RTC stack to Edge mobile browser.  This is still something on our backlog.

[2017-07-10 15:06] whimsicaldreamer commented on #915
Ok. That's bad for now. When can we expect to see the addition?
Out of curiosity RTC stack means the getUserMedia, peerConnection etc?

[2017-07-10 15:15] ShijunS commented on #915
RTC stack means the WebRTC/ORTC APIs and the corresponding networking protocols.

The basic functionality of getUserMedia is expected to work on the OS you have on your Lumia 540.  Not sure what is the issue there.  Please feel free to open a bug to us using the Edge issue tracker - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/.

[2017-07-10 15:24] whimsicaldreamer commented on #915
Well I tried opening a new issue on the link you provided but it seems they are not allowing to create a new issue at this moment.

[2017-07-19 05:36] trevordowdle opened #916 "Samples - Record Stream no longer working in chrome Macbook"
**Browsers and versions affected**
Version 59.0.3071.115

**Description**
When recording there is some stalling and then when you try to play back the recording it errors out

**Steps to reproduce**
Try the recording sample using Chrome (I'm on a macbook pro)

**Expected results**
It produces a recording that you can playback

**Actual results**
Errors out

**In Addition**
In past versions of Chro

[2017-07-19 18:40] fatihemir opened #917 "asdas"
**Browsers and versions affected**

**Description**

**Steps to reproduce**

**Expected results**

**Actual results**

[2017-08-17 09:45] Ocangrybear opened #921 "in safari the onremovestream is not executed"
**Browsers and versions affected**
safari technology preview 11.1

**Description**
in safari the onremovestream is not executed

**Steps to reproduce**
the same code in chrome the onremovestream is executed but in safari the onremovestream is not executed

**Expected results**

**Actual results**

[2017-08-18 06:53] #921 closed, assigned to nobody

[2017-08-18 14:09] ghost opened #922 "Not readable error on chrome for android"
**Browsers and versions affected**
Chrome on android , version 59

**Description**
Getusermedia () fails with Error: Not Readable Error

**Steps to reproduce**

https://webrtc.github.io/samples/src/content/getusermedia/gum/

**Expected results**
Capture the webcam video

**Actual results**
Error: Not Readable Error

I have checked the permissions....webcam and microphone are allowed access.
It wor

[2017-08-20 23:33] voiceactivity commented on #922
Having the same issue.
Firefox for Android works perfectly 👍
Also noticed that the Firefox on Android offers me the choice of camera I want to use (front or rear).
Chrome remains silent and just throws the 'Not Readable Error' on attempt to getUserMedia call even
though  all permissions granted.
Would be nice to have that one fixed.
Thank you.

[2017-08-20 23:47] voiceactivity commented on #922
Oops, looks like this bug is related to the Chromium rather than to the adapter.js

In nutshell, as per guidou@chromium.org:
**_"If the camera does not report a frame rate of at least 1fps, it will be rejected in M58 and later.
The --enable-features=MediaStreamOldVideoConstraints switch makes 59 and 60 work like 58, so it will not work in this case.
Since this is not the first bug related to camer

[2017-08-27 17:55] samkhan1 opened #924 "close camera"
@samdutton How does one close the camera after stop recording?

The camera stays on after stop recording is click in this example: https://github.com/webrtc/samples/blob/gh-pages/src/content/getusermedia/record/js/main.js

[2017-08-27 18:14] fippo commented on #924
see the hangup button in https://webrtc.github.io/samples/src/content/peerconnection/pc1/ -- essentially you call track.stop() on the video track (not the stream!)

[2017-08-29 19:52] jonobr1 opened #925 "Web Audio Input Not Working on Safari 11"
**Browsers and versions affected**
Safari `Version 11.0 (12604.1.38.1.3)`

**Description**
No error in console but I get this error when visiting the [Web Audio Input Example](https://webrtc.github.io/samples/src/content/peerconnection/webaudio-input/).
<img width="1280" alt="screen shot 2017-08-29 at 12 50 41 pm" src="https://user-images.githubusercontent.com/220033/29841011-c19b330a-8cb8-11e7-9f

[2017-09-14 09:48] sampleref opened #927 "Webrtc video examples throw error getUserMedia error Failed to get access to local media"
**Browsers and versions affected**
Chrome Version 60.0.3112.113 (Official Build) (64-bit)

**Description**
When trying to loaf WebRTC examples  like h**ttps://appr.tc/ or Kurento Examples or any WebRTC examples with code navigator.mediaDevices.getUserMedia, Error is thrown as below in browser console**

_**getUserMedia error: Failed to get access to local media. Error name was NotFoundError. Conti

[2017-09-17 18:30] fatihemir opened #928 "dgdfg"
**Browsers and versions affected**

**Description**

**Steps to reproduce**

**Expected results**

**Actual results**

[2017-09-19 20:36] kylemcdonald opened #929 "iOS 11 Safari Needs Additional Properties"
**Browsers and versions affected**

iOS 11 Safari on iPhone (not on iPad)

**Description**

`getUserMedia()` does not start unless some additional properties are added to the `<video>` tag: `playsinline` and `autoplay`, and `controls="true"`. Details are being tracked in [this thread](https://bugs.webkit.org/show_bug.cgi?id=176843). It looks like once you run an example with `controls="true"` once

[2017-09-20 09:25] fippo commented on #929
@youennf you might want to take a look

[2017-09-20 10:52] tkbremnes commented on #929
I've verified that it works. How we at appear.in solved it:
[code]

Update: you don't need the `controls=true` hack above, just the `playsinline`.

[2017-09-20 15:48] youennf commented on #929
Use of playsinline is currently required on iOS to actually play any video inline.
There is no special getUserMedia/webrtc treatment here at the moment.

The need for the controls="true" trick is unexpected so there is probably a bug here.
tkbremnes, are you confirming that the "controls" trick was needed for you?
You need to do that for every page load, every video element?

[2017-09-21 07:43] tkbremnes commented on #929
I'll have a look and see if the `controls=true` is actually needed.

[2017-09-21 08:07] tkbremnes commented on #929
It appears that the `controls=true` thing wasn't needed. Thanks :)

[2017-09-21 08:13] benbro commented on #929
In my tests controls="true" is needed.
Without it remote stream doesn't play.

[2017-09-21 14:37] youennf commented on #929
See also related https://github.com/webrtc/samples/pull/926

[2017-09-22 10:01] TiborUdvari commented on #925
+1

[2017-09-22 17:40] seeingwithsound commented on #929
I have a WebRTC app that works in Firefox and Chrome on Android and Windows, but user reports tell me that it still fails in Safari 11 on iOS 11. What could I be missing? I've added the playsinline to The vOICe Web App https://www.seeingwithsound.com/webvoice.htm

Thanks!

[2017-09-22 18:17] marcelrouw opened #930 "ICE candidate gathering from STUN/TURN servers example doesn't work with Safari 11"
**Browsers and versions affected**
Safari 11

**Description**
[ICE candidate gathering from STUN/TURN servers](https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/) example doesn't work with Safari 11 with the default ICE server

[2017-09-22 18:29] youennf commented on #929
Difficult to say.
Loading your web site on Safari, I can see that two NotSupported exceptions are raised in your web audio code, when trying to call createBuffer on a webKitAudioContext.
Is that the issue you are talking about?
If so, it probably means that some of the parameter values of the sample rate or the number of channels might not supported.

[2017-09-22 19:57] seeingwithsound commented on #929
It might be. Blind iPhone users told me that they got no sound whatsoever, so the exception would explain that. Unfortunately I have no iPhone or iPad so am for the moment working with educated guesses. I'm using 2-channel stereo with a 16000 Hz sample rate, which is a very common format (AFAIK Web Audio does not support querying supported formats https://webaudio.github.io/web-audio-api/). Thank

[2017-09-22 19:59] youennf commented on #929
Is is probably not the right place, might be better to file a bug in bugs.webkit.org.
WebKit is implementing an older WebAudio spec version so 16000 is probably unsupported. 22050 should.

[2017-09-22 19:59] youennf commented on #929
Note also that iPhone/iPads might require a user gesture to produce sound.

[2017-09-22 21:47] seeingwithsound commented on #929
Thanks a lot! I've modified my web app to use a sample rate of 22050 instead of 16000 to see if that makes a difference https://www.seeingwithsound.com/webvoice.htm (this might require a browser cache refresh). Yes, I am aware of the annoying gesture requirement and have advised blind testers to try press the app's Reset button to get things going (which by itself ought to sound a 2-tone beep). If

[2017-09-22 22:46] youennf commented on #929
Loaded and I now get a gum prompt and see b/w frames...

[2017-09-22 22:50] seeingwithsound commented on #929
Cool, that is what is supposed to happen. Getting any sounds associated with the B&W camera frames?

[2017-09-23 01:22] youennf commented on #929
Getting some sound on Safari Mac

[2017-09-23 02:43] AsyraniAzni commented on #927
Browsers and versions affected
Chrome Version 60.0.3112.116 (Android)

[2017-09-23 06:55] seeingwithsound commented on #929
Fabulous! Over the past 12 hours I received multiple reports from blind users with Safari under iOS 11 on iPhone 7 and iPhone 6S that it worked for them too, provided they hit the Play button at startup to take care of Apple's gesture requirement. They got the live soundscapes that they were already used to hearing on other platforms. Your remarks concerning NotSupported with createBuffer proved i

[2017-09-25 15:01] marcelrouw commented on #930
The root cause of this issue is discussed in this thread in the adapter.js project
[https://github.com/webrtc/adapter/issues/661](https://github.com/webrtc/adapter/issues/661)

[2017-09-25 15:03] #930 closed, assigned to nobody

[2017-09-27 11:59] davies147 commented on #925
+1 - Issue also raised with Apple

[2017-09-27 12:06] fippo commented on #925
Does it work after running `window.AudioContext = window.webkitAudiocontext;` in the console?

[2017-09-27 12:25] davies147 commented on #925
Thanks for the pointer - Sadly that does not appear to help - The reason I got to this page at-all is that I use adapter.js in our own project (Works fine in Chrome and Firefox cross-platform), but on Safari, while video works fine (internal camera is the only choice), with Audio we get the following:

System input = Internal Mic, audio source not constrained = Okay
System input = any other Mic, a

[2017-09-27 14:19] davies147 commented on #925
Further to the above, if an alternative System audio output device is selected in the OS, and Safari is restarted, all audio inputs seem to stop working. GUM still returns a stream with the relevant track(s) on it, but it is not functional.

Teething problems I'm guessing.

[2017-09-28 16:40] youennf commented on #929
https://webrtc.github.io/samples/src/content/getusermedia/gum/ was updated to use playsinline.
Let me know if this example does not work out of the box now.

[2017-09-29 14:12] benbro opened #931 "Volume example on iOS Safari 11"
**Browsers and versions affected**
Safari 11, iOS

**Description**
There is no volume indication in Safari.
Also reported to webkit:
https://bugs.webkit.org/show_bug.cgi?id=177292

**Steps to reproduce**
Load the sample in iOS Safari:
https://webrtc.github.io/samples/src/content/getusermedia/volume/

**Expected results**
Volume indicators should respond to the mic.

**Actual results**
No volume in

[2017-10-01 19:59] ghost opened #932 "tried to setup datachannel following the example"
I tried to follow the example of sending text, i have compared the codes, and on my side it's simply not working.

It's going to UDP, fallback to TCP, and i think going to STUN after that, as Firefox says. Chrome does not say anything just stuck.

Any idea on this?

On the example itself with UDP is working.

[2017-10-06 02:38] youennf commented on #925
Safari currently does not support web audio input to peer connection. If that is critical to your app, please let me know.
It seems you discovered additional issues related to audio. A radar or a bug at bugs.webkit.org would be appreciated.

[2017-10-06 06:35] sebhaase commented on #925
+1

[2017-10-06 09:15] fquirin commented on #931
+1
None of the "audio-only" examples is working on my iPhone 6, tried iOS 11.0.0 - 11.0.2.

[2017-10-06 16:05] davies147 commented on #925
I have raised this with Apple - Is that sufficient? It only affects Safari after all - webkit is used elsewhere without these issues.

[2017-10-06 16:10] youennf commented on #925
cc @eric-carlson

[2017-10-06 16:23] marcelrouw commented on #931
+1
I run into the same issue with my mac
Safari Version 11.0 (13604.1.38.1.6)

[2017-10-09 12:43] marcelrouw commented on #931
My issue seem to be caused by the update of my mac
"macOS High Sierra 10.13 Supplemental Update"
Released October 5, 2017

[2017-10-10 13:55] ruslan-mystore opened #933 "iOS 11: Webrtc video stream does not working in PWA (Progressive Web App)"
Webrtc video stream does not working in PWA (Progressive Web App) as standalone APP  on iOS.
Tested devices: iphone7, iphone 6, ipad pro 2017

When you accessing to the Web Page via Safari 11 it's working fine, but not as pwa standalone app

[2017-10-10 14:14] #928 closed, assigned to nobody

[2017-10-10 14:14] KaptenJansson commented on #933
Not sure how PWA works on iOS. Is it safari that packages it?

[2017-10-10 14:15] #924 closed, assigned to nobody

[2017-10-10 14:16] KaptenJansson commented on #927
Does any of the apps on https://webrtc.github.io/test-pages/ work?

[2017-10-12 17:25] Lucassifoni commented on #933
Hey,

When you have a apple-mobile-web-app-capable meta tag, both getUserMedia and photo upload with an `<input type="file">` tag stop working. iOS 11 supposedly brought WebRTC, but broke the main previous way to upload pictures (the input tag) and didn't bring getUserMedia in a PWA context.

For now, the only "solution" is to remove the meta tag and access the page from Safari, not the homescreen

[2017-10-18 15:13] ghost commented on #922
I raised it as bug in chrome for android and It seems to have been fixed now. I checked in chrome for android version 61.0.3163.98 and it works . Hurray !

[2017-10-18 15:13] #922 closed, assigned to nobody

[2017-10-20 14:13] alvestrand opened #936 "Travis CI failed on Firefox since version 55"
**Browsers and versions affected**
Last successful run on Firefox stable: https://travis-ci.org/webrtc/samples/jobs/262281750
First unsuccessful run on Firefox stable: https://travis-ci.org/webrtc/samples/jobs/262698326

Nothing seems to have succeeded since, but the errors might vary.

Tagging @jan-ivar  - feel free to reassign.

[2017-10-20 14:27] fippo commented on #936
mostly because geckodriver is pinned to 1.4.0 in https://github.com/webrtc/utilities
I'll update there but it requires fixing more bugs...

[2017-10-20 15:09] fippo commented on #936
https://github.com/webrtc/utilities/pull/30 should fix stuff. I wonder if we should get rid of that package as we  never managed to use it for more than the samples even.

[2017-10-23 08:26] alvestrand commented on #936
Seems to still be failing, so reopening. Not propagated to samples repo?

[2017-10-26 07:44] rantonysamy opened #941 "Problem with the test page - Full HD doesn't work for the first time"
[getUserMedia-FullHD.log](https://github.com/webrtc/samples/files/1417399/getUserMedia-FullHD.log)

[over_constraint_error_at_124px.log](https://github.com/webrtc/samples/files/1417395/over_constraint_error_at_124px.log)
**Browsers and versions affected**
HP Chromebook 11 G3

**Description**
The test page at https://webrtc.github.io/samples/src/content/getusermedia/resolution/ does not return succ

[2017-10-30 13:34] wpp opened #942 "Select sources & outputs example for Safari (11)"
**Browsers and versions affected**

Safari Version 11.0 (12604.1.38.1.7) (macOS)

**Description**

The example ["Select sources & outputs"](https://webrtc.github.io/samples/src/content/devices/input-output/
) is not switching the audio input devices as expected. I have 2 microphones connected and the example let's me select Mic B, but audio is still coming from Mic A (Default). I currently can't t

[2017-10-31 13:52] rantonysamy opened #943 "Warning for URL.createObjectURL(stream) Deprecated and use elem.srcObject = stream"
**Browsers and versions affected**
Google Chrome on Mac OS, Chrome on Chromebooks

**Description**
Java Console says URL.createObjectURL(stream) is deprecated, please use elem.srcObject = stream instead

**Steps to reproduce**
Go to https://webrtc.github.io/samples/src/content/getusermedia/record/
Inspect and look at the Console

**Expected results**
Javascript console should not give any warnings

[2017-10-31 13:59] fippo commented on #943
will be fixed by #920

[2017-10-31 15:34] rantonysamy opened #944 "MediaRecording.recordmedia.error() - 416 Requested Range not satisfiable"
**Browsers and versions affected**
ChromeBooks

**Description**
When trying to Record and play the media with the subjected test page (in the steps), this error shows up multiple times (1 out of 2 times).

**Steps to reproduce**
Go to https://webrtc.github.io/samples/src/content/getusermedia/record/
Open JS Console in the Chromebook (Shift + Ctrl + J)
Tap on Start recording
Tap on Stop recording a

[2017-10-31 15:36] fippo commented on #944
@yellowdoge ^^

[2017-11-01 20:40] cvranjani opened #945 "[Stream capture from video element to video element and peer connection pages] Remote video is not in alignment with local video after first playback"
**Browsers and versions affected**
Chrome Version: 63.0.3239.26 / 10032.21.0 dev
OS: Chrome

**Steps to reproduce**
1. https://webrtc.github.io/samples/src/content/capture/video-video/
2. Open the page and play the video
3. Observe that the video is played in both local and remote videos
4. Once the video ends, try to play the same video again in local video.

**Expected results**
Remote video sho

[2017-11-02 15:04] rantonysamy opened #946 "Fix deprecated rtcpMuxPolicy"
**Browsers and versions affected**
Chrome OS

**Description**

[Deprecation] The rtcpMuxPolicy option is being considered for removal and may be removed no earlier than M62, around October 2017. If you depend on it, please see https://www.chromestatus.com/features/5654810086866944 for more details.

**Steps to reproduce**
Go to https://webrtc.github.io/samples/src/content/peerconnection/trickle-ic

[2017-11-02 16:53] slpn1 opened #947 "Flags or Experimental Features no longer needed"
**Browsers and versions affected**
Version 62.0.3202.75 Mac and Windows

**Description**
It seems Enable experimental Web Platform features or setting flag --enable-blink-features=EnumerateDevices,AudioOutputDevices is no longer needed for this to work correctly. Although this is good, it picks my headset as default now. I am using Tokbox which doesn't provide any api to change output.

**Steps to

[2017-11-02 22:57] fippo commented on #947
which demo? Also I am fairly sure Tokbox provides an API for that. @aullman will know.

[2017-11-03 07:37] slpn1 commented on #947
This demo: https://webrtc.github.io/samples/src/content/devices/multi/
I was led here from the link at the bottom of that page. I'm pretty sure Tokbox do not provide a js API for output devices, only input devices.

My question really is when enabling the flag or setting experimental features was no longer needed as I can't find any release notes about it, and it no longer seems the case. If it wa

[2017-11-03 11:24] fippo commented on #947
@guidou you might know

[2017-11-03 11:38] slpn1 commented on #947
I think you answered my query on StackOverflow. Seems flags are no longer needed, but since version 62 of Chrome, the system default audio output isn't picked.

[2017-11-07 14:22] GitHubIsShortOnUsernames commented on #925
Just chiming in to mention that this is a show stopper for us, too.

[2017-11-07 17:23] eric-carlson commented on #925
@davies147 can you please list, or send me directly, the bug number(s) you have filed with Apple about this?

[2017-11-09 08:25] #943 closed, assigned to nobody

[2017-11-09 09:08] Pablo-Aldana commented on #933
Any chance to have this issue / feature solve/done? In my company we are doing a PWA face recognition and unfortunately we cannot use it as PWA in iOS because of this issue.

[2017-11-09 21:04] Lucassifoni commented on #933
Sadly, for internal apps, we're looking to buy Android devices as a workaround. The lack of communication is deceiving.

[2017-11-10 13:06] rantonysamy opened #948 "Uncaught DOMException: Failed to execute "send" on "RTCDataChannel""
**Browsers and versions affected**
Chrome

**Description**
While trying to generate and transfer data, greeted with Javascript Exception.

**Steps to reproduce**
Go to https://webrtc.github.io/samples/src/content/datachannel/datatransfer/
Click on Generate and send data
Open the Javascript console and watch for errors (happens in the end of the transfer)

**Expected results**
No Javascript excepti

[2017-11-10 13:06] benbro commented on #931
https://bugs.webkit.org/show_bug.cgi?id=177292#c3

[2017-11-10 20:17] cvranjani commented on #948
This issue is same as : https://github.com/webrtc/samples/issues/894

[2017-11-12 18:07] sshadmand opened #949 "webrtc/samples throws 'Failed to allocate audiosource' error in Firefox"
**Browsers and versions affected**
FF 56.0.2 (64-bit) on Mac OS 10.13.1

**Description**

When running the basic script below (and having restart my computer, browsers, and made sure nothing else is using Audio) I get this error:

For sanity I have tried https://webrtc.github.io/samples/src/content/getusermedia/record/ on Firefox and get the same error.

Is there a way to see (and kill) what ever

[2017-11-13 09:27] Pehrsons commented on #949
I don't know anything that could cause this from the top of my head. But if you file a bug on bugzilla.mozilla.org we can take a deeper look. The product and component would be "Core :: WebRTC: Audio/Video".

Some more data like testing other versions (57,58) and with a clean profile (no extensions and all default prefs in about:config) would help also.

[2017-11-14 11:04] rantonysamy commented on #894
Any fix versions for this issue ?

[2017-11-15 13:20] wpp opened #950 "Displaying volume example does not display audio levels in Safari (iOS)."
**Browsers and versions affected**

Safari for iOS 11.2 Developer beta 2

**Description**

The "Audio-only getUserMedia() displaying volume" example does not display changes in the audio levels. The example works fine on the Desktop Version of Safari (11.0.1). The remote debugging console does not yield any errors:
![screen shot 2017-11-15 at 14 19 46](https://user-images.githubusercontent.com/942

[2017-11-15 13:27] wpp commented on #942
FYI Ticket has been filed here: https://bugs.webkit.org/show_bug.cgi?id=175975

[2017-11-15 13:28] wpp commented on #950
Duplicate of #931

[2017-11-15 13:28] #950 closed, assigned to nobody

[2017-11-15 13:29] wpp commented on #931
Some additional information from me (#950): The example works fine on the Desktop Version of Safari (11.0.1).

[2017-11-16 13:45] KaptenJansson commented on #894
Not planned sorry. As long as it's not happening every time it will have low prio.

[2017-11-16 16:22] rantonysamy opened #951 "Connection Status has not affected after connection"
**Browsers and versions affected**
Chrome OS

**Description**
Test Page for Ice restart, has connection status field and Its always static as "Not connected"

**Steps to reproduce**
Go to https://webrtc.github.io/samples/src/content/peerconnection/restart-ice/
Click on "Start"
Click on "Call"
Click on "Restart Ice"
Click on "Hangup"

**Expected results**
The Connection status should be changed whe

[2017-11-16 16:58] fippo commented on #951
@henbos this looks like it doesn't work with the new stats. There is code in the constraints sample which can probably be copied.

[2017-11-16 18:58] cvranjani commented on #951
Existing issue for "Not connected" status in restart-ice page :
https://github.com/webrtc/samples/issues/863

[2017-11-17 10:09] tscpereira commented on #616
Yes it works! In my case I had to kill all the chrome processes before initialize the new instance with fake-device enabled.

[2017-11-17 12:12] rantonysamy opened #953 "Spam link at webaudio-input sample page"
**Browsers and versions affected**
All

**Description**
Sample has a "Live audio input" link, that redirects to html5audio.org domain which was expired or unattended, and spammy ad-content had been linked with that.

**Steps to reproduce**
Go to https://webrtc.github.io/samples/src/content/peerconnection/webaudio-input/
Check the "Live audio input" and click on it
**Expected results**
Goes to the

[2017-11-17 12:16] KaptenJansson commented on #953
Moved to https://developers.google.com/web/updates/2012/09/Live-Web-Audio-Input-Enabled

[2017-11-17 12:53] rantonysamy opened #955 "Screen blacks out when min-width sent as 1920px"
**Browsers and versions affected**
Chromebooks

**Description**
If min width sent as Overconstrainted (1920px), there should be OverconstraintedError, but Instead the screen blacks out with Video dimensions - 2x2px error.

**Steps to reproduce**
get a Chrome book - Go to https://webrtc.github.io/samples/src/content/peerconnection/constraints/
Setup the Min width to the maximum (1920px) and rest of

[2017-11-17 13:05] KaptenJansson commented on #955
This is up to the device to respond properly, if it does the overconstrained error will be shown. In this case getUserMedia succeeds but the camera fails to deliver video. getUserMedia is a just request for media, not a guarantee hence the underlying devices can fail and not produce anything.

What we could add here though is a message that the trackEnded event has fired (that's when you see black

[2017-11-17 13:09] KaptenJansson commented on #948
Closed as dupe

[2017-11-17 13:09] #948 closed, assigned to nobody

[2017-11-17 13:09] KaptenJansson commented on #951
closed as dupe

[2017-11-17 13:09] #951 closed, assigned to nobody

[2017-11-17 13:20] rantonysamy commented on #955
Okey that would be great !!

[2017-11-20 11:37] wpp opened #956 ""Choose camera" example: camera activity indicator remains active after switching devices."
**Browsers and versions affected**

Microsoft Edge 41.16299.15.0
Microsoft EdgeHTML 16.16299

**Description**

The camera activity indicator remains active after (switching devices) stopping all tracks from a previously acquired stream. This only seems to happen when acquiring an audio and video stream.
The example behaves as expected in other browsers:

* Google Chrome Version 62.0.3202.94
* Mozi

[2017-11-23 10:35] BrandoZhang opened #957 "Failed to load resource: the server responded with a status of 404 (Not Found)"
**Browsers and versions affected**
System: MacOS 10.13.1
Browser: Chrome 62.0.3202.94

**Description**
When I do the tutorial in codelab step-04: https://codelabs.developers.google.com/codelabs/webrtc-web/#6
I install dependencies, run `npm install` from the command line terminal in my work directory, it shows that:
`step-04 brando$ npm install
npm WARN webrtc-codelab@0.0.1 No repository field.
np

[2017-11-23 17:59] #953 closed, assigned to nobody

[2017-11-23 18:04] fippo commented on #953
@samdutton if you remember similar stuff on that domain from the ancient past you might want to change those links too

[2017-11-26 13:17] samdutton commented on #953
Thanks @rantonysamy !

Hi @fippo — which page do you mean :)?

[2017-11-26 21:36] fippo commented on #953
@samdutton: html5audio.org -- assuming that you added the link and not someone else ;-)

[2017-11-27 09:57] KaptenJansson commented on #957
Wrong project, https://bitbucket.org/webrtc/codelab.

[2017-11-27 09:57] #957 closed, assigned to nobody

[2017-11-27 09:59] KaptenJansson commented on #956
Is this an FYI since the issue is in the Edge browser?

[2017-11-27 10:34] wpp commented on #956
Exactly. Feel free to close this in case the issue section here is not the right place for that.

[2017-11-27 11:40] samdutton commented on #953
Sorry to be dim @fippo — which page has the link to html5audio.org?

[2017-11-27 14:00] KaptenJansson commented on #956
That's fine, added a label to indicate where the bug lies. This is great for visibility. Thanks!

[2017-11-27 21:23] mrwizzer commented on #929
This is very promising!  Can anyone direct me to an example of a simple audio recorder using getUserMedia working successfully on iOS?

[2017-11-28 16:32] mrwizzer commented on #929
Thanks @catcher-in-the-try, but that looks more like a speech to text API.  While it looks very cool, I'm just looking for a very simple way to implement a voice recorder within the browser to record a short audio snippet and play it back immediately. No need even to download the resulting audio file.

Can anyone direct me to a tutorial or sample of something that simple using getUserMedia or simi

[2017-11-28 17:58] sshadmand commented on #949
Thanks @Pehrsons, using 57 fixed the issue! What a lucky break :-)

[2017-11-29 07:09] aiquantong commented on #929
HI, there are demo, https://webrtc.github.io/samples/.  it is very good adapter in the popular browser.

[2017-11-29 17:56] mrwizzer commented on #929
Aiquantong, thanks, this looks like a great comprehensive list.

But the "Record Stream" demo doesn't work on iOS. They're using the MediaRecorder API, which isn't supported on iOS.

**Does anyone know if _recording_ the audio stream using WebRTC is possible yet on iOS?**

[2017-11-30 13:56] rantonysamy opened #959 "Adding Local Cache to Store the Data"
**Browsers and versions affected**
All

**Description**
Adding Local Cache to Store the Data, So while connecting again, I do not need to enter the data  (Even better, make a AppRTC Call and find out the Credentials and list that down)

https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/

[2017-11-30 13:56] rantonysamy opened #960 "Status message Once the Receive Progress / Send Progress Completed"
**Browsers and versions affected**
All

**Description**
Little Status message Once the Receive Progress / Send Progress Completed

https://webrtc.github.io/samples/src/content/datachannel/datatransfer/

[2017-11-30 13:59] rantonysamy commented on #863
Check you can fix this, and also add more Information along with the Connection status.

[2017-12-01 08:58] aiquantong commented on #929
Hi mrwizzer. It is more critical issue to make the webRTC audio not to work.  Now, it is blocking my job, very badly.
![screen shot 2017-12-01 at 4 55 34 pm](https://user-images.githubusercontent.com/4433554/33475266-cb8c8ca2-d6b8-11e7-85c2-17ed51392888.png)

[2017-12-01 09:21] aiquantong commented on #925
Hi  All. I encounter the same issue. I try to check it. But No finding, util now.
I try to support webRTC in safari 11, I find the video of communication is Ok, but not audio. I debug it,  find numberOfInputs is 0,  I suspect it is key,  verifying.

[2017-12-01 09:34] rantonysamy opened #961 "Improve the UI with the objective of the test"
**Browsers and versions affected**
All

**Description**
The PR Answer test, does not have any details / Descriptions like other tests. It will be nice to have the Objective of the test added in the page

**Steps to reproduce**
Go to https://webrtc.github.io/samples/src/content/peerconnection/pr-answer/

**Expected results**
Test Objective and description added in the Page

**Actual results**
No te

[2017-12-02 21:19] Sun1718 opened #962 "lagging in record stream demo on android"
First thanks for your codes,
I tested record stream demo on Android chrome 62. but when I start recording, preview is lagging. any suggestion?

Regards

[2017-12-04 12:57] rantonysamy opened #963 "Enable testing 4K in the test page"
**Browsers and versions affected**
All

**Description**
As of now we support upto Full HD to be tested in the page https://webrtc.github.io/samples/src/content/getusermedia/resolution/

It will be nice to have 4K (and If not supported return ConstraintsError)

**Steps to reproduce**
Go to test page https://webrtc.github.io/samples/src/content/getusermedia/resolution/
Check you have a Button for re

[2017-12-04 13:00] rantonysamy opened #964 "In the constraints sample, allow 4K sample to be tested"
**Browsers and versions affected**
All

**Description**
Allow Max width upto 4K in https://webrtc.github.io/samples/src/content/peerconnection/constraints/

**Steps to reproduce**
All the User to setup 4K Res for the Sliders Max Width and Max Height.

**Expected results**
Users able to test 4K resolution in the test page.

[2017-12-04 21:09] mrwizzer commented on #929
This is the closest example of successful audio recording I've found, but still not 100% there.  It works solidly in Safari on MacOS, as well as Chrome and Firefox, Android too!  And, _sometimes_ on iOS.  About 50% of the time I get a successful recording.  The other half of the time it shows "Error" with no recording.

Here's the example:
https://www.webrtc-experiment.com/RecordRTC/simple-demos/a

[2017-12-05 09:28] rantonysamy commented on #946
Check PR https://github.com/w3c/web-platform-tests/pull/6480

[2017-12-05 15:14] #963 closed, assigned to nobody

[2017-12-05 15:38] #964 closed, assigned to nobody

[2017-12-05 15:38] rantonysamy commented on #964
Merged !

[2017-12-07 07:34] axe-axe opened #969 "webrtc each step success but no video share"
**chrome version: 62.0.3202.94 **
**firefox version: 57.0.1**

I'm sorry there is no description, i've already asked a question at [stackoverflow](https://stackoverflow.com/questions/47688581/webrtc-each-step-success-but-no-video-share) and shown all the code.Up to now there is no answer.
Please help me.

[2017-12-07 08:04] fippo commented on #969
answered on stackoverflow.

[2017-12-07 08:13] axe-axe commented on #969
thanks a lot, but i'm sorry it didn't work. Now i repalce `createOffer` after `addStream` and it still no use.
[code]

[2017-12-07 13:49] rantonysamy opened #970 "Add Ideal values (Bitrate / BitsPerSecond) to be checked in different codecs"
**Browsers and versions affected**
All

**Description**
In the Sample https://webrtc.github.io/samples/src/content/peerconnection/audio/ Bit Rates and Bits Per second has been displayed in the Graph. But It will be great to add What is the Ideal bit rate / bits per second for each codecs.

[2017-12-07 14:12] fippo commented on #970
this is not trivial to define. For example opus has a different target bitrate in Chrome (~35-40kbps) and Firefox (50kbps)

But adding a table to document those bitrates sounds like a good idea

[2017-12-07 14:14] rantonysamy commented on #970
Thanks. Nice to have the expected bitrate / BPS in a table view will be helpful. Please take a look below.

Expected results:
Opus:
Bitrate range: ~40 kbps, mute: same
Packets sent per second range: ~50 packets, muted: same

iSAC 16k
Bitrate range: ~30 kbps, muted: same
Packets sent per second range: ~35 packets, muted: same

G722
Bitrate range: ~70 kbps, muted: same
Packets sent per second range:

[2017-12-07 14:20] rantonysamy commented on #970
I can send a PR with this table added in the test page if you think the above table is good.

[2017-12-07 14:25] fippo commented on #970
opus and isac should drop bitrate when muted (unless cbr is used for opus which might be an interesting extension)

ISAC has 30ms frames so should be ~33pps. Other values look good but you might want to get one of the folks with "magic ears" give a courtsy nod :-)

[2017-12-07 14:50] rantonysamy commented on #970
Okey good. I will add all these Information and create a PR, lets see how it goes.

[2017-12-07 14:50] #941 closed, assigned to nobody

[2017-12-07 14:51] rantonysamy commented on #941
Not available anymore.

[2017-12-08 04:45] axe-axe commented on #969
excuse me ？

[2017-12-08 09:12] #946 closed, assigned to nobody

[2017-12-08 09:16] KaptenJansson commented on #969
PTAL at https://www.html5rocks.com/en/tutorials/webrtc/basics/#toc-signaling

[2017-12-08 09:17] KaptenJansson commented on #969
Also closing this since its not related to samples.

[2017-12-08 09:17] #969 closed, assigned to nobody

[2017-12-08 09:31] KaptenJansson commented on #964
FYI you can add fixes #"issue number" in the PR to automatically close the bug.

[2017-12-11 13:27] vkkkumar opened #973 "Pause button is not working while playing a recorded video."
**Browsers and versions affected**
M64 Dev ToT
10172.0.0 / 64.0.3282.11
(Chrome)

**Description**
Pause button is not working.

**Steps to reproduce**
0. Browse to https://webrtc.github.io/samples/src/content/getusermedia/record/
1. Open the javascript console (alt+cmd+j or ctr+shift+j) and watch for any errors
2. Enable "Enable experimental Web Platform features" flag in chrome://flags.
3. Click

[2017-12-11 15:21] vkkkumar opened #974 "Boundary values can be provided for this example (Usability feedback)"
**Browsers and versions affected**
All

**Steps to reproduce**
0. Browse to https://webrtc.github.io/samples/src/content/datachannel/datatransfer/
1. Open the javascript console (alt+cmd+j or ctr+shift+j) and watch for any errors
2. Click on "Generate and Send data" for the default size 128 MB
3. Enter a very large number for example (15000)

**Expected results**
Provide the supported boundary val

[2017-12-14 06:38] lumen82 opened #977 "DevicesNotFoundError"
**Browsers and versions affected**
chrome
Version 63.0.3239.84 (Official Build) (64-bit)

**Description**
视频通话时显示提示错误信息 DevicesNotFoundError

**Steps to reproduce**

**Expected results**

**Actual results**

[2017-12-14 09:12] KaptenJansson commented on #977
This indicates your devices are not found, have you connected a camera and a mic to your computer? Also what page is this from?

[2017-12-14 10:40] vkkkumar opened #978 "Failed to load resource: status 403"
**Browsers and versions affected**
chrome 64.0.3282.22

**Steps to reproduce**
1. Browse to https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/
2. Open the javascript console (alt+cmd+j or ctr+shift+j) and watch for any errors
3. Click the "Gather candidates" button
4. java script error should come if not
5. open appr.tc and join a new room in another tab.

**Expected results*

[2017-12-14 10:49] rantonysamy commented on #978
Its a problem with the Extension associated with the browser. So "Won't Fix".

[2017-12-14 10:49] #978 closed, assigned to nobody

[2017-12-14 10:58] vkkkumar opened #979 "Update the test page with the latest methods [deprecation]"
**Browsers and versions affected**
chrome OS  64.0.3282.22

**Steps to reproduce**
1. Browse to https://webrtc.github.io/samples/src/content/peerconnection/webaudio-input/
2. Open the javascript console (alt+cmd+j or ctr+shift+j) and watch for any errors
3. Press Start
4. Start speaking, verify that you can hear yourself
5. While focus is still on the page, press any key on your keyboard. Verify t

[2017-12-14 11:26] lumen82 commented on #977
Sorry, I use this in a http website. When I change to https, it's all right now!

[2017-12-14 12:20] vkkkumar opened #980 "Gather candidates button disabled upon following the steps"
**Browsers and versions affected**
chrome OS M64 Dev ToT 10176.11.0 / 64.0.3282.22

**Steps to reproduce**
1. Browse to https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/
2. Open the javascript console (alt+cmd+j or ctr+shift+j) and watch for any errors
3. **Click the "Gather candidates" button** **(Note at this point button is active)
4. Verify that you see candidates of typ

[2017-12-14 12:51] rantonysamy commented on #970
Yes XCode messed up my Indent I fixed that too.

[2017-12-14 13:40] KaptenJansson commented on #980
The screenshot link added is broken.

I guess the turn server is not returning in this case. How long do you wait?

Maybe we should add a timeout? Does it make sense to make it user configurable?

[2017-12-14 13:41] fippo commented on #980
candidate gathering is timing out. We changed the behaviour of the gather button to wait a while ago.
Now why it times out...

[2017-12-14 13:58] vkkkumar commented on #980
I waited for long time. No much reaction. It happens for many devices.

Please let me know if you need more details.

[2017-12-14 14:00] KaptenJansson commented on #980
Does it only on a specific device? Or a specific Chrome version?

[2017-12-14 14:03] vkkkumar commented on #980
It happens in all devices and all versions of chrome. Currently testing on
M64 Dev ToT 10176.11.0 / 64.0.3282.22 : Samus
M64 Dev ToT 10176.11.0 / 64.0.3282.22 : Tricky

[2017-12-14 14:04] fippo commented on #980
if you look on the network tab while making the apprtc call (on which url), is there a request to networktraversal.googleapis.com or similar? It looks like you're hitting instance that gives you turn servers which no longer exist

[2017-12-14 14:27] vkkkumar commented on #980
![screen shot 2017-12-14 at 3 23 09 pm](https://user-images.githubusercontent.com/34342420/33996861-c7a91626-e0e2-11e7-9750-629141415fb6.png)

I use something active call and add the server with user name and password.
After that I gather candidates,
modify any of the
a. IceTransports value:   all   relay
b. Gather IPv6 candidates:
c. ICE Candidate Pool:

Then try to click gather candidates.

It s

[2017-12-14 14:28] vkkkumar commented on #980
![screen shot 2017-12-14 at 3 28 10 pm](https://user-images.githubusercontent.com/34342420/33997055-7149da44-e0e3-11e7-9d96-c192babbb0b5.png)
![screen shot 2017-12-14 at 3 27 47 pm](https://user-images.githubusercontent.com/34342420/33997056-71612096-e0e3-11e7-9b32-2c2fc6842fe7.png)

[2017-12-14 14:34] rantonysamy commented on #980
If you click on gather candidates when IceTransports value combo button is "All" - Candidates Gathered immediately.

If you try to get only Relay candidates (By changing the combo button) to Relay, the Gather candidate button (below) is seen as in disabled state.

It would be nice to have the gather candidates immediately enabled when the IceTransports value combo button is changed and we could ga

[2017-12-14 14:35] vkkkumar opened #981 "voice is not heard during the test case"
**Browsers and versions affected**
observed in chrome book and chrome box)
**Steps to reproduce**
1. Browse to https://webrtc.github.io/samples/src/content/peerconnection/multiple-relay/
2. Open the javascript console (alt+cmd+j or ctr+shift+j) and watch for any errors
3. Click Start, verify that your local video preview appears in the left pane.
4. Click Call, verify that your remote video appear

[2017-12-14 14:44] fippo commented on #980
see #830 / #834 -- we wanted to avoid getting into a limbo state by disabling the gather button while there was a request in flight. Now whether one should disable the other buttons as well... is a good question.

[2017-12-14 14:53] #981 closed, assigned to nobody

[2017-12-15 09:37] #977 closed, assigned to nobody

[2017-12-15 10:26] rantonysamy commented on #960
Query sendChannel.readyStage and Display that below. (Sometimes the Send progress bar is visually seen as not fully completed)

[2017-12-15 16:18] rantonysamy opened #982 "Deprecated methods at WebAudioInput sample (BitQuad / AudioParam)"
![screenshot 2017-12-15 at 5 07 31 pm](https://user-images.githubusercontent.com/32895099/34050650-e6347b88-e1bb-11e7-96b5-6fd84881f7ac.png)
**Browsers and versions affected**
Chrome

**Description**
Deprecated methods been used for  BiquadFilterNode.frequency.value and AudioParam value setter in file webaudioextended.js

**Steps to reproduce**
Go to https://webrtc.github.io/samples/src/content/pe

[2017-12-15 16:21] rantonysamy opened #983 "Cross Origin iframe warning at WebAudioExtended.js (WebAudioInput Sample)"
**Browsers and versions affected**
Chrome

**Description**
Warning at WebAudioExtended.js for using cross origin iframes.

**Steps to reproduce**
Go to https://webrtc.github.io/samples/src/content/peerconnection/webaudio-input/
Press Start
Look at the Console logs (Js)

**Expected results**
No warning about using cross origin iframe
![screenshot 2017-12-15 at 5 07 31 pm](https://user-images.github

[2017-12-21 10:22] ee11131 commented on #925
Same thing happening to me, video is good but no audio input Safari. I can listen to other peers audio though, they just can't listen to audio from safari. Using simplewebrtc and adapter, both latest. Is there any special treatment to audio in Safari.

[2017-12-21 15:31] youennf commented on #925
Web audio input is not supported in WebKit yet.
One workaround is to do webaudio at the rendering side.

[2017-12-21 15:39] ee11131 commented on #925
@youennf what do yout mean "do webaudio at the rendering side"? Isn't it supposed to be done by simplewebrtc and webrtc adapter?

[2017-12-21 16:14] jonobr1 commented on #925
It is in iOS 11 / Safari 11!

On Thu, Dec 21, 2017, 7:39 AM ee11131 <notifications@github.com> wrote:

--
http://jonobr1.com/

[2017-12-21 20:48] lakshman2891 opened #984 "live stream not working"
**Browsers and versions affected**
safari - ios 11

**Description**
not starting the live stream on either camera

**Steps to reproduce**
in iphone 6s(updated to ios 11). navigate to your sample site where we can switch camera source

**Expected results**
live stream is no displayed. instead getting blank screen.

**Actual results**
![whatsapp image 2017-12-21 at 12 44 01 pm](https://user-images.g

[2017-12-27 14:47] vkkkumar opened #985 "Packets sent per second graph: Y axis of the graph is not adapting to the new range"
**Browsers and versions affected**
Chrome 64.0.3282.39
OS: windows 7, windows 10, Macbook air Mac OS (EI Caption), Mackbook 12 inch MacOS (High Sierra)

**Steps to reproduce**
This is tested in 4 devices: Macbook(12 inch), Macbook Air, Lenovo win 7, Asus win 10

Scenario 1:
1. Browse to https://webrtc.github.io/samples/src/content/peerconnection/audio/
2. Open the javascript console (alt+cmd+j or

[2017-12-29 08:42] vkkkumar opened #986 "Use case of Call and Accept button needs a review. [causing javascript errors]"
**Browsers and versions affected**
64.0.3282.39 / Macbook High sierra, Macbook Air El Caption, Lenovo win 7, Asus win 10 (Possible in all other OS and devices.)

**Steps to reproduce**
0. Browse to https://webrtc.github.io/samples/src/content/peerconnection/pr-answer/
1. Open the javascript console (alt+cmd+j or ctr+shift+j) and watch for any errors
2. Check if the local video is seen in the left

[2018-01-03 14:40] vkkkumar opened #987 "Uncaught error: Screen sharing extension causes javascript error"
**Browsers and versions affected**
64.0.3282.39 / Macbook, Macbook Air, Lenovo win 7, Asus win 10

**Steps to reproduce**
0. Browse to https://webrtc.github.io/test-pages/src/peer2peer/
1. Click screen capture and if you get an error, follow the instructions and install the extension or download the extension from drive folder :
https://drive.google.com/drive/folders/0B84heIonLi5IMkxGQ1AxQTFvYW8?u

[2018-01-03 14:48] vkkkumar commented on #987
This happens for all the following devices Windows 10, windows 7, Macbook 12 inches and Macbook Air.

**100% reproducible.**

[2018-01-04 16:56] vkkkumar opened #988 "Video Quality (of Motion/detail) is very bad and not working as described."
**Browsers and versions affected**
Chrome: 64.0.3282.39
OS: OSx, Android, chromeOS and possible in other OS too

**Steps to reproduce**
Open the webpage in chrome (https://webrtc.github.io/samples/src/content/capture/video-contenthint/ )
and observe the motion and detail videos

**Expected results**
Verify that In the motion video, fighting scene is better
Verify that in the detail video, text par

[2018-01-05 11:00] vkkkumar opened #989 "Drop down button for Select Audio output does not have all devices connected in Android."
**Browsers and versions affected**
Chrome: 64.0.3282.39 / Samsung Galaxy S6 possible in all android devices.

**Description**
Pre-Condition:
Android device with 6x OS or above available
Install the latest (or test build) Google Chrome in the test device.
Connect a Audio headset in the Device

Procedure:
Goto https://webrtc.github.io/samples/src/content/devices/multi/
Try to change the Audio device

[2018-01-08 13:14] rantonysamy opened #990 "DOMException : Failed to execute "send" on 'RTCDataChannel'"
**Browsers and versions affected**
Chrome 63 and above

**Description**
While trying to generate and send data, the page tries to execute 'send' in a state where the channel is already closed. Its also visible in the UI, the send progress is stopped about 99%.

**Steps to reproduce**
Go to webrtc.github.io/samples/src/content/datachannel/datatransfer/
Click on Generate and send data
(Ordered mode

[2018-01-10 11:27] vkkkumar commented on #987
Same error is thrown when we stop sharing the screen. This is observed in chrome devices like PIT, Minnie, Falco and Yuna.

This might be applicable in other chrome devices too.

 M64 stable Qual Testing.

[2018-01-10 15:30] MaciejWWojcik opened #991 "RTCDataChannel - broken after reconnection"
**Browsers and versions affected**
I tested on newest chrome, on mac os sierra

**Description**
RTCDataChannel is working correctly, until one of the peer disconnects. If he recconect, all features from webrtc is working, except rtcDataChannel. So if peer recoennected he has streams, audio, video, but no chat.

**Steps to reproduce**
Establish webrtc connection between two peers, on two chrome-tab

[2018-01-11 18:13] ee11131 commented on #925
This is still an issue for me, isn't there any fix yet? Using SimpleWebRTC + adapter, both latest versions, video is fine but other users can't listen to the user in Safari.

[2018-01-11 19:24] youennf commented on #925
AudioContext.createMediaStreamSource supports both streams from getUserMedia and RTCPeerConnection. If you have audio data coming from RTCPeerConnection, you will be able to apply web audio filters and render the modified audio.

On the other side, AudioContext.createMediaStreamDestination(); will not work if plugged into an RTCPeerConnection. That means that you cannot take an audio signal, modif

[2018-01-12 12:21] ee11131 commented on #929
Is there a fix for this yet? In my case I have no sound out o Safari.

[2018-01-12 12:35] youennf commented on #929
@ee11131, it is not clear what you are requesting.
If you have a specific request, can you file a bug at bugs.webkit.org and cc me?

[2018-01-12 12:59] ee11131 commented on #929
https://www.webrtc-experiment.com/RecordRTC/simple-demos/audio-recording.html is not working for me in Safari 11, I have a microphone connected with USB. No errors are shown, it simply records nothing at all.

[2018-01-12 13:04] youennf commented on #929
Which API is it using to record audio? Is it web audio? MediaRecorder API?
MediaRecorder is not supported in Safari 11.

[2018-01-15 10:19] KaptenJansson commented on #990
Looks like a race condition that happens sometimes, its not a functional issue hence it's not a priority to fix.

Most likely some data that has been queued up due to filling up the the data channel and it backs off and retries and in some cases the retry happens after all data has been sent.
Basing this on the comment https://github.com/webrtc/samples/blob/gh-pages/src/content/datachannel/datatra

[2018-01-15 11:18] KaptenJansson commented on #991
Which sample are you referring to?

[2018-01-15 11:21] KaptenJansson commented on #989
I do not think Chrome on Android can enumerate audio devices. Please check crbug.com if there is a feature request for this or file one.

[2018-01-15 11:21] #989 closed, assigned to nobody

[2018-01-15 11:24] KaptenJansson commented on #988
This is slow on my workstation as well which I think is the point, it sacrifices FPS for higher quality per frame. Mind you 50kbps for video is nothing.

[2018-01-15 11:24] #988 closed, assigned to nobody

[2018-01-15 11:29] KaptenJansson commented on #987
The event is meant to fire, we should however only report it as an error when it's meaningful. Will fix later.

[2018-01-16 16:38] vkkkumar opened #995 "Streamed canvas video jitters when compared to the original canvas object. [use to be smooth]"
**Browsers and versions affected**
10176.41.0 / 64.0.3282.79 Enguarde, Blaze, Stout
Available in 63 on Mac also. 63.0.3239.132
(Maybe possible in all chrome devices)

**Steps to reproduce**
Procedure:
1. Open https://webrtc.github.io/samples/src/content/capture/canvas-video/
2..Open the javascript console (alt+cmd+j or ctr+shift+j) and watch for any errors
3. Click and drag on the canvas (on the l

[2018-01-17 14:12] nitobuendia commented on #986
Hello @vkkkumar,

Thanks a lot for reporting.

I am unable to reproduce the error. This is what I did:
1) Went to:  https://webrtc.github.io/samples/src/content/peerconnection/pr-answer/
2) I pressed "Call > Accept" > "Call > Accept" about 10 times and I did not get any errors on the console.
3) Every time I press call, the call is restarted and when I press 'Accept, the connection is initialised

[2018-01-17 14:17] nitobuendia commented on #983
Hello @rantonysamy

Thanks a lot for reporting.

I tried to reproduce the error, but I have not been able to.

Steps taken:
1) Go to https://webrtc.github.io/samples/src/content/peerconnection/webaudio-input/

This is what I see on the JS Console:
<img width="1389" alt="screen shot 2018-01-17 at 22 16 47" src="https://user-images.githubusercontent.com/16522489/35047195-2796ece6-fbd4-11e7-8fb0-4701

[2018-01-17 14:47] rantonysamy commented on #983
No I can't reproduce either. Closing. Thanks.

[2018-01-17 14:47] #983 closed, assigned to nobody

[2018-01-17 14:56] nitobuendia commented on #982
Changing
`this.filter.frequency = 1500;`

For:
`this.filter.frequency.setValueAtTime(1500, this.context.currentTime + 1);`

Seems to solve the issue. Sending PR.

--

Interestingly, [the spec](https://webaudio.github.io/web-audio-api/#dom-audioparam-defaultvalue) seems to claim that setValueAtTime is being called underneath:

Hence, not too sure why Chrome does not like it, but let's follow the in

[2018-01-19 15:09] #970 closed, assigned to nobody

[2018-01-20 19:38] 9joshua commented on #927
Same problem as OP with Chrome 63.0 and FireFox 57.0 on Ubuntu 16.04.
In addition, most of the apps on https://webrtc.github.io/test-pages/ return:
 `User media request denied with error code undefined`

Error on https://webrtc.github.io/test-pages/src/peer2peer/
[code]

[2018-01-22 08:35] AkshayDwarakanath commented on #927
Is there any stable version for this fix. all browsers are returning this error.

[2018-01-23 07:51] AkshayDwarakanath commented on #927
i found the solution. check this link https://stackoverflow.com/questions/48378750/getusermedia-devicesnotfounderror-thrown-in-latest-browsers/48396578#48396578

[2018-01-24 02:06] vbeattie commented on #929
I am having similar issues as reported above for audio recording.  For me, https://www.webrtc-experiment.com/RecordRTC/simple-demos/audio-recording.html works occasionally (I would say far less than 50% of the time).  When it does not work, there is no error, but the audio that is being returned/recorded is just a stream of zeroes.

I am currently using the developer iOS beta 11.2.5 b7

We have a

[2018-01-25 12:09] rantonysamy opened #999 "Support 8K to test the overConstraintError with 4K"
**Browsers and versions affected**
All

**Description**
Have 8K resolution supported, so that when connected with a 4K camera, we can check overConstraint Error.

**Steps to reproduce**
Go to https://webrtc.github.io/samples/src/content/getusermedia/resolution/
Check we have 8K button and supporting (7680×4320)

**Expected results**
Add 8K button that requests (7680×4320) resolution

[2018-01-25 13:03] extremety1989 opened #1001 "cancel"

[2018-01-26 01:20] elbalkini commented on #929
@vbeattie have you tried the new IOS 11.3? any luck in this version?

[2018-01-26 09:42] #1001 closed, assigned to nobody

[2018-01-28 15:54] extremety1989 opened #1002 "RTCPeerconnection class"
How to  override the peerconnection constructor ?

[2018-01-29 10:35] vkkkumar opened #1003 "Opening the javascript console beforehand and following the test webpage is not possible [UI issue]"
**Browsers and versions affected**
65.0.3322.0 / Winky

**Steps to reproduce**
0. Browse to https://webrtc.github.io/samples/src/content/peerconnection/pc1/
1. Open the javascript console (alt+cmd+j or ctr+shift+j) and watch for any errors
2. Press Start
3. Press Call

**Expected results**
Verify that you see the same video in the local preview (left pane) and remote video (right pane)
Verify that

[2018-01-30 13:49] #982 closed, assigned to nobody

[2018-01-31 15:19] vkkkumar commented on #1003
It is not reproducing in the latest chrome versions thus closing this ticket.  https://bugs.chromium.org/p/chromium/issues/detail?id=805852

[2018-01-31 15:19] #1003 closed, assigned to nobody

[2018-01-31 18:40] vbeattie commented on #929
I am using 11.3 it now - seems somewhat better(?), but hard to say.  Problem is definitely not resolved as I still get the muted/audio is stream of zeroes behavior sometimes.

[2018-02-02 07:46] yingkong87 opened #1006 "help me, getUserMedia not working for huawei p10"
I used huawei p10 test https://webrtc.github.io/samples/src/content/getusermedia/gum/
but video play black screen， can you help me?
thanks in advance

[2018-02-02 08:03] KaptenJansson commented on #1006
Which browser and browser version are you using?

Have you tried https://appr.tc?

[2018-02-02 08:09] yingkong87 commented on #1006
thank you for reply.  I used huawei Comes with browser，I will test https://appr.tc

[2018-02-02 08:14] KaptenJansson commented on #999
SGTM, please make a PR.

[2018-02-02 08:15] KaptenJansson commented on #1002
Take a look at the https://github.com/webrtc/adapter project.

[2018-02-02 08:15] #1002 closed, assigned to nobody

[2018-02-02 08:16] KaptenJansson commented on #1006
You have to use a WebRTC enabled browser, please provide details about the browser, what is the name of it and the version?

[2018-02-02 08:16] KaptenJansson commented on #995
This has not changed in years hence if it used to be smooth, the issue is probably on the device or the browser.

[2018-02-02 08:16] #995 closed, assigned to nobody

[2018-02-02 08:17] #991 closed, assigned to nobody

[2018-02-02 08:21] KaptenJansson commented on #986
This is an edge case but do agree that the call button should be disabled after accept has been clicked, that's an easy fix, feel free to create a PR to fix. The demo needs an overhaul to make it look like the rest of the demos but that can be done in a separate PR.

[2018-02-02 08:22] KaptenJansson commented on #985
How do you know it's beyond the limit? Have you verified that the actual values are higher than what's being rendered in the graphs?

[2018-02-02 08:23] KaptenJansson commented on #984
@youennf does this work on Safari? Device enumeration and getUserMedia with sourceId?

[2018-02-02 08:26] KaptenJansson commented on #980
I think we can close this, not a big deal and lots of demos have this design, i.e. refresh rather than knowing lots of states which adds complexity.

[2018-02-02 08:26] #980 closed, assigned to nobody

[2018-02-02 08:28] KaptenJansson commented on #974
Feel free to add some text in a PR warning the user about high values.

[2018-02-02 08:28] KaptenJansson commented on #973
Please submit a fix in a PR if you think this is important.

[2018-02-02 08:29] KaptenJansson commented on #962
What device are you using? Most likely a performance issue, what if you try on a desktop/laptop machine using the latest Chrome?

[2018-02-02 08:30] KaptenJansson commented on #961
As stated in the PR, please add all the CSS style that's missing and make it look like other demos. Just make sure the code is formatted correctly with indents etc.

[2018-02-02 08:30] KaptenJansson commented on #960
Please provide a fix in a PR.

[2018-02-02 08:32] KaptenJansson commented on #959
We should not do automatic fetching but using local storage is fine for storing submitted servers. Feel free to create a PR.

[2018-02-02 08:33] KaptenJansson commented on #955
Feel free to create a PR with this if you think it's important.

[2018-02-02 08:34] #949 closed, assigned to nobody

[2018-02-02 08:35] KaptenJansson commented on #944
Does it still happen and if so, what version of Chrome?

[2018-02-02 08:37] rantonysamy commented on #999
Sure. will do it today.

[2018-02-02 08:38] vkkkumar commented on #985
Yes, If you see the graph from top to bottom, first two graph accommodates the value clearly. We can make a clear understanding the trend of the graph.

Third, fourth, fifth and sixth shows it goes beyond the 50. Or else we could have got the graph alike first and two. Due to this we just see a straight line and not the original trend. (Top right we can see 50 not sure if thats above 50 or between

[2018-02-02 08:42] yingkong87 commented on #1006
![677c43827b3b5d645000f8910f5598e4](https://user-images.githubusercontent.com/18375391/35724029-46bec734-07f4-11e8-91a9-b67f74b4b420.jpg)

is this? the browser version?  I tried  https://appr.tc find the same problem.

[2018-02-02 17:13] youennf commented on #984
It should work, video element should have playsInline to work correctly though.

[2018-02-02 17:41] youennf commented on #984
Filed https://github.com/webrtc/samples/pull/1008

[2018-02-05 10:18] rantonysamy opened #1010 "Hangup button gives Javascript TypeError (getStats)"
**Browsers and versions affected**
M65.0.3325.56 Dev Build

**Description**
Uncaught Type error at Hangup button, 100% Reproducible.

**Steps to reproduce**
Open the Javascript console in the browser
Go to https://webrtc.github.io/samples/src/content/peerconnection/pc1/
Tap on Start button
Tap on Call button
Tap on Hang up button
Check the Javascript console

**Expected results**
No Javascript err

[2018-02-06 08:51] JenGL commented on #1006
I have same problem on huawei P10 on chrome...
With simple constraint it works on Firefox but not on chrome.
(this is working on firefox https://webrtc.github.io/samples/src/content/getusermedia/gum/)
this is not working anywhere https://simpl.info/getusermedia/sources/

[2018-02-06 10:40] JenGL opened #1013 "getUserMedia on P10 not working"
**Browsers and versions affected**
Chrome 64.0.32 - Huawei P10 with Android 7.0
even on Chrome beta 65.

**Description**
getUserMedia is not working.
Page https://webrtc.github.io/samples/src/content/getusermedia/gum/ just give black screen. No error on console, the success handler function is called, but the video remains black.

**Steps to reproduce**
just open https://webrtc.github.io/samples/s

[2018-02-06 13:38] yadomi commented on #1006
Same problem here, I've tried on two Huawei P10 and it doesn't work in Chrome (64.0.3282.137) and Chrome Beta too (65.0.3325.38). However it's work in Firefox and even Microsoft Edge.

[2018-02-06 14:33] JenGL commented on #1006
#1013

[2018-02-13 12:50] rantonysamy commented on #1010
Reproducible in all the Chromebooks.

[2018-02-13 13:45] KaptenJansson commented on #1010
Good catch, this is due to a recent change, will merge #1011 that will fix this.

[2018-02-13 13:48] #999 closed, assigned to nobody

[2018-02-14 15:01] theraudmickael commented on #1006
I've the same problem too:
Phone: huawei P10
Website to try: https://appr.tc
Work on: Chrome 63.0.3239.107
Work not on: Chrome 64.0.3282.137

[2018-02-14 15:18] theraudmickael commented on #1006
I created this bug on chromium bug tracker (https://bugs.chromium.org/p/chromium/issues/detail?id=812235)

[2018-02-15 09:46] simkesd commented on #871
I'm still seeing problem with [Basic peer connection](https://webrtc.github.io/samples/src/content/peerconnection/pc1/) on Chrome (Version 64.0.3282.167 (Official Build) (64-bit)). No errors in the console. Tried both from Chrome in OsX and Ubuntu.

Any info on when will the samples be fixed? I'll be glad to help if needed.

[2018-02-21 21:13] mrwizzer opened #1019 "iOS Mic Stops Working After Safari Loses Focus"
**Browsers and versions affected**
Safari 11 on iOS devices

**Description**
Not able to record audio in a webrtc browser-based audio recorder once the browser loses focus, (i.e. when returning to recorder after switching to another app or after reawakening after the device goes to sleep.)   Looks like a file is recorded, but there is no audio, making me think the mic has stopped working.

**Steps

[2018-02-23 15:33] brycepj opened #1020 "Files required to run samples locally are 404 not found"
If I run a simple http-server in any of the sample directories and open it in a browser, the page tries to load javascript and video files that aren't found.

![screen shot 2018-02-23 at 10 29 11 am](https://user-images.githubusercontent.com/5140329/36602073-034e11ca-1885-11e8-91a1-42daf33f2987.png)

It seems that a build step is required, although I don't see anything like that in the Gruntfile.

[2018-03-08 12:15] KaptenJansson commented on #1020
You start from the wrong folder. You have to run the HTTPS server (or use localhost for in order for GUM to succeed, not sure 127.0.0.1 will even though localhost redirects to it in the OS).

There is a provided server in the test folder, as stated in the [README.MD](https://github.com/webrtc/samples/tree/gh-pages/test#start-web-server-for-development):

Start web server for development
From the r

[2018-03-08 12:15] #1020 closed, assigned to nobody

[2018-03-08 12:16] KaptenJansson commented on #1006
Not an issue in the samples pages.

[2018-03-08 12:16] #1006 closed, assigned to nobody

[2018-03-08 12:17] #1010 closed, assigned to nobody

[2018-03-08 12:17] KaptenJansson commented on #1019
This is a browser issue.

[2018-03-08 12:17] #1019 closed, assigned to nobody

[2018-03-08 12:18] KaptenJansson commented on #1013
Correction getUserMedia works but the camera is returning a black video stream. Issue in Browser or Phone.

[2018-03-08 12:18] #1013 closed, assigned to nobody

[2018-03-08 12:39] KaptenJansson commented on #985
After talkin with Vasan offline, we came to the conclusion it still does its job although its not as sensitive as webrtc-internals.

[2018-03-08 12:39] #985 closed, assigned to nobody

[2018-03-08 12:40] #984 closed, assigned to nobody

[2018-03-08 12:41] #962 closed, assigned to nobody

[2018-03-08 12:56] KaptenJansson commented on #944
Ping

[2018-03-08 13:01] KaptenJansson commented on #933
Please file a bug to the people packaging PWA apps, we do not in this repo have anything to do with that.

[2018-03-08 13:01] #933 closed, assigned to nobody

[2018-03-08 13:20] KaptenJansson commented on #932
Please provide a jsfiddle with your code.

[2018-03-08 13:21] KaptenJansson commented on #931
Please provide a PR with the changes required.

[2018-03-08 13:22] KaptenJansson commented on #929
This bug has become unactionable, please file a new one or better yet a PR with the changes you need.

[2018-03-08 13:22] #929 closed, assigned to nobody

[2018-03-08 13:23] #927 closed, assigned to nobody

[2018-03-08 13:24] #917 closed, assigned to nobody

[2018-03-08 13:24] KaptenJansson commented on #916
Closing due to age.

[2018-03-08 13:24] #916 closed, assigned to nobody

[2018-03-08 13:24] KaptenJansson commented on #915
Closing due to age.

[2018-03-08 13:24] #915 closed, assigned to nobody

[2018-03-08 13:25] #914 closed, assigned to nobody

[2018-03-08 13:26] KaptenJansson commented on #913
Chrome is a multiprocess browser however the brower process opens the camera once and shares it with child render processes. Not sure it is possible to start several render processes in Electron. Anyhow has nothing to do with these samples.

[2018-03-08 13:26] #913 closed, assigned to nobody

[2018-03-08 13:26] KaptenJansson commented on #907
Closing due to age and lack of information.

[2018-03-08 13:26] #907 closed, assigned to nobody

[2018-03-08 13:28] KaptenJansson commented on #904
Closing due to age and lack of value.

[2018-03-08 13:28] #904 closed, assigned to nobody

[2018-03-08 13:30] KaptenJansson commented on #899
Well this has nothing to do with the samples, closing.

[2018-03-08 13:30] #899 closed, assigned to nobody

[2018-03-08 13:30] #890 closed, assigned to nobody

[2018-03-08 13:31] #878 closed, assigned to nobody

[2018-03-08 13:32] KaptenJansson commented on #877
Page needs to be updated I guess.

[2018-03-08 13:33] KaptenJansson commented on #871
It must be a race condition in the browser somehow, I mean it does assign pc2 to the window object, always. Not sure if any change in JS will fix this.

[2018-03-08 14:05] #871 closed, assigned to nobody

[2018-03-08 14:08] KaptenJansson commented on #844
Closing due to age.

[2018-03-08 14:08] #844 closed, assigned to nobody

[2018-03-08 14:08] KaptenJansson commented on #833
Closing due to age.

[2018-03-08 14:08] #833 closed, assigned to nobody

[2018-03-08 14:09] KaptenJansson commented on #825
I believe this is fixed.

[2018-03-08 14:09] #825 closed, assigned to nobody

[2018-03-08 14:09] KaptenJansson commented on #823
Closing due to age.

[2018-03-08 14:09] #823 closed, assigned to nobody

[2018-03-08 14:09] KaptenJansson commented on #811
Closing due to age.

[2018-03-08 14:09] #811 closed, assigned to samdutton

[2018-03-08 14:10] #798 closed, assigned to nobody

[2018-03-08 14:10] #795 closed, assigned to KaptenJansson

[2018-03-08 14:10] KaptenJansson commented on #792
Closing due to age.

[2018-03-08 14:10] #792 closed, assigned to KaptenJansson

[2018-03-08 14:10] KaptenJansson commented on #792
Even though we are still hit by DTMF flakiness today, this was a different one.

[2018-03-08 14:11] KaptenJansson commented on #771
Closing due to age.

[2018-03-08 14:11] #771 closed, assigned to nobody

[2018-03-08 14:11] KaptenJansson commented on #770
Closing due to age.

[2018-03-08 14:11] #770 closed, assigned to nobody

[2018-03-08 14:11] KaptenJansson commented on #763
Closing due to age.

[2018-03-08 14:11] #763 closed, assigned to nobody

[2018-03-08 14:12] KaptenJansson commented on #747
Closing due to age.

[2018-03-08 14:12] #747 closed, assigned to nobody

[2018-03-08 14:12] KaptenJansson commented on #745
Closing due to age.

[2018-03-08 14:12] #745 closed, assigned to nobody

[2018-03-08 14:12] KaptenJansson commented on #734
Closing due to age.

[2018-03-08 14:12] #734 closed, assigned to nobody

[2018-03-08 14:12] benbro commented on #931
The webkit issue says it should be fixed.
Still doesn't work in iOS 11.2.6.
I'll test again in iOS 11.3.

[2018-03-08 14:12] #931 closed, assigned to nobody

[2018-03-08 14:13] KaptenJansson commented on #733
Closing due to age and no critical impact.

[2018-03-08 14:13] #733 closed, assigned to nobody

[2018-03-08 14:13] #710 closed, assigned to samdutton

[2018-03-08 14:13] KaptenJansson commented on #705
Closing due to age.

[2018-03-08 14:13] #705 closed, assigned to nobody

[2018-03-08 14:14] KaptenJansson commented on #704
Closing due to age.

[2018-03-08 14:14] #704 closed, assigned to samdutton

[2018-03-08 14:14] KaptenJansson commented on #697
Closing due to age.

[2018-03-08 14:14] KaptenJansson commented on #692
Closing due to age.

[2018-03-08 14:14] #692 closed, assigned to nobody

[2018-03-08 14:14] KaptenJansson commented on #682
Closing due to age.

[2018-03-08 14:14] #682 closed, assigned to nobody

[2018-03-08 14:15] KaptenJansson commented on #613
Closing due to age.

[2018-03-08 14:15] #613 closed

[2018-03-08 14:15] KaptenJansson commented on #178
Closing due to age.

[2018-03-08 14:15] #178 closed

[2018-03-08 14:15] KaptenJansson commented on #592
Closing due to age.

[2018-03-08 14:15] #592 closed

[2018-03-08 14:15] KaptenJansson commented on #595
Closing due to age.

[2018-03-08 14:15] #595 closed

[2018-03-08 15:44] #986 closed, assigned to nobody

[2018-03-08 17:46] senthazalravi commented on #944
M63 issue, not reproducible anymore, closing.

[2018-03-09 08:25] rantonysamy commented on #944
Verified in M66 Dev. Closing.

[2018-03-09 08:25] #944 closed, assigned to nobody

[2018-03-10 09:23] myselfgaurav opened #1023 "Webrtc rear camera not working in IOS 11"
Below is my code that work fine in android and ios 11 with front camera while when i use rear camera it gives error

**below works**

    video: { width: 400, height: 200, facingMode: "user"  }

**Below not works**

    video: { width: 400, height: 200, facingMode: "environment"  }

**Complete code**

**

    var constraints = window.constraints = {
      audio: false,
      video: { width: 400, h

[2018-03-12 05:03] Animeshdfoe opened #1024 "Crashing after Stablish Connection between peers"
# Please read first!
Please use [discuss-webrtc](https://groups.google.com/forum/#!forum/discuss-webrtc) for general technical discussions and questions.

- [ ] I have provided steps to reproduce
- [ ] I have provided browser name and version
- [ ] I have provided a link to the sample here or a modified version thereof

**Note: If the checkboxes above are not checked (which you do after the issue

[2018-03-15 04:44] samueltuckey commented on #1019
I am getting the same issue and have not been able to solve. Please let me know if you find anything.

[2018-03-15 04:47] samueltuckey commented on #1019
I tried submitting a bug report to https://www.apple.com/feedback/safari.html

[2018-03-15 16:16] samdutton commented on #697
@KaptenJansson This seems to have been fixed.

Working as intended (for me at least!)

[2018-03-15 17:07] samdutton commented on #877
@KaptenJansson Updated page in #1026.

[2018-03-15 17:08] #877 closed, assigned to samdutton

[2018-03-16 10:20] azachar commented on #616
Hey Guys, is it possible to stream multiple files (so I can simulate a video chat)? Thanks!

[2018-03-17 10:06] hunnain opened #1027 "WebRTC with Python Flask"
Can we use WbRTC with Python Web library Flask if yes so how can we use it i have always see tutorial that webRTC use with node.js and Socket.io but i want to use it with Flask and RethinkDB realtime opensource Database can i use it
please help me

[2018-03-20 08:45] rantonysamy opened #1028 "Audiocontext starts with suspended state"
## Description

Audiocontext starts with suspended state, due to a policy ! So the I have to connect a headset / headphone to get the AudioContext state to be changed as "Running". In the test page there is no buttons, so I can't click on and show that the user Input had been available (as per the policy).

## Steps to reproduce

Go to https://webrtc.github.io/samples/src/content/getusermedia/volu

[2018-03-21 09:19] rantonysamy commented on #1028
@KaptenJansson Can you please take a look at this and drive it for a closure - at least 3 webrtc samples were failing due to this.

[2018-03-21 09:19] vkkkumar commented on #1028
This is is the root cause for other sample pages too. https://webrtc.github.io/samples/src/content/peerconnection/webaudio-input/
https://webrtc.github.io/samples/src/content/getusermedia/volume/

Same javascript error is shown.

Solution: After refreshing the page two or three times fixes this issue.

[2018-03-21 09:46] vkkkumar commented on #1028
Regarding the solution I mentioned above:
1. Open the sample pages mentioned above,
2. Kindly press **ctrl + shift + j** and then **Refresh** the page.

P.S: Just refreshing the page will not resolve the issue.

[2018-03-21 13:47] vkkkumar opened #1029 "DOMException is thrown when entering the alphabets in Tones text box"
## Browser affected
66.0.3359.31 /10452.11.0 M66 Dev
also in M67 67.0.3362.0 Canary

## Devices
Guado, Caroline, Sentry, Macbook pro

## Description
Uncaught DOMException is thrown while entering alphabets as tones.

## Steps to reproduce
1. Goto https://webrtc.github.io/samples/src/content/peerconnection/dtmf/
2. Press ctrl + shift + j to see javascript errors.
3. Click Call button,
4. Empty the

[2018-03-21 13:54] agonza1 opened #1030 "Chromium on Raspbian failing to use captureStream and send video stream"
**Description:**
Browser: Chromium 60.0.3112.89 (Developer Build) Built on Ubuntu 14.04, running on Raspbian 9.3 (32-bit)
can't send captured local video stream (`localVideo.captureStream()`) to Chrome or Firefox.

**Steps to reproduce:**
I tried enabling experimental Web Platform features but all Stream capture demos here: https://webrtc.github.io/samples/ still fail.

I also tried https://www.we

[2018-03-21 16:15] #757 closed, assigned to nobody

[2018-03-22 12:14] RayLuxembourg opened #1032 "iOS 11 full hd issue."
I am trying to achieve 1080p with iOS 11+ devices but unfortunately all the things i tried result in 720p or less.
I am writing the code in typescript

[code]

[code]

I have tried many variations and couldn't get to 1080p no matter what.
Has anyone else tried or found solution?

[2018-03-23 14:24] theraudmickael opened #1033 "Change the input camera in the sources & outputs example on Safari (11) with M.Way camera"
## Browser affected
Safari Version 11.0 (13604.5.6) (macOS)

## Description
The example "Select sources & outputs" is not switching the video input devices as expected. I have 2 camera connected and the example let's me select CAM 2, but i got an error on console about constraint used.

## Steps to reproduce
1. Plug 2 camera on Mac device
2. Go to https://webrtc.github.io/samples/src/content/devic

[2018-03-26 11:50] KaptenJansson commented on #1033
I would guess Safari does not support deviceId and enumerateDevices?

[2018-03-26 11:52] KaptenJansson commented on #1032
Have you checked with Apple which resolutions they support in Safari (might be different in MacOS and iOS as well)? GetUserMedia is browser specific.

[2018-03-26 11:52] #1032 closed, assigned to nobody

[2018-03-26 11:52] KaptenJansson commented on #1032
And this is not a samples limitation hence why closing.

[2018-03-26 11:56] KaptenJansson commented on #1030
This is not a samples issues, please check your OS/Browser. Also please try with an up to date version of Chrome.

[2018-03-26 11:56] #1030 closed, assigned to nobody

[2018-03-26 11:57] KaptenJansson commented on #1029
They are not legal DTMF tones, sure the page could validate the tones before inserting them but it's good to be able to test passing in illegal characters. This is working as intended.

[2018-03-26 11:57] #1029 closed, assigned to nobody

[2018-03-26 11:58] KaptenJansson commented on #1027
This is webrtc web api samples repo. Please ask your question in discuss-webrtc.

[2018-03-26 11:58] #1027 closed, assigned to nobody

[2018-03-26 14:01] theraudmickael commented on #1033
Nope, safari support "deviceId" and "enumerateDevices". The "deviceId" constraint works well on the first call. I get this error only when i change video source.

But .. I go try with another "CAM 2". This problem can come from camera device.

[2018-03-26 14:07] theraudmickael commented on #1033
Yep... this error come from the webcam. If i plug another webcam it works fine.

The camera is https://www.amazon.fr/M-Way-Résolution-Microphone-ajustable-Compatible/dp/B073F6WQFJ

What are we doing about this issue?

[2018-03-27 12:09] rantonysamy commented on #1028
Checked that Its working in M66 beta / 66.0.3359.48, closing.

[2018-03-29 14:20] vkkkumar commented on #1028
Reproducible in 66.0.3359.46 /10452.19.0 Windows 7 (Thinkpad lenovo), Windows 10 (Asus UX430x)
(Beta)
We need to reopen again I guess.

[2018-04-01 09:36] ruslan-mystore commented on #933
@Lucassifoni
According to your link in stackoverflow , seems like this feature should work on iOS 11.3.
I updated my devices to iOS 11.3 and webrtc camera not working .
May be i miss something ?

[2018-04-02 07:10] Lucassifoni commented on #933
@ruslan-mystore well it's fixed, ensure you give ```video``` tags a ```playsinline``` attribute, and that you run your code on either localhost or a secured domain :) .
You can test webrtc features here : https://test.webrtc.org/
Edit : oh, well, i'm unsure for the PWA context part. StackOverflow indicates getUserMedia is still undefined in this context, but file input media capture has been resto

[2018-04-03 19:39] taylor-b opened #1036 "ICE restart sample gets stuck if "ICE restart" button clicked too quickly"
## Browser affected

Chrome 65.0.3325.51

## Description

The [ICE restart sample](https://webrtc.github.io/samples/src/content/peerconnection/restart-ice/) has a "Restart ICE" button which is disabled when clicked, and re-enabled when there's a state transition to "connected".

If you click it fast enough, it will get stuck in a permanently disabled state, after which you need to "Hang up".

This

[2018-04-04 16:52] vibingopal opened #1037 "How to capture Screen Recording"
- [x ] I have provided steps to reproduce

Hello Team,

I am trying to capture the screen + audio  recording rather than video recording. But unable to do that. Video recording works fine when i follow through the document. But screen recording not working. Do you have working example of screen recording. Please let me know

[2018-04-05 08:59] vkkkumar commented on #1028
Reproducible in M66 Beta.

Windows 7, windows 10 and one device from Gru family (Chromebook

66.0.3359.79 / 10452.42.0
66.0.3359.87 Windows 7 & 10

[2018-04-06 19:12] Kkukadiya opened #1038 "Can't share video to multiple remote connections"
Hello Team,

I have implemented multiple peer connection method But I am unable to share the video content to the multiple remote connections of peers. Please, let me know how can I share the same video to multiple remote connections.

[2018-04-09 13:18] vkkkumar commented on #1028
This issue is reproducible in M67 Dev 67.0.3383.0 / 10539.0.0  Leon, Link, Lars, Peach

[2018-04-12 14:17] RpCoding commented on #973
Any updates on this? I can't get the pause button to work and could need some help.

[2018-04-12 14:20] vkkkumar commented on #973
Hi RpCoding, Haven't started the work on it. Soon will update on this issue. Thanks!

[2018-04-13 13:41] vkkkumar commented on #1028
Reproducible in 67.0.3383.0 / 10539.0.0  Glimmer, Kip, Swanky, Snappy

[2018-04-14 08:27] nolimitdev opened #1039 "Demo video chat at appr.tc does not work in Edge"
Demo video chat app linked in this repo "AppRTC video chat client powered by Google App Engine" does not work in Edge. Originally I developed own video chat app which works well in Chrome, Firefox, IE11 (using adapter.js) but it does not work in Edge. WebRTC is supported in Edge since version 15. During debugging there is no problem, no error - each user see only own video but does not see opponen

[2018-04-16 09:58] ghost opened #1040 "Is it possible to transfer video stream from a remote camera to Google Chrome?"
Hello,
On my computer from where I connect to the WebRTC conference there is no webcam. I have a second laptop with a built-in camera.

Is it possible to emulate a fake media device in the first computer in Google Chrome that will receive a video stream from a remote webcam across the network from a second laptop to use this virtual media device as a webcam during a video conference?

I read that

[2018-04-23 09:15] fippo commented on #1028
@huibk this seems due to the autoplay policy changes. PTAL

[2018-04-23 10:43] fippo commented on #1028
filed https://bugs.chromium.org/p/chromium/issues/detail?id=835767

[2018-04-23 15:09] Vijay-mRoads opened #1041 "WebRTC samples Audio stream volume not working in chrome 66"
## Browser affected

**Browser name including version (e.g. Chrome 66.0.3359.117 )**

## Description
WebRTC samples Audio stream volume not working in chrome 66. Getting following error "The AudioContext was not allowed to start. It must be resume (or created) after a user gesture on the page"

## Steps to reproduce
1. Open this link in above mentioned browser https://webrtc.github.io/samples/src/

[2018-04-23 16:02] fippo commented on #1028
@rantonysamy do you typically test with a newly created profile (--user-data-dir=some-new-directory)?
I've seen this work on a normal profile and then break (in the same chrome version) with a fresh profile which might explain why this seemed to work for you [here](https://github.com/webrtc/samples/issues/1028#issuecomment-376501333).

I'd bet on the MEI making it look like everything was ok: http

[2018-04-24 05:58] fippo commented on #1041
see #1028

[2018-04-24 07:37] rantonysamy commented on #1028
Sometimes I used to switch to another profile, but It was happening in a fresh installed Chrome OS / Chrome at the Chromebooks. I will check the same issue in the latest build and see Its still reproducible.

[2018-04-24 18:07] huibk commented on #1028
Note that currently the autoplay policies are not enabled for all M66 users yet. Set chrome://flags/#autoplay-policy to manually for the new policy on.

[2018-04-26 09:30] vkkkumar commented on #1028
Thanks Huib! It is working fine when enabling the flag #autoplay-policy and set it to " User Gesture is required for cross-origin iframes. Tested in Quawks and Kip.

[2018-04-26 10:17] JitendraSingh1995 opened #1043 "Uncaught TypeError: Cannot read property 'candidate' of null"
# Please read first!
Please use [discuss-webrtc](https://groups.google.com/forum/#!forum/discuss-webrtc) for general technical discussions and questions.

- [ ] I have provided steps to reproduce
- [ ] I have provided browser name and version
- [ ] I have provided a link to the sample here or a modified version thereof

**Note: If the checkboxes above are not checked (which you do after the issue

[2018-05-04 05:18] 123AP opened #1044 "not able to initiate webcam for capture of new image"
""looking for complete javascript code to access multiple camera drivers"""".

I am trying to use multiple cameras on web application . List of camera drivers should come in the drop down. I should be able to choose required camera driver from the drop down. Based on my selection, i will capture the photo. Whenver i change the drop down option, the corresponding camera driver should open."

CURREN

[2018-05-04 11:26] vkkkumar opened #1045 "Regression: Broken logo is displayed instead of the actual video's preview [Canvas]"
## Browser affected
Chrome Version: 67.0.3388.0 (Dev)
OS: Chrome

## Steps to reproduce
What steps will reproduce the problem?
(1) Go to https://webrtc.github.io/samples/src/content/capture/canvas-record/
(2) Click on "Start recording"
(3) Click on "Stop recording" after a while
(4) Observe the Canvas on the right

Note: Not available in M65.

## Expected results
Video Preview or blank canvas

##

[2018-05-14 10:12] anuragvijayvergia opened #1048 "Check for active screen sharing session"
Hi,

I am implementing webrtc in my electron project and I want to see is there any way where I can check if some app is already running a screen sharing session?

[2018-05-15 05:44] bhavinshiroya1994 opened #1049 "webrtc screen sharing + audio"
any persion implement webrtc screen sharing with audio implement ?
please share your code,
my side not working webrtc screen sharing with audio

[2018-05-29 14:00] #697 closed, assigned to samdutton

[2018-05-29 17:12] alvestrand commented on #601
Background: A major reason for breakage is that browsers have new versions, which gives us new errors without anything being pushed to this repo. Most CB systems don't catch that, because they're triggered by new submits to the repo. A nightly build would catch these errors.

[2018-05-29 17:42] fippo commented on #601
we have that for adapter iirc, works fine on travis. Problem is that failures got ignored :-)

[2018-05-30 07:54] poojarfuturistic5 commented on #597
does not fetch audio in iphone devices

[2018-05-31 08:21] alvestrand commented on #601
@ErikHellman, Travis has grown a "cron" attachment in its configuration tab. Please check if you can just set up a build there - if it's 5 min of config, it should be worthwhile doing.

[2018-05-31 08:25] alvestrand commented on #601
Turns out this was already done according to https://travis-ci.org/webrtc/samples/settings
Not clear to me who gets the errors (if any), it's been green for a long time. Closing as "done".

[2018-05-31 08:27] fippo commented on #601
[code]
now who is reading that mailing list... :-)

[2018-06-04 23:57] tetreault commented on #929
demo in OP comment not working in iOS 11.4 on iphone X :(

[2018-06-05 00:02] tetreault commented on #1023
I wonder how this is working for you. I'm on iOS 11.4 on iphone X and no webrtc demos are working for me that use the phone's cam for video :(

[2018-06-05 00:44] youennf commented on #929
@tetreault, could you please file a bug in bugs.webkit.org?

[2018-06-05 03:03] myselfgaurav commented on #1023
that works fine on iOS

[2018-06-05 10:38] vkkkumar commented on #1045
This issue is reproducible in M68 as well. @rantonysamy

[2018-06-05 13:20] tetreault commented on #1023
not for me @myselfgaurav - i've even taken your complete JS and placed it in my file, nothing happens in my mobile safari.

[2018-06-05 14:35] tetreault commented on #1023
you're right @myselfgaurav - was a mistake on my end :)

[2018-06-05 14:36] tetreault commented on #929
you can disregard @youennf -- was a weird mistake on my end :)

[2018-06-09 06:34] getify commented on #955
@rantonysamy Are you still experiencing this bug? If so, can you see what `chrome://media-internals` reports? Specifically, do you happen to have `WebPluginVirtualCamera` installed?

The reason I ask is, I'm having this issue (the 2x2 black video), and I'm trying to track down why it's happening. You're the only other one I've found who has seen the problem.

More info in that thread (on webrtc/ad

[2018-06-10 04:38] joeygallegos commented on #1048
Curious for the same, anybody have any ideas?

[2018-06-14 12:20] ErikHellman commented on #1033
I just tested this on Safari Version 11.1.1 (13605.2.8) and couldn't reproduce the error. Can you check again and see if you still get the same result with your camera?

I'm using a regular Logitech camera plugged.

[2018-06-15 07:48] theraudmickael commented on #1033
I just tested my camera (https://www.amazon.fr/M-Way-Résolution-Microphone-ajustable-Compatible/dp/B073F6WQFJ) on Safari Version 11.1.1 (13605.2.8) and i reproduce the error unfortunately.

I go to update my current description.

Thank you.

[2018-06-18 08:30] vakhutinnikita commented on #925
I have the same issue with macOS High Sierra 10.13.5 and Safari 11.1.1(13605.2.8). It seems that there is no audio from my external audio input, but when I am using Mock Capture Device audio works good.

[2018-06-20 11:45] alienpavlov commented on #929
@tetreault what kind of mistake it was?.. I'm having similar issue

[2018-06-20 12:22] tetreault commented on #929
I updated my version of iOS @alienpavlov and when i did, for some reason, the javascript was disabled in my safari settings. No clue how that happened.

[2018-06-20 12:24] tetreault commented on #929
@alienpavlov here's my full JS demo if you need it:

[code]

[2018-07-06 08:56] rahulmehra1994 opened #1056 "DOMException error comes can't start audio source when multiple tabs of same are opened."
## Description
The below code is working fine in getting stream and displaying it in the video element but when I open multiple tabs for the same page then a **DOMException error comes can't start audio source.**

## My Code
    var constraints = {
        audio: true,
        video: true
      };
          navigator.mediaDevices.getUserMedia(constraints)
          .then((stream) => {

[2018-07-06 12:02] tomorgan opened #1057 ""Peer Connection: Adjust Bandwidth" sample not working on iPhone/Safari"
# Please read first!
Please use [discuss-webrtc](https://groups.google.com/forum/#!forum/discuss-webrtc) for general technical discussions and questions.

- [x ] I have provided steps to reproduce
- [ x] I have provided browser name and version
- [ x] I have provided a link to the sample here or a modified version thereof

**Note: If the checkboxes above are not checked (which you do after the iss

[2018-07-09 09:54] mwenk commented on #990
Same Problem here. Any Workarounds?

[2018-07-11 16:04] rspq opened #1064 "Video samples not working on iOS 11 because of missing 'playsInline' attribute"
This is a trivial bug.

Please add a 'playsInline' attribute to `<video>` tags so the video samples will work in iOS 11. At the moment none of them work.

(See https://webkit.org/blog/6784/new-video-policies-for-ios/)

[2018-07-12 09:15] rantonysamy opened #1065 "Peer connection: Audio only sample is broken"
## Browser affected
Version 68.0.3440.40 (Developer Build) (64-bit)
Also observed in M69 Dev Build

## Description
Peer connection: Audio only sample is broken and no graph been displayed

## Steps to reproduce

Go to https://webrtc.github.io/samples/src/content/peerconnection/audio/
Select a codec and Click on the Call button
Observe the Bitrate and Packets sent per second graphs

## Expected res

[2018-07-13 15:58] horald opened #1067 "no picture on Android"
## Browser affected

Chrome Version 65.0.3325.109 for Android

Apache/2.4.18 (Ubuntu) on Linux Computer
Linux 4.4.0-128-generic #154-Ubuntu SMP Fri May 25 14:14:58 UTC 2018 i686

## Description
the webcam with Chrome on my Android phone stays black. The camera authorization for Chrome is switched on! On my Linux computer I'm asked for a camera permission in Firefox, then I can see pictures. Why ca

[2018-07-14 18:47] heyheyjc opened #1068 "Trickle-Ice in Safari gathers only host candidates"
- [x] I have provided steps to reproduce
- [x] I have provided browser name and version
- [x] I have provided a link to the sample here or a modified version thereof

## Browser affected
Safari 11.1.2 (11605.3.8.1)
OS X El Capitan 10.11.6

## Description
The ICE gathering immediately returns two 'host' candidates, IP4 and IP6, but no others, either STUN or TURN. There are no internet issues, webso

[2018-07-16 07:42] #1065 closed, assigned to nobody

[2018-07-16 10:06] wpp commented on #942
JFYI issue has been marked as resolved https://bugs.webkit.org/show_bug.cgi?id=175975.
Just tested it in Safari Technology Preview (Release 60 (Safari 12.0, WebKit 13606.1.23.1) and can confirm that it's working.

[2018-07-16 10:06] #942 closed, assigned to ErikHellman

[2018-07-16 13:40] ErikHellman commented on #1067
I'm testing this with version 67.0.3396.87 on Android O and it works fine. Can you test again with the latest version of Chrome and see if the problem remains?

[2018-07-17 06:00] ErikHellman commented on #1056
Closing this issue as it is not related to any of the samples. Please see the guidelines if you want to report an issue on one of the WebRTC samples.

[2018-07-17 06:00] #1056 closed, assigned to nobody

[2018-07-17 17:16] fippo commented on #1068
@youennf does this sound familiar?

@heyheyjc does this behaviour change if you call getUserMedia before gathering candidates?

[2018-07-17 17:29] youennf commented on #1068
https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/ is probably still using the legacy OfferToReceiveAudio/Video and should instead create a data channel to trigger ICE gathering for instance.
@heyheyjc, can you file a bug in bugs.webkit.org?

[2018-07-17 19:45] heyheyjc commented on #1068
@fippo The odd thing _here_* is that getUserMedia is supposedly compulsory before getting 'host' candidates - some concern about internal IP privacy, which in itself seems odd*.

@youennf Yep, that sample does use 'OfferToReceiveAudio: 1', but I thought that was shimmed out by adapter? I'll file a webkit bug once I've pinned down exactly what it's doing wrong.

I need to look at exactly when it st

[2018-07-17 20:32] youennf commented on #1068
Oh I think you are right, a bugs.webkit.org ticket is cheap.

[2018-07-18 00:01] heyheyjc commented on #1068
@youennf Agreed, but they do take up someone's time, so I'd rather it was on point. I'm actively working on this, so it'll happen soon.

[2018-07-18 05:19] #1064 closed, assigned to nobody

[2018-07-18 05:25] ErikHellman commented on #1044
Closing this since it's not a bug in one of the existing samples.

See https://webrtc.org/bugs/ for reporting bugs on WebRTC.

See https://webrtc.github.io/samples/src/content/devices/input-output/ for a sample on selecting media devices.

[2018-07-18 05:25] #1044 closed, assigned to nobody

[2018-07-18 05:26] ErikHellman commented on #1043
Closing this as it's lacking details about which sample this relates to and when it happens.

[2018-07-18 05:26] #1043 closed, assigned to nobody

[2018-07-18 05:30] ErikHellman commented on #1040
Closing this as it's not a feature request or a bug. For support on WebRTC, please refer to https://webrtc.org/ instead.

[2018-07-18 05:30] #1040 closed, assigned to nobody

[2018-07-18 05:31] ErikHellman commented on #1038
Closing this as it isn't a bug on these samples. For support, see https://groups.google.com/group/discuss-webrtc or https://webrtc.org/.

[2018-07-18 05:31] #1038 closed, assigned to nobody

[2018-07-18 05:33] ErikHellman commented on #1037
We don't have a sample for screen sharing yet but plan to add that later.

[2018-07-18 05:33] #1037 closed, assigned to nobody

[2018-07-18 05:37] ErikHellman commented on #1033
I tried with another camera and still can't reproduce this. I'm assuming this is a bug in WebKit, so I suggest you file a bug there (https://bug.webkit.org/).

[2018-07-18 05:37] #1033 closed, assigned to ErikHellman

[2018-07-18 05:40] ErikHellman commented on #1028
Is this issue still relevant? I can't reproduce the problem when testing the different settings of autoplay policy.

[2018-07-18 05:41] ErikHellman commented on #1024
Closing this since it's not a bug in one of the samples. Please refer to webrtc.org for reporting bugs on webrtc in the affected browser.

[2018-07-18 05:41] #1024 closed, assigned to nobody

[2018-07-18 05:44] ErikHellman commented on #1023
I'm closing this since it's not a bug in one of the samples. If you still have problems with your WebRTC code, see https://webrtc.org/bugs/ for reporting this on the different browsers.

[2018-07-18 05:44] #1023 closed, assigned to nobody

[2018-07-18 06:01] ErikHellman commented on #936
Closing this as it is no longer failing.

[2018-07-18 06:01] #936 closed, assigned to jan-ivar

[2018-07-18 06:03] ErikHellman commented on #932
Closing this since there have been no updates. If you can reproduce the problem using one of the samples, please file a new bug with complete details.

[2018-07-18 06:03] #932 closed, assigned to nobody

[2018-07-18 06:15] ErikHellman commented on #695
Closing this as it has been fixed already.

[2018-07-18 06:15] #695 closed, assigned to ErikHellman

[2018-07-18 08:24] rantonysamy commented on #1028
Its been fixed already. I am closing it.

[2018-07-18 08:24] #1028 closed, assigned to nobody

[2018-07-18 11:35] fippo commented on #1028
mind you that this will probably come up again when autoplay tries to reland... :-|

[2018-07-18 11:48] ErikHellman commented on #974
I added a warning about large values. Since the limit depends on many different factors, it is difficult to provide an upper limit.

[2018-07-18 11:48] #974 closed, assigned to ErikHellman

[2018-07-18 12:34] ErikHellman commented on #869
I'm looking at the comments above and comparing it with the current code. It seems all of this has been fixed already. @henbos can you check again and see if we can close this issue?

[2018-07-18 12:36] ErikHellman commented on #955
I'm testing this now and I'm getting an OverconstraintedError as expected in Chrome. Can we close this?

[2018-07-18 12:37] ErikHellman commented on #1039
Closing as this is filed on the wrong project. Try filing the same bug at https://github.com/webrtc/apprtc instead.

[2018-07-18 12:37] #1039 closed, assigned to nobody

[2018-07-18 12:39] ErikHellman commented on #854
What should be the action here? It seems that just removing the modification between `createOffer` and `setLocalDescription` would solve this?

@fippo what do you think?

[2018-07-18 12:43] ErikHellman commented on #961
Closing this as the sample now has a description.

[2018-07-18 12:43] #961 closed, assigned to ErikHellman

[2018-07-18 13:15] theraudmickael commented on #1033
Ok, i go to do this. Thank you for your help :)

[2018-07-18 13:15] #959 closed, assigned to ErikHellman

[2018-07-18 16:24] fippo commented on #854
opus is preferred and used by default so i'd say lets just remove the forceOpus function and its usage

[2018-07-20 09:06] ErikHellman commented on #1041
Closing this as it is currently working. We know what caused this and will open a new issue if it becomes a problem again.

[2018-07-20 09:06] #1041 closed, assigned to nobody

[2018-07-20 09:07] ErikHellman commented on #1048
I suggest you ask the question in the WebRTC discussion group.
See https://groups.google.com/forum/#!forum/discuss-webrtc

[2018-07-20 09:07] #1048 closed, assigned to nobody

[2018-07-21 21:37] fippo commented on #1036
@alvestrand since you said completed is "bogon"... what is a good solution here?

[2018-07-23 10:41] ErikHellman commented on #894
I've seen this happen sometimes and I agree with @fippo that it probably has more to do with the protocol in this sample.

I would suggest a redesign of this sample where the first message contains the total size of the data and the receiver can use that to determine the progress.

I'll try to have a PR for that ready ASAP.

[2018-07-23 10:48] ErikHellman commented on #1057
Ping @alvestrand

`RTCPeerConnection.getSenders()` doesn't seem to work on Safari. Do you know more? Suggestion for this issue?

[2018-07-23 10:50] ErikHellman commented on #1049
I'm looking at writing a more complete sample for screen-sharing. Meanwhile, you can have a look at this sample that is not yet linked from the main page: https://github.com/webrtc/samples/tree/gh-pages/src/content/extensions/desktopcapture

[2018-07-23 10:58] ErikHellman commented on #1045
Setting the video.src attribute when we stop the recording solves this problem as well. See referenced PR.

[2018-07-23 10:59] ErikHellman commented on #1067
Ping @horald. Any update on this?

[2018-07-23 11:01] ErikHellman commented on #990
I think this is related to #894

If so, see my comment on redesigning the protocol for this sample by sending the size of the data in the first message. Anyone disagree?

[2018-07-23 13:48] #854 closed, assigned to ErikHellman

[2018-07-23 14:10] #1045 closed, assigned to nobody

[2018-07-25 12:38] henbos commented on #869
Yeah looks like it :)

[2018-07-25 12:38] #869 closed, assigned to ErikHellman

[2018-07-26 08:27] ErikHellman commented on #925
I believe the PR #1074 fixes the issue that was first reported. If there are other problems, please create a new issue describing that and refer to this one.

[2018-07-26 08:27] #925 closed, assigned to ErikHellman

[2018-07-26 08:58] ErikHellman commented on #1068
I'm assuming the sample could use an update either way if we're using `OfferToReceiveAudio`? Anyone up for it?

[2018-07-26 09:06] fippo commented on #1068
offerToReceiveAudio is shimmed in adapter so that is fine.

[2018-07-26 10:46] ErikHellman commented on #1068
@fippo Sure, but the samples should reflect best practice. Would there be any problems with removing it from the sample?

[2018-07-26 11:20] fippo commented on #1068
Edge does not support data channels so that is not a viable option. offerToReceive* is still part of the spec

[2018-08-06 10:03] fippo commented on #1036
best i've figured out so far was to check for checking->connected in Firefox and connected->completed in Chrome/Safari...

[2018-08-08 09:37] fippo opened #1088 "css video cropping issues"
it looks like the recent changes to use more of the page width lead to ugly black boxes (I think its called letterboxing?) around the video. Which was present before (see e.g. https://fippo.github.io/webrtc/src/content/peerconnection/pc1/) but much less visible.

wdyt of removing the height attribute? That would let the fixed aspect ratio kick in.

[2018-08-08 09:44] ErikHellman commented on #1088
Agree.

[2018-08-08 10:37] fippo commented on #1088
ugh... this seems messier than I thought. This is defined in the main.css files of the individual samples. This somewhat makes sense as some samples have one video while others have two (or more).

No easy fix :-/

[2018-08-08 11:48] ErikHellman commented on #1088
I plan to revise that CSS file as well. Baby steps, things might break on the way, but we'll get there. :)

[2018-08-08 11:53] fippo commented on #1088
make sure @rantonysamy knows that things will break :-)

[2018-08-08 12:36] ErikHellman commented on #1088
☝️ Here you go! :)

[2018-08-08 13:25] #1088 closed, assigned to ErikHellman

[2018-08-08 22:39] smcardle opened #1092 "You broke the code"
# Please read first!
Please use [discuss-webrtc](https://groups.google.com/forum/#!forum/discuss-webrtc) for general technical discussions and questions.

- [ x] I have provided steps to reproduce
- [ x] I have provided browser name and version
- [ x] I have provided a link to the sample here or a modified version thereof

**Note: If the checkboxes above are not checked (which you do after the iss

[2018-08-09 05:32] ErikHellman commented on #1092
Thanks for noticing! The bug is fixed!

[2018-08-09 05:32] #1092 closed, assigned to nobody

[2018-08-10 07:56] fippo opened #1094 "dtmf sample does not show canInsertDTMF"
I assume the dtmf sample should show how to use canInsertDTMF before sending which it current does not. @alvestrand thoughts?

[2018-08-14 10:37] moozhub opened #1097 "getUserMedia() error: NotFoundError"
- [#] I have provided steps to reproduce
- [#] I have provided browser name and version
- [#] I have provided a link to the sample here or a modified version thereof

## Browser affected

**Browser name including version (e.g. Chrome 64.0.3282.119)**

Google Chrome Version 68.0.3440.75 (Official Build) (64-bit)
Firefox 60.1.0esr (64-bit)

## Description

Peer connection sample not working

## Step

[2018-08-14 10:57] ErikHellman commented on #1097
From the error you describe it looks like your computer doesn't have a camera and/or microphone connected. Can you test this on a computer that has camera and microphone and see if it works?

[2018-08-14 11:07] moozhub commented on #1097
The problem stemmed from not having a microphone. When removing line 71 in main.js or changing it to false it loaded the stream. Thanks for the quick reply.

[2018-08-14 11:21] #1097 closed, assigned to nobody

[2018-08-22 03:56] sirius0xff commented on #925
@ErikHellman Sorry, but no. The feature still does not work on IOS 11 safari

[2018-08-22 04:09] sirius0xff commented on #925
Hi @youennf, it is still an issue half a year later.
May you elaborate the above sentence?
Is there workaround or is it impossible?